[2017-11-20 18:15] pdehaan opened #3 "Add Travis-CI or Circle-CI"
We should probably hook up Circle-CI (or Travis-CI) so that we can run [at a minimum] ESLint and maybe build the extension on each PR so we know everything is kosher.

❤️

[2017-11-20 18:24] pdehaan opened #4 "Use cross-env for Windows goodness?"
Not sure if we need to use something like [**cross-env**](http://npm.im/cross-env) for cross-OS greatness when passing ENV vars via the CLI. Some potential edges are:

[code]

1.    `"server": "NODE_ENV=development webpack-dev-server --config webpack.web.js",`

1.   ` "watch:web": "NODE_ENV=development webpack --watch --progress --colors --config webpack.web.js",`

1.   `"watch:extension": "NODE_E

[2017-11-20 18:32] lmorchard commented on #3
Basic config here, though pondering adding some auto-deployment with some env vars and `npm run release:dev`

https://github.com/lmorchard/ThemesRFun/commit/70e55ab050da3f657b3f8d618c76b06eb6589f38

[2017-11-20 18:42] lmorchard opened #7 "Add auto-deployment to gh-pages for dev?"
Could use CircleCI to auto-deploy to gh-pages with some credentials in env vars and a tweak to add the git hash to add-on version number when running `npm run release:dev`.

Also might be worth creating a `development` branch, so auto-deploy happens from there rather than `master`

[2017-11-20 18:42] #3 closed

[2017-11-20 18:42] lmorchard commented on #3
Filed https://github.com/lmorchard/ThemesRFun/issues/7

[2017-11-20 18:43] lmorchard commented on #4
Yeah, I kind of neglected this. I'm actually on Windows. But, I do everything from the WSL bash shell and not powershell

[2017-11-20 18:49] pdehaan opened #8 "Audit dependencies"
Just a quick check. I think everything looks OK to my aging eyes, but worth a second look with somebody that has more than 20 minutes of experience with this repo:

[code]

**json-url** felt fishy, but looks like we're manually copying the file from ./node_modules/ into a /vendor/ directory (which is cool).

Babel and ESLint and \*-loader results are always fishy, based on how they are loaded by t

[2017-11-20 19:47] lmorchard commented on #7
https://github.com/lmorchard/ThemesRFun/commit/e3f6e3ca5261f23bf29516f3c9db687bce5ef254

[2017-11-20 19:47] #7 closed

[2017-11-20 21:21] pdehaan opened #9 "Remove copyright headers from src/images/*.svg files?"
... Turns out, I was invoking **eclint** incorrectly, and the src/images/\*.svg files are throwing some errors:

[code]

Here's a random .SVG file, with the 3 space indented copyright header:

[code]

Not sure if we need the copyright headers, or if we just run the whole mess through SVGO and strip the comments.

[2017-11-20 21:34] lmorchard commented on #9
Not spending too much time on this kind of stuff yet, since the UX is very likely to change dramatically in the next month or two. I just copied those images directly from the photon UX site

[2018-01-23 15:09] johngruen opened #10 "Add Acceptance Criteria"

[2018-01-23 15:10] johngruen opened #11 "Add Metrics Schema"

[2018-01-23 15:10] johngruen opened #12 "Solicit and Add Texture Packs"
I am going to round up a bunch of bg/texture images from visual designers.

[2018-01-23 15:28] lmorchard commented on #10
FWIW, I wouldn't file many issues on this repo, because I'm planning to move it to under the Mozilla org

[2018-01-26 07:28] youwenliang opened #15 "Audit compliance to visual spec"
Assets: https://github.com/mozilla/testpilot-assets/tree/master/ThemesRFun/00_Assets
Measurements: https://mozilla.github.io/testpilot-assets/ThemesRFun/01_Measurements/ThemesRFun/

Thanks!

[2018-01-30 16:14] johngruen commented on #9
We are gonna get rid of these textures anyway

[2018-01-31 14:19] johngruen opened #17 "TRF should indicate that it is a Test Pilot experiment and link back to Test Pilot"
Similar to send.firefox.com

@youwenliang

[2018-01-31 14:21] johngruen opened #18 "Finalize TRF Icon"
We need an add-on icon at both 32 x 32px SVG and a 192 x 192 white PNG (for the Test Pilot Site)

[2018-01-31 17:07] johngruen opened #19 "provide a clean version of bg_texture_02.svg"
The current SVG is all messed up. Please provide a cleaned up version

[2018-01-31 19:14] lmorchard opened #21 "Tweak add-on signing in deployment to re-use previously signed XPI if version hasn't changed"
Currently, all deployments of the site via the development branch attempt to sign the add-on build. [This will fail if the add-on version hasn't been changed.](https://circleci.com/gh/mozilla/ThemesRFun/35)

But, if nothing has changed in the add-on (i.e. no code, not the shared BG images), this is wasteful. Would be handy to tweak the deployment to just download and re-use an existing signed XPI

[2018-01-31 21:27] johngruen opened #22 "background image doubles at right side of browser"
Not sure exactly what's going on here but...

![screen shot 2018-01-31 at 10 27 04 pm](https://user-images.githubusercontent.com/3323249/35648391-ea8cd254-06d5-11e8-9e7a-a3814f6d2a1f.png)

[2018-02-01 06:41] youwenliang commented on #19
I updated the link, should be fixed now.
https://github.com/mozilla/testpilot-assets/blob/master/ThemesRFun/00_Assets/bg_texture_02.svg

[2018-02-01 11:53] johngruen opened #23 "Finalize experiment name"

[2018-02-01 11:54] johngruen opened #24 "Add the capability to select from pre-determined themes"
As a user, i would like to select from complete example themes.

This feature is laid out in the spec as 'Popular' themes, but should actually just be a set of complete theme declarations we provide.

This page shows the picker UI: https://mozilla.github.io/testpilot-assets/ThemesRFun/01_Measurements/ThemesRFun/#artboard5

This page shows the hover state: https://mozilla.github.io/testpilot-assets

[2018-02-01 17:34] pdehaan opened #26 "Add jsx-a11y ESLint rules?"
I randomly tried adding the [**eslint-plugin-jsx-a11y**](http://npm.im/eslint-plugin-jsx-a11y) plugin to our ESLint config, extended the "plugin:jsx-a11y/recommended" rules and it returned 18 errors. Not sure if we want to take a look and possibly add it to our config:

[code]

[code]

And on that note, not sure if we want to drop the **airbnb-base** rules in favor of the **plugin:mozilla/recommen

[2018-02-01 19:05] lmorchard commented on #19
dbb6cc1

[2018-02-01 19:05] #19 closed

[2018-02-01 19:07] apoorvaagupta commented on #24
Hello, @johngruen Can I work on this issue under your mentorship?!

[2018-02-01 19:22] johngruen opened #27 "Add theme approval step if existing user receives theme link"
If an installed user receives a new theme link, they should be prompted to accept it before their browser's ui gets updated.

Spec here:
https://mozilla.github.io/testpilot-assets/ThemesRFun/01_Measurements/ThemesRFun/

[2018-02-01 19:22] #10 closed

[2018-02-01 19:30] johngruen opened #28 "Provide Firefox Download link if user is in a different browser"
If a user visits TRF from a non-firefox browser, we should prompt them to download firefox:

Spec is here: https://mozilla.github.io/testpilot-assets/ThemesRFun/01_Measurements/ThemesRFun/#artboard2

Note: do not implement the dismiss button

URL should be something like this with the final name slotted in:
[code]

[2018-02-01 19:33] johngruen opened #29 "Add link to feedback survey"
Survey link should only appear when the user has TRF installed
Survey link should have the following params:

`ver=${addon-ver} and ref=app`

[2018-02-01 19:33] johngruen commented on #29
@youwenliang we don't have ux or assets for this...please provide

[2018-02-01 19:39] johngruen opened #30 "The color picker should only allow changes to Alpha channel for certain sections"
Only the Toolbar Color and Toolbar Input Background Color accept alpha values. The color picker UI should omit alpha values for other color types.

[2018-02-01 20:08] johngruen opened #31 "TRF installers should be informed of Test Pilot"
If a user installs TRF from the TRF website, they should be prompted to check out test pilot.

[2018-02-01 22:36] lmorchard commented on #31
Something that might need figuring out: If the user is viewing a theme that got shared with them, and they want to install TRF to get that theme - how do they get back to that theme if we send them away to Test Pilot?

[2018-02-02 05:57] youwenliang commented on #31
I think John was saying not redirecting to Testpilot but to show a link to testpilot so that it won't break the process.

[2018-02-02 09:07] johngruen commented on #31
@lmorchard yeah, sorry the title here was a bit vague, @youwenliang is right.

[2018-02-02 09:16] johngruen commented on #24
Hey @apoorvaagupta I am actually already working on this one, though i didn't assign myself just yet. The overall UX for for this project are still in progress (at least for the next few weeks) and I'm not sure we're quite ready for contributions since the overall project is subject to change.

For the moment, I'd recommend looking at some of our other experiments, Screenshots or Test Pilot itself

[2018-02-02 17:05] apoorvaagupta commented on #24
Thanks a lot @johngruen !! I will check other repositories to contribute :)

[2018-02-02 21:17] lmorchard opened #33 "Implement real URL in ThemeUrl component"

[2018-02-02 21:17] lmorchard commented on #33
Will probably also try throwing clipboard functionality in here, too

[2018-02-04 23:05] johngruen opened #35 "The TRF theme should persist when a user peels off a new window"
If i pull off a tab into a new window I lose  my TRF theme in the new window.

Maybe this is a limitation of the API, but it'd be good to know if this behavior is preventable.

[2018-02-05 16:32] lmorchard commented on #35
I can reproduce this with dragging a tab off and also just with creating a new window. I don't remember that happening before - looks like maybe an upstream bug. But we might be able to re-apply the current theme in the extension whenever a new window is created as a band-aid

[2018-02-06 16:46] lmorchard commented on #18
FWIW, from [acceptance.md](https://github.com/mozilla/ThemesRFun/blob/master/docs/acceptance.md):

[2018-02-06 16:50] lmorchard commented on #23
Trying to think of places this will touch in code, so we don't miss them. Add-on ID, description, site content, etc. Not sure if we want to bother renaming the repo itself on github?

[2018-02-06 17:29] chuckharmston opened #37 "Consider passing color values in URL rather than hash"
That'd make it a lot easier to do colorspace analysis.

[2018-02-06 19:54] lmorchard opened #38 "Audit styles to match Photon"
From [acceptance criteria](https://github.com/mozilla/ThemesRFun/blob/master/docs/acceptance.md):

We'll probably just be doing this along the way, but filing this issue as kind of a final checkbox toward the end.

[2018-02-06 19:58] lmorchard commented on #37
Can you elaborate on what you mean? The theme is currently a compressed JSON object encoded as base64 in the URL param - it's not using the hash

[2018-02-06 20:04] lmorchard commented on #37
Oh, you mean serialize the JSON as set of URL parameters? (By hash, I thought you meant the fragment identifier #hash) I tried doing that at one point, but the URL handling got kind of gnarly. We can take another swing at it, though. This is the kind of data we'll have to serialize/deserialize, maybe need to work on munging property names a bit to reduce length:

[code]

[2018-02-06 20:05] lmorchard opened #39 "Add list of links in page footer to privacy doco"
From [acceptance criteria](https://github.com/mozilla/ThemesRFun/blob/master/docs/acceptance.md):

[2018-02-06 20:07] lmorchard commented on #37
FWIW, alternatively, we could ping some metrics service with the de-serialized theme data directly

[2018-02-06 20:08] lmorchard opened #40 "Audit compliance to visual specs"
From [acceptance criteria](https://github.com/mozilla/ThemesRFun/blob/master/docs/acceptance.md):

Another final checklist item for near the end

[2018-02-06 20:11] lmorchard opened #41 "Ensure responsive styles work down to 640px width"
From [acceptance criteria](https://github.com/mozilla/ThemesRFun/blob/master/docs/acceptance.md):

Another final checklist item for near the end

[2018-02-06 20:13] lmorchard opened #42 "Implement undo / redo in theme editing"
From [acceptance criteria](https://github.com/mozilla/ThemesRFun/blob/master/docs/acceptance.md):

This currently works with browser back & forward navigation. We should be able to hook the same thing up to buttons on the page by maintaining a stack of previous state.

[2018-02-06 20:16] lmorchard commented on #42
Is this the UX for undo / redo? (If so, what's the "reload" like button for?)
![capture](https://user-images.githubusercontent.com/21687/35881975-9d10be44-0b50-11e8-931d-cf59f58e9180.PNG)

[2018-02-06 20:18] lmorchard opened #43 "Implement saving themes to local storage with previews"
From [acceptance criteria](https://github.com/mozilla/ThemesRFun/blob/master/docs/acceptance.md):

[2018-02-06 20:20] lmorchard opened #44 "Implement resetting to default theme state"
From [acceptance criteria](https://github.com/mozilla/ThemesRFun/blob/master/docs/acceptance.md):

[2018-02-06 20:21] lmorchard commented on #44
This could be considered done, insofar as uninstalling the add-on reverses theme changes.

Doing it while the add-on is installed might be a challenge, though - I don't think we can get a representation of the default theme to re-apply it.

[2018-02-06 20:23] lmorchard opened #45 "Ensure we have decent mobile styles"
From [acceptance criteria](https://github.com/mozilla/ThemesRFun/blob/master/docs/acceptance.md):

[2018-02-06 20:26] lmorchard opened #46 "Implement GA metrics pings"
From [acceptance criteria](https://github.com/mozilla/ThemesRFun/blob/master/docs/acceptance.md):

[2018-02-06 20:28] lmorchard commented on #46
Metrics spec pending in #11

[2018-02-06 20:29] lmorchard opened #47 "Audit a11y requirements"
From [acceptance criteria](https://github.com/mozilla/ThemesRFun/blob/master/docs/acceptance.md):

Filing this issue as a checklist item for near the end, though it should be an aspect we mind all along the way

[2018-02-06 20:37] johngruen commented on #37
Could we do something like trf.com/?a=ffccaa&b=ccaabb&c=aaffaa...?

[2018-02-06 20:42] lmorchard commented on #37
I think the format would depend on exactly how and where we want to do the color metrics.

And also how often do we want to record it - because the URL changes for every change the user makes to the theme. Would it be better to record the theme at more significant points? (e.g. when sharing out or receiving a shared theme?)

[2018-02-06 20:56] johngruen commented on #43
@youwenliang I think we still need UX for this...Don't worry about a pixel perfect visual spec

[2018-02-06 21:09] johngruen commented on #37
I added these as custom dimensions using HSL(A) values passed in as CSVs. The idea would be that this format would be the easiest to parse in a big SQL table, but it might be no different to send them as HEX or HEXa

[2018-02-06 21:09] johngruen commented on #23
WRT repo, we probably don't need to bother

[2018-02-06 21:46] lmorchard commented on #37
So, does that look at the URL (and so we change the URL format) or do we ping it from JS?

[2018-02-07 08:40] #33 closed

[2018-02-07 08:42] #24 closed

[2018-02-07 16:20] lmorchard commented on #37
But, I'm saying we might not even need to tweak the URL if we use something else to measure this (i.e. pings from JS with the measurement protocol)

[2018-02-07 21:34] lmorchard opened #50 "Theme data validation / ensure good default"
Still kind of baffled by how the theme data ended up being bad from [chuck's screengrab](https://github.com/mozilla/ThemesRFun/pull/34#issuecomment-363450965). Did [a quick patch](https://github.com/mozilla/ThemesRFun/pull/34/files#diff-dd2928a10097fea354d05b27c5c36d87R9) that seemed to fix the error, but I think the error was unrelated to [that PR](https://github.com/mozilla/ThemesRFun/pull/34) a

[2018-02-07 21:40] lmorchard commented on #27
One wrinkle, if only as a note to myself:

That is, *except* for the initial load with a shared theme link. Should figure out if the easiest way to do that is to add another URL parameter that only gets included on the link share field. But, that wouldn't apply to the URL bar, which is another place that the theme could be shared from.

Maybe just needs to ask permission on initial page startup wh

[2018-02-07 21:57] lmorchard commented on #37
Also FWIW, looks like #11 would be a good place to hash this out from the metrics specs side and #46 for implementation side

[2018-02-07 22:09] lmorchard opened #53 "Continuous deployment to gh-pages from master?"
In #7, I got auto-deployment to gh-pages working from the development branch - not master. That means any deploy to dev has to go through that branch first. This differs from Test Pilot proper.

Apropos of that difference, it might be nice to make every merge to master get deployed.

This is practically blocked by #21 - since there will be an error in add-on signing during deployment unless the ad

[2018-02-07 22:56] lmorchard commented on #44
Oh, actually, looks like we have [a reset API call](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/theme/reset)! One caveat:

There is also [a getCurrent() API call](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/theme/getCurrent), but I think that's limited to themes using the theme API - i.e. not the built-in default / light / dark themes

[2018-02-07 23:01] lmorchard commented on #44
@johngruen Is the little circle-arrow icon here meant to be for reset-to-default?

![capture](https://user-images.githubusercontent.com/21687/35946182-d5b5e86a-0c30-11e8-9fc3-9e088d4029d4.PNG)

[2018-02-07 23:05] lmorchard commented on #44
One more caveat, thinking through this: If the user resets to default, we probably can't populate the color settings with that default theme. Not quite sure what to reset the editor to in this case, then.

[2018-02-08 02:57] youwenliang commented on #41
For responsive view I was thinking something like this:

width 1200px
<img width="512" alt="image" src="https://user-images.githubusercontent.com/8919308/35953241-9b08190c-0cbe-11e8-90e5-e65583f72504.png">

width over 1200px
<img width="512" alt="image" src="https://user-images.githubusercontent.com/8919308/35953246-a312d934-0cbe-11e8-9348-a08536a4152a.png">

width below 1200px and above 640px
<im

[2018-02-08 03:24] youwenliang commented on #31
I think we can have something like an oboarding tour image when people install TRF through the TRF website. They can click learn more to visit the TRF detail page in Test pilot website.
![final_receiver_with extension02](https://user-images.githubusercontent.com/8919308/35953945-1d3e0faa-0cc2-11e8-9b0c-865545128b1a.png) (Slide 1)

And if the link they visited is from other users, they can still ap

[2018-02-08 12:51] johngruen commented on #31
@youwenliang i think we would apply the theme already as part of the install process since they've already opted in...

[2018-02-08 13:18] johngruen commented on #27
@lmorchard edge case would be not to do it if `themeParam === currentTheme`

[2018-02-08 20:14] #35 closed

[2018-02-08 20:18] #22 closed

[2018-02-08 20:22] #30 closed

[2018-02-08 20:24] chuckharmston commented on #44
I'm a little concerned about the iconography here; that looks like "refresh", not "reset". Hopefully it's a non-destructive action, i.e. you can undo it?

[2018-02-08 20:40] lmorchard commented on #9
Going to close this one for now

[2018-02-08 20:40] #9 closed

[2018-02-08 21:56] #42 closed

[2018-02-08 22:02] lmorchard commented on #15
From [acceptance criteria](https://github.com/mozilla/ThemesRFun/blob/master/docs/acceptance.md):

Another final checklist item for near the end

[2018-02-08 22:02] lmorchard commented on #40
Going to close this as a dupe of #15

[2018-02-08 22:02] #40 closed

[2018-02-08 22:03] lmorchard commented on #26
Hmm, I wonder if this can help get us to satisfying #47

[2018-02-08 22:15] lmorchard commented on #8
Look like sass-loader depends on node-sass, despite what depcheck says. Build fails if I omit it from dependencies. The other two - clean-webpack-plugin and ejs - were used in code that I've since deleted, so they can go for now

[2018-02-08 22:21] #8 closed

[2018-02-09 02:50] youwenliang commented on #31
@johngruen yes you are right. We can just have the 1 slide onboarding to direct people to Test Pilot.

[2018-02-09 09:02] youwenliang commented on #29
Here's the button:
https://mozilla.github.io/testpilot-assets/ThemesRFun/01_Measurements/ThemeRFun_feedback/

[2018-02-09 09:31] johngruen commented on #44
We should also make sure to have tooltips

[2018-02-09 19:51] pdehaan opened #58 "Color chips resize slightly when selecting item"
I made a pretty rad [rainbow theme](https://mozilla.github.io/ThemesRFun/?theme=XQAAAAIJAQAAAAAAAABBKYkm0ypxtqu9mB2KK4d4ccIgevwats_sOw9RE2e7oEmWHhMAwySPjd9PWLIRa3i2_IhUrLinugIGwsoHSMQuNXKNe1-IgpFgRFbLo1UG2TF55MYKTtoclNxtrMJBetGlpKbwobZcLVIFPkwaOkSdavp8b6ppcZlVRUNrXgQQ1Cx3FMM3YZAmug4ll-C1byd2tikv6wnjhFt1CFa0B4re5ZesBEdgLxIZxFgnGo5R9OfmbEJpfgM___P2OWw) but noticed that when I select an item to custo

[2018-02-09 19:57] pdehaan commented on #58
Also worth noting, is that my browser is a 15" rMBP on an external 24" Dell monitor at 50% width (around 959px wide):

![themesrneat](https://user-images.githubusercontent.com/557895/36047246-539809d8-0d90-11e8-9270-0330372945cc.png)

[2018-02-09 20:21] pdehaan commented on #53
I think I have a related question... Are we planning on having a webserver for this service? As far as I can tell, we're currently using some single page React app on mozilla.github.io/ThemesRFun.

But should we be standing up some Express/Hapi server to serve the page+assets and stuff like a `/__version__` endpoint and other OPs like endpoints for health checks, etc?

[2018-02-09 21:05] meandavejustice commented on #53
@pdehaan This may be a dumb question, but couldn't we still serve the `__version__` endpoint and health checks from ghpages? Seems like they could just be statically served json files generated at build/deploy time.

Additionally, I wonder if there are any existing user facing mozilla sites hosted on gh-pages. if so there might be something internally that could check status.github.com.

[2018-02-09 21:48] pdehaan commented on #53
I'm sure we could we could serve a static ghpages of `/__version__`. I was just thinking if OPs is going to be deploying a server for production, it'd make sense for dev/stage to follow similar processes/infra so we could verify server deployments.

Here's what the [testpilot.firefox.com](https://testpilot.firefox.com/__version__) looks like:

[code]

... or [send.firefox.com's `/__version__`](htt

[2018-02-09 23:02] lmorchard commented on #53
Yes, though it might just be Amazon S3, in production.

Yes, that's how it's served up in development right now. We're not planning to use GitHub Pages in production.

We don't need that - hosting would be similar to Test Pilot, which also lives on Amazon S3. The /__version__ endpoint is just a static file.

[2018-02-09 23:09] lmorchard commented on #53
Also, FWIW: On Test Pilot itself, the development site is self-service by the dev team. Stage & prod are managed by ops. All basically S3 + CloudFront, but dev uses public CircleCI while stage & prod use internal Jenkins.

[2018-02-09 23:10] lmorchard commented on #53
And also FWIW: gh-pages deployment is currently a manual push to the development branch - it doesn't track master. Thus, this issue to change that to continuous deployment.

[2018-02-09 23:13] lmorchard commented on #58
I think [the text size change is intentional](https://mozilla.github.io/testpilot-assets/ThemesRFun/01_Measurements/ThemesRFun/#artboard6), but not a sized change in the color chip

[2018-02-09 23:16] lmorchard opened #60 "Generate /__version__ resource on deployment"
We should have a `/__version__` resource like Test Pilot that gets generated on deployment. Properties something like this:
[code]

[2018-02-09 23:16] lmorchard commented on #53
Files [an issue](https://github.com/mozilla/ThemesRFun/issues/60) to remember to actually  generate a `/__version__` resource

[2018-02-10 02:26] pdehaan commented on #60
Not sure if we want `/__heartbeat__` and `/__lbheartbeat__` endpoints too, per https://mana.mozilla.org/wiki/display/SVCOPS/New+Service+Guide#NewServiceGuide-StandardEndpoints

It may depend on whether we're hosting this ourselves, or if OPs will be hosting it.

[2018-02-10 02:28] pdehaan commented on #58
The text size change may be contributing to the word wrapping which may affect the chip size, but that wouldn't explain the apparent slight change on "Toolbar Input Background Color" option, which is already wrapped.

It may be worse for more verbose locales like German which may cause strings to wrap to a third line with a smaller viewport.

[2018-02-12 15:45] lmorchard commented on #60
We don't have those for Test Pilot, so we probably won't have them here. I think those endpoints are mainly for where there's a web application server. The heartbeat is for the app server and lbheartbeat is for a load balancer, and we'll have neither.

[2018-02-13 16:10] lmorchard opened #61 "Build a loader component for great experiential justice"

[2018-02-13 16:10] johngruen opened #62 "Make a loader component"
Let's make the page look pretty from the jump by having a cool loader component until we can determine if the user has the add-on available.

[2018-02-13 16:11] #61 closed

[2018-02-13 20:06] lmorchard opened #64 "Add doco for app state flows?"
I added this as a comment in `src/web/index.js` in #59. Would be good to find a better place for it.
[code]

[2018-02-13 20:17] #27 closed

[2018-02-14 12:06] nt1m opened #65 "Experiment with dynamic theme rules"
See https://hacks.mozilla.org/2018/01/a-rule-based-framework-to-create-dynamic-themes/

This could be an interesting thing for this experiment to do.

[2018-02-14 19:19] johngruen opened #66 "Add more preset themes"

[2018-02-14 19:23] lmorchard commented on #50
FWIW: Need to make sure validation takes place in both the add-on and the site content

[2018-02-14 19:30] jvehent opened #67 "Backend Security Checklist"
Risk Management
---------------
* [ ] ~~The service must have performed a Rapid Risk Assessment and have a Risk Record bug~~
* [ ] Public staging and production endpoints must be added to the [security baseline](https://github.com/mozilla-services/foxsec/blob/master/services/README.md)

Infrastructure (for ops)
--------------

* [ ] Access and application logs must be archived for a minimum of 90

[2018-02-14 19:31] jvehent commented on #67
I crossed off a bunch of items since this is a static site. Please go through the rest before going live.

[2018-02-14 19:35] lmorchard opened #68 "Constrain content message handler using a switch statement"
I used a JS object for message handler dispatch. This should probably be a switch statement to constrain the accepted messages:

https://github.com/mozilla/ThemesRFun/blob/master/src/extension/background.js#L20
[code]

[2018-02-14 20:41] lmorchard commented on #4
Un-assigning myself for now so someone else could pick this up if I don't soon

[2018-02-15 21:43] lmorchard opened #70 "Consider adding new theme properties to editor"
From [These Weeks in Firefox: Issue 32 ](https://blog.nightly.mozilla.org/2018/02/15/these-weeks-in-firefox-issue-32/):

Need to play with these and see exactly what they do, filing this issue to not forget about it.

[2018-02-20 16:12] #62 closed

[2018-02-20 16:15] chuckharmston opened #72 "Add margin for error in theme comparison"
As discovered in #69, our theme equality checks can fall prey to tricky floating point math precision problems. Could we add some margin for error in that? Two ideas:

1. Flooring each number before comparison.
2. Instead of `oldTheme.propertyName === newTheme.propertyName`, use something like `Math.abs(oldTheme.propertyName - newTheme.propertyName) < 2` to provide a bit of margin for error?

[2018-02-20 16:20] #50 closed

[2018-02-20 16:20] chuckharmston commented on #72
Closed by #71

[2018-02-20 16:20] #72 closed

[2018-02-20 21:10] lmorchard commented on #46
Do we have a tracking ID for GA?

[2018-02-20 21:12] chuckharmston commented on #46
CC @wresuolc for that.

[2018-02-20 21:41] #68 closed

[2018-02-21 19:09] wresuolc commented on #46
I'm waiting to get one until we have a final name / domain.  @johngruen

[2018-02-22 20:05] johngruen commented on #23
For the name, Michelle is doing a legal/l10n review for a few different options, should let us know this week.

[2018-02-22 20:08] #29 closed

[2018-02-22 22:25] lmorchard commented on #44
I poked at this one a bit. @johngruen - I think we might need to do some product thinking on this.

We can revert an extension-applied theme with `browser.theme.reset()` - so that leaves us with the default theme in the browser.

But, we can't *read* that theme. There's a `browser.theme.getCurrent()` but it returns `undefined` after a `reset()`. We can only use that API to fetch theme properties t

[2018-02-23 17:09] johngruen commented on #47
I'd also recommend running this through chrome's new a11y auditor

[2018-02-23 17:54] pdehaan commented on #47
Another one I really like is **sonarwhal**, although I assume all of these tools are using [aXe](https://www.deque.com/products/axe/) for a11y linting.
Here's the results for <https://mozilla.github.io/ThemesRFun/>:

https://sonarwhal.com/scanner/1d9be01e-d557-46f6-a5b7-7f2d3a5f85a5

![sonarwhal-axe](https://user-images.githubusercontent.com/557895/36608167-d8b0c63a-187d-11e8-953c-e22b06820f2b.png

[2018-02-23 18:50] pdehaan opened #79 "Add twitter/opengraph headers?"
Not sure if these came up in the a11y linting bug results from **sonarwhal** or **lighthouse** tools in https://github.com/mozilla/ThemesRFun/issues/47#issuecomment-368087825 (or anywhere else), but...

Do we want to add [Twitter](https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/markup) and [OpenGraph](http://ogp.me/) meta tags for improved sharing greatness?

[code]

[2018-02-23 19:06] #4 closed

[2018-02-23 20:02] #58 closed

[2018-02-23 22:26] johngruen opened #83 "Footer issues"
* There's some kind of weird flickering thing happening with the links
* The GH/Twit links don't seem to be clickable
* The footer should always be at the bottom of the window

[2018-02-23 22:27] johngruen opened #84 "Make sure browser gets flipped to theme when i install TRF"
Right now it looks like the theme does not get set when the add-on installs.

[2018-02-23 22:29] johngruen commented on #44
@lmorchard what if we just nuke this button and be done with it...

[2018-02-26 17:47] lmorchard commented on #44
I'm good with dropping the button. FWIW, the theme *does* revert to default on add-on uninstall, so we've got that at least. I'll call this closed for that.

[2018-02-26 17:47] #44 closed

[2018-02-26 18:02] #43 closed

[2018-02-26 18:02] #83 closed

[2018-02-26 18:06] lmorchard commented on #66
I think we can call this closed with c02ab4414cb152ce8339d61b7d4cfc260917b98f and just add more presets whenever

[2018-02-26 18:06] #66 closed

[2018-02-26 19:39] #84 closed

[2018-02-27 17:14] lmorchard commented on #15
We've drifted quite a lot from the original visual spec. Good stuff, IMO, but probably invalidates this issue as a requirement

[2018-02-27 17:15] lmorchard commented on #17
I think we've got this one done, at least insofar as we mention Test Pilot and link back
![capture](https://user-images.githubusercontent.com/21687/36743302-f3ac10a6-1bb7-11e8-8eef-9a745cd8832b.PNG)

[2018-02-27 17:15] #17 closed

[2018-02-27 17:36] 6a68 opened #91 "Give themes names (<140 chars)"
Would be really easy to wedge into a URL, and makes the theme creation / selection more evocative

[2018-02-27 17:38] johannhof opened #92 "Support arrow panel theming"
You can now theme arrow panels in Nightly (https://bugzilla.mozilla.org/show_bug.cgi?id=1417880), so it would be cool to have that in this add-on.

[2018-02-27 17:53] johngruen commented on #92
for sure. i'm gonna close this in favor or: #70 where we can track all the new APIs as they land

[2018-02-27 17:53] johngruen commented on #70
Also added
[code]

[2018-02-27 17:56] johngruen commented on #91
As long as we can name at least one them _Miami Nightmare_ i'm good with this...

We could give names to all the preset themes anyway and let just the names be shared instead of the hash?

[2018-02-27 17:57] #92 closed

[2018-02-27 18:05] lmorchard opened #93 "Generate a standalone theme add-on from template?"
Just an idea from IRC: What if we had an option to produce an actual standalone add-on from templated code that implemented a theme from the editor? Could be a real thing a user could submit to AMO, or possibly take it as a starting point for more advanced theme tinkering.

[2018-02-27 18:08] lmorchard opened #94 "Enable users to contribute themes back to the project for inclusion in presets"
Just merged [the hotdog stand theme PR](https://github.com/mozilla/ThemesRFun/pull/90) from @6a68, and it occurs to me it might be interesting to have some mechanism to allow users to submit their favorite themes as contributions to our set of presets.

Could do something that takes a shared theme URL and converts it to theme JSON to add to the project. Also had a notion to switch from the monolit

[2018-02-27 18:27] johngruen opened #95 "Just a sea of question marks"
Noticed by Sean M...

We may need to add Fira to the site.
![screenshot 2018-02-27 12 13 21](https://user-images.githubusercontent.com/3323249/36746878-46fb2e32-1ba8-11e8-9833-3c41ebca2b76.png)

[2018-02-27 18:28] chuckharmston commented on #95
You've triggered the secret Mario level easter egg. Enjoy trying to defeat Bowser.

[2018-02-27 18:29] lmorchard opened #96 "Add using storage.sync for saved themes?"
I just remembered that [`storage.sync`](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/storage/sync) is a thing. But, it's only a thing for the add-on. That could make it of limited use, though possibly a handy enhancement.

[2018-02-27 18:34] nt1m commented on #70
Small note: They're named `popup_` now, not `arrowpanel_`.

[2018-02-27 18:35] nt1m commented on #96
Some people don't want their theme to synchronise across devices.

[2018-02-27 18:36] nt1m opened #97 "Textures are invisible with a dark background"

[2018-02-27 18:45] lmorchard commented on #96
That's a good point. This would have to be optional. Though, to be clear, what I mean is that this would be synching the set of saved theme options in the web editor - not necessarily synching the actual current theme applied to the browser.

[2018-02-27 19:29] pdehaan opened #98 "Copy button and textfield are misaligned on Chrome"
Using latest release Chrome on macOS:

![firefox_theme_generator_-_chrome](https://user-images.githubusercontent.com/557895/36749986-48e463b8-1bb1-11e8-928e-b158dc441562.png)

And for reference, here's the [same page/theme](https://mozilla.github.io/ThemesRFun/?theme=XQAAAALAAAAAAAAAAABBKYhm849SCiaxqiaEGccwS-xNVABNDRsV6U7qNgnma-u-65mMzb5P6y-1FTqdUX8g5fRMtB6bgj-boR3uAZCs5-mWSne2yj1qEJO06_tD4BsnHzdf

[2018-02-27 19:33] pdehaan opened #99 "Add confirmation dialog before deleting a saved theme?"
If you have a saved theme, hover over it, and then click the (X) icon in the upper-right corner, the theme is deleted immediately without any confirmation or ability to undo.

[2018-02-27 19:38] pdehaan opened #100 "Add ability to paginate saved themes?"
Once you save a lot of themes, they can get difficult to manage. Not sure if we want to consider paginating saved themes so we only show 12-16 per "page" and then have forward/back arrows, or if we don't expect people to be saving large quantities of themes and this is probably a fairly small edge case.

![screenshot-2018-2-27 firefox theme generator](https://user-images.githubusercontent.com/5578

[2018-02-27 19:43] johngruen commented on #97
Yep, I'll leave this open, but we are working on new textures!

[2018-02-27 19:46] johngruen commented on #94
@pdehaan that's basically it...basically all these values get passed into CSS vars in Firefox and some get referenced in contexts that don't seem to allow alpha values

[2018-02-27 19:59] lmorchard commented on #91
That wouldn't be too hard to do, though I do like having the sharing scheme be consistent across themes.

[2018-02-27 20:01] lmorchard commented on #94
Also, the only reason all the colors have alpha even where they're not supported is because, at one point, I didn't realize that - so all the presets just got alphas on all the things. They don't have to be there, I don't think

[2018-02-27 20:11] lmorchard opened #101 "Embeddable theme previews"
Total blue sky idea: Might be interesting to offer embeddable theme previews for third-party pages (ie. blogs) and social media. Easiest would be via iframe - but not useful for social media. Harder would be to somehow generate an image preview for Twitter & Facebook & friends. (i.e. we'd need some kind of active server-side component to turn theme JSON into an image, from an automatic screenshot

[2018-02-27 21:45] nt1m commented on #93
Yes, it would be really awesome to be able to publish to AMO easily.

[2018-02-27 22:12] johngruen commented on #99
🤷‍♂️

[2018-02-27 22:24] nt1m opened #102 "Texture popup should use 3 columns on Windows"
![screenshot-2018-2-27 firefox theme generator](https://user-images.githubusercontent.com/1795135/36758614-de62d252-1c0c-11e8-8b5b-a0036eefcb04.png)

I assume this is a bug due to the scrollbar.

[2018-02-27 22:37] pdehaan commented on #101
Is this something that [Screenshots](https://github.com/mozilla-services/screenshots) would be able to do? Or does Screenshots require somebody to manually select a DOM element and we should use something like ~~a headless PhantomJS, [**webshot**](https://github.com/brenden/node-webshot), or whatever the kids use these days~~ [**puppeteer**](https://github.com/GoogleChrome/puppeteer).

[2018-02-28 01:42] pdehaan opened #103 "Privacy and Terms links 404 on mozilla.github.io/ThemesRFun"
### Steps to repoduce:

1. Go to https://mozilla.github.io/ThemesRFun/
1. Click the "Privacy" or "Terms" links in the footer.

### Actual results:
Both links 404.

### Expected results:
No 404s.

https://github.com/mozilla/ThemesRFun/blob/5cdcb7e15d64934f0e71521512c74337dc58fa05/src/web/lib/components/AppFooter/index.js#L21-L26

This is probably because the dev site is hosted on GitHub Pages which

[2018-02-28 03:46] lmorchard commented on #103
These pages don't actually exist yet - these are just placeholder links

[2018-02-28 03:49] lmorchard commented on #101
Screenshots is manual, we have to use something like webshot or puppeteer.

Another approach might be to construct an SVG with the colors filled out and then use something like [svg2png](https://www.npmjs.com/package/svg2png) to render it, since I don't think Twitter or Facebook accept SVG for thumbnails

[2018-02-28 07:42] pdehaan commented on #101
+1 to SVG idea. I was trying to figure out Puppeteer API and didn't see an obvious way of selecting a single DOM element to snapshot (but you can set a viewport and a x/y width/height).

[2018-02-28 07:45] pdehaan commented on #103
But still, even if you create a /legal page, i think it'd still 404 since GitHub pages operates in a subdirectory of the mozilla.github.io domain. I think. But if OPs is hosting the stage/production pages on AWS, then QA could always verify there. Unless there is some other cheap solution, like setting the legal url to a relative URL like`./legal` instead of an absolute `/legal`.

[2018-02-28 16:02] lmorchard commented on #101
Yeah, I think we'd probably want to customize the particular thumbnail for sharing, versus trying to take a direct screen shot of some DOM elements

[2018-02-28 16:02] #95 closed

[2018-02-28 19:22] #28 closed

[2018-02-28 19:30] #46 closed

[2018-02-28 21:10] lmorchard commented on #11
Tweaked the title on this - we *have* a metrics schema, we need to finish whatever tweaks are necessary

[2018-03-01 03:58] youwenliang commented on #18
Here's the Themer Icon measurement & assets:
https://mozilla.github.io/testpilot-assets/ThemesRFun/01_Measurements/App_icon/
Icons: https://github.com/mozilla/testpilot-assets/tree/master/ThemesRFun/01_Measurements/App_icon/assets

[2018-03-01 03:59] youwenliang commented on #45
Here's an idea for the mobile page: (Need to think about the content)
https://mozilla.github.io/testpilot-assets/ThemesRFun/01_Measurements/Mobile_page/
Icon: https://github.com/mozilla/testpilot-assets/tree/master/ThemesRFun/01_Measurements/Mobile_page/assets

We could also add a call to action button that links to testpilot's experiment detail page.

[2018-03-01 18:38] pdehaan opened #108 "Add a theme linter?"
Not sure if we want to build something w/ [**ajv**](http://npm.im/ajv), or [**joi**](http://npm.im/joi), or your schema validator of choice to make sure we're validating themes so that they don't have any extra/missing properties. Will also make it easier to validate theme data in the future if we add names (#91) or additional properties (#70).

I had a couple lame ideas in https://github.com/mozi

[2018-03-01 18:47] lmorchard commented on #108
This could be a good idea to go along with separating out the themes as individual JSON files from constants.js

[2018-03-01 19:02] pdehaan commented on #108
I also found it a little odd that the `defaultColors` constant has the exact same values, as `presetColors[0]`.

https://github.com/mozilla/ThemesRFun/blob/a57c5b5a231e669193662091138ea5bd8c963e27/src/lib/constants.js#L21-L54

https://github.com/mozilla/ThemesRFun/blob/a57c5b5a231e669193662091138ea5bd8c963e27/src/lib/constants.js#L56-L90

Not sure if it'd be better to just do:

[code]

I was tryin

[2018-03-01 19:06] lmorchard commented on #108
`defaultColors` predates the preset colors feature just slightly, so I guess it was just a good copypasta candidate.

What I'm planning to do is use [Webpack's require context feature](https://webpack.js.org/guides/dependency-management/), which lets you require a set of assets from a directory. I do that [over here for background images](https://github.com/mozilla/ThemesRFun/blob/master/src/web/l

[2018-03-01 20:27] pdehaan commented on #108
That's beautiful! 💯

[2018-03-05 17:57] #18 closed

[2018-03-06 02:25] johngruen commented on #45
This looks good to me, i can pick this up.

[2018-03-06 02:42] johngruen commented on #102
yeah i think, good catch!

Also we just got a fresh delivery of some hot new textures, so I'll add those this week too.

[2018-03-06 03:49] johngruen opened #113 "Proposal to change JSON structure for preset themes"
I noticed that the file structure for preset themes is causing a bit of a hiccup in our UI where an extra picker element is being rendered. (hint: look under the toolbar color editor)

![image](https://user-images.githubusercontent.com/3323249/37013385-3e076fcc-20bf-11e8-918f-4653589ad363.png)

Looks like this is happening b/c the new `title` prop is being passed into the `ThemeColorsEditor` as pa

[2018-03-06 03:57] johngruen commented on #113
Oh, i just noticed #112 which solves the immediate issue. Still seems worth considering.

[2018-03-06 03:59] johngruen commented on #113
Also, makes more room for doing stuff with images in preset/saved themes

[2018-03-06 04:17] johngruen opened #114 "UI issues with the theme preview"
Would prefer apply be the primary action here. Also i think the colors or css are a little off for this version of the browser preview:

![image](https://user-images.githubusercontent.com/3323249/37013948-e790399a-20c2-11e8-9494-95c83136684b.png)

here's the little version:
![image](https://user-images.githubusercontent.com/3323249/37013958-f52ef398-20c2-11e8-8674-ec726814e95d.png)

[2018-03-06 15:33] lmorchard commented on #114
Yeah, this preview definitely needs help. [I just sort of fudged a medium size in the dialog PR](https://github.com/mozilla/ThemesRFun/pull/59#issuecomment-364591044)

[2018-03-06 16:16] #99 closed

[2018-03-06 16:17] #12 closed

[2018-03-06 16:25] #38 closed

[2018-03-06 16:50] pdehaan commented on #113
Looking at @johngruen's big JSON blob, it also has a `modified` key. Not sure if that'd be useful, so we could sort themes by "freshness". Or if we want an `author` field, so we can at least credit the author of the excellent **Hotdog Stand 🌭** theme.

[code]

[2018-03-06 16:52] pdehaan commented on #113
Similarly, if we want some Boolean `isFeatured` field, if we want to randomly highlight some theme[s] of the week.

[2018-03-06 16:55] lmorchard commented on #113
That blob is straight from the saved themes store in Redux. Those are currently sorted in order of modified date. Will probably leave that out of the schema for now, but the general tweak to the structure gives us room to add properties as they look useful to add

[2018-03-06 16:55] pdehaan commented on #91
As of #111, we have a `title` property for the preset themes.

[2018-03-06 17:00] lmorchard commented on #91
Yeah, we have the property in data, but not really a good story for displaying them. We also talked a bit about what adding titles to saved themes would take in terms of saving & editing UI

[2018-03-06 18:09] #113 closed

[2018-03-07 10:42] Softvision-MariusComan opened #119 "[Enhancement] The "Firefox Theme Generator" tab should be focused if already open when the "ThemesRFun" toolbar button is pressed"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "ThemesRFun" add-on (0.0.24 custom build from 07.03.2018) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Press the "ThemesRFun" toolbar button and open/focus a

[2018-03-07 13:19] Softvision-MariusComan opened #120 "Letters, symbols and invalid values can wrongly be inserted in the color fields"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "ThemesRFun" add-on (0.0.24 custom build from 07.03.2018) installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "ThemesRFun"

[2018-03-07 15:14] Softvision-MariusComan opened #121 "The "Firefox Theme Generator" tab's favicon does not change according to the selected color"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "ThemesRFun" add-on (0.0.24 custom build from 07.03.2018) installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "ThemesRFun"

[2018-03-07 15:42] lmorchard commented on #121
The theme API does not affect website favicons, so the theme editor page icon is more like the "M" icon on the second tab. We *might* be able to hack something together to change the favicon, but it's not expected that it would change

[2018-03-07 15:46] lmorchard commented on #120
Do these invalid characters get saved? Looks like they revert back to something valid when you click away. I don't think we can restrict keystrokes inside the input fields of that component

[2018-03-07 15:48] johngruen commented on #98
hey, turns out there's a chrome bug causing this!

https://bugs.chromium.org/p/chromium/issues/detail?id=262679

[2018-03-07 15:52] #114 closed

[2018-03-07 15:53] #98 closed

[2018-03-07 18:22] lmorchard opened #123 "Upgrade to Webpack 4"
[Greenkeeper tried](https://github.com/mozilla/Themer/pull/116/commits/edcd715ba48f1d23daa342039b36c0da4593ca75), but there are a few plugins in the ecosystem we use that aren't ready for Webpack 4. Namely, [extract-text-webpack-plugin](https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/701), [copy-webpack-plugin](https://github.com/webpack-contrib/copy-webpack-plugin/issues/211

[2018-03-07 19:11] lmorchard commented on #11
A thing that occurred to me - we have this ping in metrics.md:
[code]
That `{$id}` should probably change to a title or a filename of the theme JSON. Currently, the "id" in the code is the index of the preset theme in the list. But, that will be unstable and change based on the ordering of those themes - which right now is just filename alpha sort.

[2018-03-07 19:52] johngruen opened #126 "Reconsider the use of headerURL in the web app/preset themes"
So, in the app, we're using `headerURL` to refer to images, but in the add-on we're actually displaying images through the `additional_backgrounds` array. In order to better align the vocabulary we're using in our preset themes, the site, and the add-on, we should change preset themes so that the images section has no headerURL, but does optionally have an additional_backgrounds array. Also, we go

[2018-03-07 19:59] lmorchard commented on #126
At one point, I tried taking out headerURL. That meant backgrounds didn't work at all.

[So I replaced headerURL with a 1x1 image](https://github.com/mozilla/Themer/pull/54) - `additional_backgrounds` were ignored until I did that. Maybe this is a bug that's fixed upstream since then?

[2018-03-07 20:06] johngruen commented on #126
Yeah i think so...that PR i just made makes the headerURL optional in the add-on based on the FF version. We should clean up the app to reflect that we're not actually using it.

[2018-03-07 20:22] #100 closed

[2018-03-08 15:08] Softvision-MariusComan opened #131 "The "Firefox Theme Generator" page buttons wrongly overlap when the browser is resized"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Themer" add-on (0.0.27 custom build from 08.03.2018) installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Themer" toolbar

[2018-03-08 15:11] Softvision-MariusComan opened #132 "The "Themer" toolbar button icon is too bright when the browser's dark theme is activated"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Themer" add-on (0.0.27 custom build from 08.03.2018) installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Navigate to about:addons>T

[2018-03-08 15:19] Softvision-MariusComan opened #133 "Add and update all the tooltips"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Themer" add-on (0.0.27 custom build from 08.03.2018) installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Themer" toolbar

[2018-03-08 15:25] Softvision-MariusComan opened #134 "The "Themer" add-on wrongly overrides the existing Firefox Theme"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Install the latest version of the "Themer" add-on (0.0.27 custom build from 08.03.2018) from the "about:debugging" page.
3. Click the "Themer" toolba

[2018-03-08 15:25] johngruen commented on #131
Closing in favor of #41

[2018-03-08 15:25] #131 closed

[2018-03-08 15:26] johngruen commented on #134
This is just how WebExtensions themes work in the browser. I think we should close this.

[2018-03-08 15:28] Softvision-MariusComan opened #135 "The actual theme is wrongly changed when the "Themer" button is clicked"
**[Notes]:**
- Depending on the decision that will be taken in #134, we need to consider that most users will not expect their current theme to be changed to a random one when clicking the "Themer" button. Especially since the only ways to revert the changes are too either disable and re-enable the theme or uninstalling the add-on.

**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Pla

[2018-03-08 15:31] Softvision-MariusComan opened #136 "The "Feedback" button wrongly redirects to an incomplete "Feedback" page"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Themer" add-on (0.0.27 custom build from 08.03.2018) installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Themer" toolbar

[2018-03-08 15:33] Softvision-MariusComan opened #137 "The saved theme's "Delete" button is no longer highlighted after deleting a theme"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Themer" add-on (0.0.27 custom build from 08.03.2018) installed from the "about:debugging" page.
- Have minimum two themes saved.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisit

[2018-03-08 16:30] Softvision-MariusComan opened #138 "The cursor wrongly changes into "horizontal move" when a color picker letter (R,G,B,A) is hovered"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Themer" add-on (0.0.27 custom build from 08.03.2018) installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Themer" toolbar

[2018-03-08 20:22] lmorchard commented on #134
Yeah, there is a conflict between how various kinds of themes work right now, more an upstream issue than anything we can affect on this project

[2018-03-08 20:22] #134 closed

[2018-03-08 20:24] lmorchard commented on #135
Basically the same issue as #134 - a webextension based theme will override one of the default themes when updated.

[2018-03-08 20:24] #135 closed

[2018-03-08 20:26] lmorchard commented on #138
This is an expected feature for the component: The arrow pointer indicates that dragging will change the color value.

[2018-03-08 20:26] #138 closed

[2018-03-08 20:27] lmorchard commented on #136
This should be fixed before launch - I think we just don't have a complete survey available yet

[2018-03-08 20:29] lmorchard commented on #132
I think #130 fixed this?

[2018-03-08 20:29] #132 closed

[2018-03-08 22:21] wresuolc opened #142 "Integrate new GA ID string"
This is to replace the temporary string at https://github.com/mozilla/Themer/blob/master/package.json#L12 with a final string.  This depends on https://bugzilla.mozilla.org/show_bug.cgi?id=1444225

[2018-03-09 01:39] csd713 commented on #133
Hello @Softvision-MariusComan I would like to take this up. I'm able to reproduce the issue locally.
I was wondering if there is any specific development document that I could use for PR process.

[2018-03-09 02:56] pdehaan commented on #133
@csd713,

I don't think we have any specific PR documentation in this repo specfically, but this is probably a good starting point for most of the Test Pilot experiments: https://github.com/mozilla/testpilot/blob/master/CONTRIBUTING.md

Let us know if you have any specific questions and we'd be happy to help.

[2018-03-09 02:58] pdehaan opened #143 "Add CONTRIBUTING.md with some steps on how to get started on good-first-bugs and the PR process"
Per https://github.com/mozilla/Themer/issues/133#issuecomment-371684872

[2018-03-09 04:26] csd713 commented on #133
Hi @pdehaan,

What is the expected result for,

1. the buttons that trigger the color pickers - (should the name of the button be used as tooltip ?)
2. each button/fields in color picker pallet ?

[2018-03-09 08:31] pdehaan opened #145 ""Uncaught (in promise) Metrics not sent due to DNT" error in Chrome"
Opened a theme URL locally in Chrome (64?), changed the "Theme Texture", and got the following in my DevTools console:

[code]

![themer-chrome](https://user-images.githubusercontent.com/557895/37197659-70fecbbe-2330-11e8-9624-edb53d51fad5.png)

![firefox_themer_chromer](https://user-images.githubusercontent.com/557895/37197827-14f83822-2331-11e8-8190-436f7d923c2a.png)

Digging deeper, this may be

[2018-03-09 08:57] SoftVision-PaulOiegas commented on #138
@lmorchard But why do we have the drag functionality on that area when there is a slider that does the exact same thing? I agree that it's an edge case, but still, I don't think it's right.

[2018-03-09 15:47] johngruen commented on #136
yeah, it's on my todo list, fine to track it here

[2018-03-09 15:57] johngruen opened #146 "Scale background images in BrowserPreview relative to the size of the component"
This is probably stretch, but it would be nice to scale textures in the the BrowserPreview so that they accurately reflect how they'll look in the browser window. Since we need to tile them in CSS there are two ways i guess we get the dimensions we'd need to scale:

1. create an image tag for each bg we load, get the dimensions and pass them in to CSS
2.  add width and height into the file names s

[2018-03-09 16:00] johngruen commented on #146
FWIW, i think scaling on height is the important thing here so we could do something like backgroundSize: `${theme.images.bgHeight * dollScale.large} auto`

[2018-03-09 16:22] pdehaan commented on #145
Also, looking at this again in the morning... Should a version running locally via `npm run server` on localhost be sending metrics data?

[2018-03-09 17:17] lmorchard commented on #142
One note to self (since I'll probably do this): Switch between the prod TID and the temporary dev TID based on whether the build is for prod or dev. That way, we don't get metrics pings sent from local dev to prod GA

[2018-03-09 17:17] lmorchard commented on #145
Yeah, if only to verify that that part of the code works. But, once we have a real GA ID, [I'll probably stick some code in to switch to my "dev" TID rather than send data to the prod TID](https://github.com/mozilla/Themer/issues/142#issuecomment-371879735).

[2018-03-09 17:20] lmorchard opened #147 "Ensure graceful handling of invalid / missing background image in theme"
Splitting out as an issue from #144:

example of what a missing file does:
[code]

[2018-03-09 17:21] pdehaan opened #148 "move bgImages into src/lib/themes.js as a shared export"
Per @lmorchard's https://github.com/mozilla/Themer/pull/144/files#r173509750 comment:

[2018-03-09 17:28] lmorchard commented on #133
For lack of a better idea, I think we could just add a title attribute for each of these that matches the text title already there for each item. Seems redundant, but I don't think we had any plan to add tooltips for these

[2018-03-09 22:10] Shruti9520 commented on #4
@pdehaan @lmorchard Hi, I want to participate in Outreachy current round. Can I work on this issue? :)
Also, If this project already has many potential participants, please let me know. :-)

Thanks!

[2018-03-09 22:14] Shruti9520 commented on #143
Hi @pdehaan Can I take this issue? :-)

[2018-03-09 22:17] lmorchard commented on #4
@Shruti9520 Hi there, thanks for stopping by! This issue is already closed, so you might have better luck taking a look at one of our other issues labelled "[good first issue](https://github.com/mozilla/Themer/labels/good%20first%20issue)"

[2018-03-09 22:19] lmorchard commented on #143
Help on this issue would be much appreciated! Even if you just try getting started with the project and taking notes as to where you run into trouble or have questions. Those of us who have already been working on the project may be prone to forgetting all the little things that a beginner needs to know, so a fresh perspective would be very helpful!

[2018-03-09 22:23] Shruti9520 commented on #64
Hi @lmorchard @johngruen
My name is Shruti Singh. I am a fourth-year undergraduate student from India. I am doing engineering in Computer Science. I have been involved in web development for more than two years. I’ve worked with technologies like JavaScript ( AngularJS), typescript ( Angular 4), Java ( Servlets) and C++.
I would like to work on Mozilla's project "Improve sharing & contribution fea

[2018-03-09 22:25] Shruti9520 commented on #143
@lmorchard Thanks :-)

[2018-03-09 22:28] lmorchard commented on #64
Hi there! Similar to issue #143 - ideally, we would like a full write-up on how data flows in this application(placed under the docs/ folder. But, it would also be very handy to have any notes or observations on what would be helpful in understanding how the application moves between states

[2018-03-09 22:32] #126 closed

[2018-03-10 00:15] Shruti9520 commented on #79
@pdehaan @lmorchard Can I work on this? :-)

[2018-03-10 03:37] #133 closed

[2018-03-10 04:45] Paarmita commented on #39
@lmorchard Is this issue still open?

[2018-03-10 12:20] Shruti9520 commented on #148
Hi @pdehaan Can I take this issue?

[2018-03-10 16:14] Shruti9520 commented on #148
@lmorchard @pdehaan I have a doubt. In Firefox, I opened `about:debugging` and then loaded the build/extension/manifest.json file. But after visiting `http://localhost:8080`, I can't see any web-based theme editor. What I got is-
![addtheme](https://user-images.githubusercontent.com/20228417/37244242-d644a1ca-24ab-11e8-8959-bd04f36d3710.png)

I tried  `http://localhost:8080/?theme` URL too.

 My `

[2018-03-10 16:55] Shruti9520 commented on #148
@pdehaan @lmorchard **Issue is solved**! :-)
Actually, URL is `http://localhost:8081`.  See the screenshot below->

![themersolve](https://user-images.githubusercontent.com/20228417/37244625-c5a8dd8a-24b1-11e8-86aa-d59ca999d69d.png)

I will not delete my previous comment because it will help any new contributor to get started. :-)

Thanks!

[2018-03-10 19:48] Shruti9520 commented on #148
Hi @pdehaan @lmorchard @johngruen
When I click on the "ThemesRFun" toolbar button, it opens up a tab with URL `http://localhost:8081`. Please see the uploaded gif below-
![themer-2018-03-11_01 02 12](https://user-images.githubusercontent.com/20228417/37246160-05e33d06-24ca-11e8-87d8-b17a6b3d292a.gif)

Can I open an issue for this?

Thanks!

[2018-03-11 05:40] FayneAldan opened #158 "Color values tend to differ slightly"
How to reproduce:
1. Go to any color option and set the hex to `800080`
2. Observe that the blue value is set to `127`, even though `0x80` should be `128`
3. Switch to any other textbox
4. The hex changes from `800080` to `80007F`

In addition, when clicking any of the colors in the default palette (except `000000`, `4A4A4A`, and `FFFFFF`), the color is changed after a short moment (once the color

[2018-03-11 06:02] FayneAldan opened #159 "Alpha value textbox incorrect after first removing focus"
Steps to reproduce:
1. Open the Themer webpage. If already open, refresh the page.
2. Click Toolbar Color or Search Bar Color.
3. Use the alpha **slider** to change the alpha value (preferably by a noticeable amount, such as from 100% to 0%).
4. Click the alpha value **textbox** then remove focus (click anywhere else).
5. The value in the textbox will update to match the original value (from when

[2018-03-11 12:00] apoorvasingh17 commented on #137
Can I work on this issue?

[2018-03-11 12:05] apoorvasingh17 commented on #60
@lmorchard Hello, I am new here and would like to contribute to this issue. Can I take this up?

[2018-03-11 12:07] apoorvasingh17 commented on #11
I would like to work on this issue. Can someone give me pointers?

[2018-03-11 12:09] apoorvasingh17 commented on #136
Can I work on this issue?

[2018-03-11 13:13] Shruti9520 commented on #108
Hi, @pdehaan @lmorchard Can I work on this issue? :-)

[2018-03-11 13:27] Shruti9520 commented on #119
@Softvision-MariusComan @lmorchard What is the difference between `Themer` repo and `ThemeRFun`?
How are they related? Also, I can't find any `ThemeRFun` as described in the issue- https://github.com/mozilla/Themer/issues/41

Thanks!

[2018-03-11 16:21] pdehaan commented on #119
@Shruti9520 “ThemesRFun” was the beta name, and “Themer” is the final name. We just renamed the repo and all code references, etc.

[2018-03-11 16:28] pdehaan commented on #11
@apoorvasingh17 probably best to start on a “good first issue”; https://github.com/mozilla/Themer/labels/good%20first%20issue

[2018-03-12 02:08] cedricium commented on #120
The invalid characters do not get saved and the input field value reverts back to last valid character sequence.

[2018-03-12 07:46] 94151 commented on #148
@lmorchard is this issue still active? can I start work on this?

[2018-03-12 08:02] 94151 commented on #39
@lmorchard is this issue still active can i work on this?

[2018-03-12 08:05] 94151 commented on #31
@lmorchard I would like work on this.

[2018-03-12 12:04] SoftVision-CiprianMuresan commented on #132
The issue is no longer reproducible on the latest master using Windows 10 x64, Ubuntu 16.04 x32 and Mac 10.13.3.

[2018-03-12 16:37] lmorchard commented on #136
@apoorvasingh17 Sorry, this one isn't really a good issue for contributors. We have to take care of building this survey internally at Mozilla

[2018-03-12 16:37] Shruti9520 commented on #108
Hi, @pdehaan  @lmorchard When I open `/src/lib/constants.js` file, I can't see `defaultColors` and `presetColors ` constants. You can see that by clicking this link- https://github.com/mozilla/Themer/blob/master/src/lib/constants.js.

But @pdehaan addresses this link- https://github.com/mozilla/ThemesRFun/blob/a57c5b5a231e669193662091138ea5bd8c963e27/src/lib/constants.js#L21-L54  where I can see t

[2018-03-12 16:55] Madhumathi97 commented on #143
@Shruti9520 Did you already contribute to this bug?Or can I take it?

[2018-03-12 16:57] Shruti9520 commented on #143
Hi, @Madhumathi97 I submitted a PR- https://github.com/mozilla/Themer/pull/153 for this. :-)

[2018-03-12 16:58] Madhumathi97 commented on #143
@Shruti9520 Just realised that.Thanks!

[2018-03-12 16:59] Shruti9520 commented on #143
@Madhumathi97 Here is the link for good first issues- https://github.com/mozilla/Themer/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22.
Hope it helps. :-)

Thanks!

[2018-03-12 17:03] Madhumathi97 commented on #143
@Shruti9520 Great!Thank you:)

[2018-03-12 17:11] Madhumathi97 commented on #119
@Softvision-MariusComan Can I take this up as my first contribution for the project "Improve sharing & contribution features on Firefox Themer for Test Pilot"

[2018-03-12 17:13] lmorchard commented on #148
@Shruti9520 It look like you're using Ubuntu for development and you already have a Tomcat server running on port 8080. That's why you're seeing the "It Works!" page instead.

I just submitted PR #161 to make it possible to change the port used for this project. But until that's ready to use, you might want to look at disabling your Tomcat server. I'm not very familiar with Tomcat these days, but

[2018-03-12 17:15] lmorchard commented on #148
@94151 I think @Shruti9520 has been working on this one, but more help is always welcome

[2018-03-12 17:18] #79 closed

[2018-03-12 17:27] lmorchard commented on #143
bf513ad7997b3f74ce27df8cd98440b12c626bbe

[2018-03-12 17:27] #143 closed

[2018-03-12 17:51] lmorchard commented on #119
@Madhumathi97 It looks like @cedricium has this one covered in PR #160

[2018-03-12 17:56] lmorchard commented on #108
@Shruti9520 What you're seeing here is that [things have changed](https://github.com/mozilla/Themer/commit/dda7ff752e60be6322dd3f8d1fc34d69358e91cf) since this issue was first created:

1. We removed the defaultColors and presetColors constants
1. We created [lib/themes.js](https://github.com/mozilla/Themer/blob/master/src/lib/themes.js) with defaultTheme and presetThemes - these now read the data

[2018-03-12 18:01] lmorchard commented on #148
d3aa16e085b1f8d7b58474b4fccc9b467b527312

[2018-03-12 18:01] #148 closed

[2018-03-12 18:25] lmorchard commented on #137
Sure! Personally, I'm not sure how to fix this one. I think the delete highlight is just a CSS rule that seems to not apply when the elements on the page change. Maybe there's a transition or some hack we can do to make it work?

[2018-03-12 18:32] lmorchard commented on #39
This is actually no longer a good first contributor issue - we have links now, but we actually need to add the privacy documents from the legal department

[2018-03-12 18:55] pdehaan commented on #108
@Shruti9520, sorry, the links I generated earlier were pinned to a specific Git commit, which (as you can see) can get stale as the code changes. You can see in the URL and the "Tree" dropdown near the top that my code was pinned to the a57c5b5a231e669193662091138ea5bd8c963e27 commit, so you'll want to switch to the master branch to see the latest code.

![themer_constants_js_at_a57c5b5a231e669193

[2018-03-12 19:02] Shruti9520 commented on #108
@pdehaan Thanks for the explanation. :-)

[2018-03-12 19:02] Shruti9520 commented on #108
@lmorchard Working on this issue. :-)

[2018-03-12 19:12] lmorchard commented on #31
I think this issue is still fair game

[2018-03-12 19:13] #119 closed

[2018-03-12 20:37] jbuck commented on #67
@jvehent two quick q's about the checklist:

So that'd mean configuring the Cloudfront logs and storing them for 90 days, correct?

Is there a csp reporter that someone has configured for a static site before? I think it'd be possible to do with [Lambda Edge](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/lambda-cloudwatch-metrics-logging.html) if someone hasn't figured this ou

[2018-03-12 21:52] shr7 commented on #64
Hi @lmorchard
I'd like to take this up as my first bug for this project if nobody else is working on it.

[2018-03-13 15:22] wresuolc commented on #145
Test Pilot reserves cd19 for identifying the channel.  You're welcome to switch the ID, but just FYI:  https://github.com/mozilla/testpilot/blob/master/docs/experiments/ga.md#global-custom-dimensionsmetrics

[2018-03-13 15:24] #97 closed

[2018-03-13 15:29] johngruen commented on #147
As a follow on, would be nice if the logger component were available and hidden on non-dev builds. We could just hide the button except on hover maybe?

[2018-03-13 18:30] wresuolc opened #164 "Add a QA test plan"
Maybe this already exists?  @Softvision-MariusComan

[2018-03-13 19:00] pdehaan commented on #108
Actually, another fun tip; I believe that Themer/src/preset-themes/005.json has an invalid value, so you could probably use that file to see if the linter catches it.

[2018-03-13 20:07] Shruti9520 commented on #108
Hi @pdehaan @lmorchard I wrote a JSON schema validator. I tested it online for Themer's JSON files and it is working fine. Can I post it here? Before making PR, I just want to be sure whether I am going in right direction or not. :-)

Thanks!

[2018-03-13 20:55] pdehaan commented on #108
@Shruti9520,

If it's short, you could post it here.
If it's big, you could post it to a Gist.
If you want lots of feedback, you could just submit the PR and we could comment inline.

[2018-03-13 21:08] Shruti9520 commented on #108
@pdehaan @lmorchard Here is the link to my gist file- https://gist.github.com/Shruti9520/609317dd5c78c7b0402c821712ba7daf

I've tested manually by giving the whole json. The better way would be like this I guess-
`test("link to the json file")`. But I am not sure for this. May be I can use  Webpack's require context feature.

Thanks!

[2018-03-13 21:31] lmorchard commented on #108
For this, you could just use [node's fs module](https://nodejs.org/dist/latest-v8.x/docs/api/fs.html#fs_fs_readfilesync_path_options) and read the JSON files directly, using JSON.parse() to parse them before testing them. We could run it alongside [other npm script commands we use for linting & validating](https://github.com/mozilla/Themer/blob/master/package.json#L31).

[2018-03-13 21:38] pdehaan commented on #108
@Shruti9520 Great job, this looks fantastic!

Did it end up catching the bug in https://github.com/mozilla/Themer/blob/master/src/preset-themes/005.json?

I actually think this is good enough that you could submit the PR for it, and we can make a few comments directly in the code before merging.

Warning: I'll probably make a comment about the indenting being a bit tricky to read. Maybe try runnin

[2018-03-13 21:43] Shruti9520 commented on #108
@lmorchard Thanks! I will do that.
@pdehaan Yes. On running `/src/preset-themes/005.json`, I am getting this error--> `Invalid: data.title should be string, data.colors should be object`. This was the only bug, right?
Also, I'll make sure to use ` prettier ` before raising a PR. Thanks!

[2018-03-13 22:11] pdehaan commented on #108
@Shruti9520 Yeah, the bug is that we nested the `title` property in the wrong place:

https://github.com/mozilla/Themer/blob/bf60c3d9250496b289c03b5d77182c866bf56435/src/preset-themes/005.json#L1-L9

It should be outside of the `colors` object.
I think the other error is wrong, but only because you're linting an incorrect object in your Gist and not the actual ./src/preset-themes/005.json file (wh

[2018-03-13 23:22] pdehaan opened #166 "Dedupe saved themes?"
### Steps to reproduce:
1. Go to https://mozilla.github.io/Themer/
2. Click the [Save] button on your theme a ~~few~~ dozen times.

### Actual results:
A few dozen duplicate themes in your "Saved themes" section.

### Expected results:
Maybe we should disallow people to save a theme if they have the same hash already saved in their saved themes.

[2018-03-13 23:49] cedricium commented on #166
I came across the same issue and would agree, only having unique themes saved seems like a good idea. I wouldn't mind tackling this as part of my contribution for the Outreachy program.

I just wonder: if attempting to save a non-unique theme, should it fail silently or should there be some sort of notification / error? @lmorchard @johngruen

[2018-03-14 10:22] Softvision-MariusComan commented on #164
Yes, we already have a test plan for Themer. You can find it [here](https://docs.google.com/document/d/1jYxZkD6D1P_MBPu0q-5AwFm7tdY9cWY2q6huiWdTDEE/edit#).
However the test plan is not in its final form because we plan to split "Themer functionality" test objective into separate cases.

[2018-03-14 11:22] jvehent commented on #67
Yep, that's correct.

Not that I'm aware. I wonder if we want to relax this requirement for sites that don't handle authentication, which would make your life easier. @psiinon, any thoughts?

[2018-03-14 13:46] SoftVision-CosminMuntean opened #169 "Install Themer banner is briefly displayed when the page is refreshed"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Themer" add-on (0.0.30 custom build) installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Themer" toolbar button.
3. Refr

[2018-03-14 14:27] gargshruti30 opened #170 "Duplicate saved themes"
1.Go to https://mozilla.github.io/Themer/
2.On clicking the Save button again and again, duplicate themes are saved.

But according to me saving duplicate themes should not be allowed.

![screenshot from 2018-03-14 19-52-16](https://user-images.githubusercontent.com/34654829/37408027-42e6fc52-27c1-11e8-9d53-4830658f6e1c.png)

[2018-03-14 14:28] chuckharmston commented on #170
I'll be closing this as a duplicate of #166, but thanks so much for filing.

[2018-03-14 14:28] #170 closed

[2018-03-14 14:30] gargshruti30 commented on #170
Hey. I am Shruti, a first year student studying in Netaji Subhas Institute
of Technology,Dwarka India pursuing Bachelor of Engineering in Information
Technology.
I am a first time aspirant of Outreachy and I am interested in working in
this project.

I was able to run the project on localhost:8080 and I could see bugs in UI
and responsiveness of the site, so should I work upon it ?

Also can you p

[2018-03-14 14:33] Shruti9520 commented on #41
Can I work on this issue? :-)

[2018-03-14 14:55] johngruen commented on #166
Hey @cedricium I think you could just pop the theme the user is trying to dupe to the front of the saved themes list and then add a little highlight animation to it. probably fading in then out the same box shadow we show on hover would work well. If that's not strong enough we could think about adding a warning, but i bet that would do it.

[2018-03-14 14:56] gargshruti30 opened #171 "Responsiveness"
The page is not responsive. The icons are overlapping each other when we are changing the screensize.

Should I work upon this issue ?

![screenshot from 2018-03-14 20-16-22](https://user-images.githubusercontent.com/34654829/37409790-2d020694-27c5-11e8-8777-95685e66d6ff.png)

[2018-03-14 14:58] johngruen commented on #169
Yeah i've been thinking about this one, and we might be best served by not having this banner move page content up or down so that even if it flashes the content doesn't jump

[2018-03-14 15:02] lmorchard commented on #169
This is also where the loader is kind of a guess - could be fixed by increasing the loader wait, since this stuff is unpredictable based on performance where it's run

[2018-03-14 15:07] Softvision-MariusComan commented on #171
@gargshruti30 Thank you for reporting this. However this behavior is already tracked in issue #41.
Considering this I am closing this issue as a duplicate.

[2018-03-14 15:07] #171 closed

[2018-03-14 15:09] wresuolc commented on #164
Great, thanks.  Existing is what we want to confirm.  No need to have a bug open for needing updates.  Thanks!

[2018-03-14 15:09] #164 closed

[2018-03-14 15:54] #147 closed

[2018-03-14 16:05] jbuck commented on #67
Two more clarifications needed :)

How do I go about adding `themer.firefox.com` to Firefox's preloaded pins?

I had to enable unsafe-inline in style-src. @lmorchard do you know if it's possible to not set inline styles? Given the extensive uses of colour pickers, I can see how it'd be difficult to avoid setting inline styles.

[2018-03-14 16:09] lmorchard commented on #67
Yeah, I think this project is pretty reliant on inline styles for the theme previews that involve arbitrary user-selected colors. I can scratch my head on it for a bit, but I'm fairly sure we can't get around that one

[2018-03-14 16:30] pdehaan opened #173 "Replace preloader UI w/ logo?"
I'm seeing this preloader flash in as https://mozilla.github.io/Themer/ loads. Not sure if we wanted to use our fancy new logo or if this is final UI. 🤷‍♀️

![firefox_themer](https://user-images.githubusercontent.com/557895/37416148-4a2228c2-276a-11e8-9a97-2434786739d7.png)

[2018-03-14 16:34] pdehaan opened #174 "The 'og:image' property should be explicitly provided"
### PREVIEW:

![og-preview](https://user-images.githubusercontent.com/557895/37416406-eca3bf52-276a-11e8-95e5-342a34b3f70f.png)

---

Via https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fmozilla.github.io%2FThemer%2F

![og-themer](https://user-images.githubusercontent.com/557895/37416301-aa9fe0f4-276a-11e8-925f-0e4dbc307147.png)

We'll also want to change that `og:url` once we'

[2018-03-14 16:38] pdehaan commented on #174
And here's a dump of the current `<meta>` tags on https://mozilla.github.io/Themer/:

https://github.com/mozilla/Themer/blob/38933c93a6c304a70b095dfd737b3b2c8ce871d6/src/web/index.html.ejs#L6-L16

[2018-03-14 16:42] pdehaan opened #175 "*.mozilla.github.io is not whitelisted for themer card"
Trying to validate the Themer Twitter card at https://cards-dev.twitter.com/validator, but it's blowing up saying:

Not sure if it's worth trying to request approval since this is possibly just a temporary URL until we're at themer.firefox.com, or whatever. But just throwing this out there.

![twit2](https://user-images.githubusercontent.com/557895/37416763-e92fe264-276b-11e8-8215-b53471157d3b.png

[2018-03-14 16:47] Shruti9520 commented on #174
@pdehaan Can I work on this? I probably left `og: image ` property. Can I correct this?

[2018-03-14 17:18] jvehent commented on #67
I think we'll skip that in this instance. It's a code change in Firefox (hard to do) and themer is only a testpilot experiment, so the risk is low.

Allow me to cast an @april spell on this CSP, and with a bit of luck, she'll help find a solution here.

[2018-03-14 17:31] april commented on #67
In general I am okay with the use of `'unsafe-inline'` inside `style-src`. There are a few anti-patterns that you should watch out for though:

- Don't use Javascript frameworks to set `value` on form entry values if the user is allowed to define CSS
- There are some weird attacks around iframes and fonts, which you can mitigate by being careful with where frames are allowed

Other than that, your

[2018-03-14 17:36] lmorchard commented on #67
FWIW, I think the main spots where we run into trouble with this are these components:

https://github.com/mozilla/Themer/blob/master/src/web/lib/components/AppBackground/index.js#L16
https://github.com/mozilla/Themer/blob/master/src/web/lib/components/BrowserPreview/index.js

[2018-03-14 18:32] pdehaan commented on #174
@johngruen Do you know if we have any assets for the `og:image` and `twitter:image`, and whatever else we may need for `<meta>` greatness?

I have to admit that I'm getting a bit lost in this. How do we share on Facebook/Twitter? Are we sharing Themer homepage? Should it share the URL of the _current theme_ you're staring at, because you wanted to promote the beautiful Hotdog Stand 🌭 theme with th

[2018-03-14 18:33] pdehaan commented on #174
@Shruti9520 Let's wait on this for now until we can make sure we're using the correct/best UX assets for the preview image.

[2018-03-14 18:38] april commented on #67
In general, I don't have much issue with using `'unsafe-inline'` inside `style-src`. It's not overly risky, and I understand that it can place a high complexity burden on sites that wish to avoid it.

There are a couple of anti-patterns (that we know of) that can allow attackers to do attacks purely in CSS, [such as you can see here](https://no-csp-css-keylogger.badsite.io/). Namely:

- Don't use

[2018-03-14 19:15] Shruti9520 commented on #174
@pdehaan Sure. :-)
I really appreciate the way you reply to other contributors :1st_place_medal:

Thanks!

[2018-03-14 20:41] lmorchard commented on #174
So far, just copy & paste the current URL or use the "Copy" button on the page. We'd talked about adding Twitter & Facebook share buttons, but @johngruen mentioned that those buttons actually don't seem to get used much in reality.

Also... how to effectively enable & empower folks to share themes is one of the things we want to figure out with the experiment, so we don't have an answer up front 😁

[2018-03-15 07:22] cedricium commented on #166
@johngruen great idea! Will see what I can do 👍

[2018-03-15 13:39] SoftVision-CosminMuntean opened #176 "The "Color Picker" panel is not dismissed when its button is clicked or the "Esc" key is pressed"
**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Themer" add-on (0.0.31 custom build) installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Themer" toolbar button.
3. Clic

[2018-03-15 13:47] SoftVision-CosminMuntean opened #177 "The changes are no longer applied on the browser until the "Theme Texture" is changed"
**[Notes]:**
- Also, only the first theme from the second row of the "Choose a present theme" section can can be applied on the browser. The rest of the preset themes are not working

**[Affected versions]:**
- Firefox 58.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Themer" add-on (0.0.31 cu

[2018-03-15 15:52] lmorchard commented on #176
I think this is more of an enhancement than a bug: Clicking the button selects the picker. Clicking it again just selects it again, which doesn't change anything. And we don't really have much in the way of keyboard control in the app yet, so Esc isn't expected to do anything.

[2018-03-15 15:55] lmorchard commented on #41
Missed this comment yesterday, but sure!

[2018-03-15 20:41] pdehaan opened #179 "Add CHANGELOG?"
Not sure if we need one, or if it's useful for anybody else (personally I find them useful to know what's changed between versions to know where we should focus testing).

I know TestPilot includes a field for CHANGELOG, but we could always just point that to the GitHub releases page (a  la Notes and other experiments):

![changelog](https://user-images.githubusercontent.com/557895/37489896-55e369

[2018-03-15 22:11] pdehaan commented on #64
@lmorchard Was this fixed by #167, or should we leave it open?

[2018-03-15 23:52] shr7 commented on #159
@johngruen This seems to be a problem for all the editable components, not just alpha :/

[2018-03-16 00:23] pdehaan opened #181 "Use $ref in JSON schema for theme linter"
Was just trolling through the **ajv** docs, and was reading about JSON schema refs. Once #172 lands, switching to `$ref` could help us shave off about 3/5ths of the schema and DRY it out slightly.

[code]

**UPDATE:** Also note that the schema changed slightly (new property added) in #188, so the code snippet above needs to be modified slightly.

[2018-03-16 09:57] Ekta3012 commented on #166
Hello @pdehaan , i want to solve this issue as a part of outreachy programme. please, assign it to me.

[2018-03-16 12:06] shr7 commented on #176
Hi @lmorchard, @SoftVision-CosminMuntean!
Can I take this up?

[2018-03-16 15:06] cedricium commented on #166
Hey @Ekta3012, I was working on this but was having trouble matching an already saved theme with the theme that is going to get saved. Definitely go ahead and give it shot, I'd love to see your solution.

[2018-03-16 15:28] #177 closed

[2018-03-16 16:03] pdehaan opened #182 "Localize?"
Per https://github.com/mozilla/Themer/pull/180#issuecomment-373746137

Not sure if we have l10n plans for v1 or what the timeline may be. But figured it's easier to submit a new issue where we can discuss and set a milestone/label versus me stupidly speculating in random GitHub issues.

---

Here's **mozilla/tab-split-2**'s localization ticket: https://github.com/mozilla/tab-split-2/issues/22

[2018-03-16 16:03] gargshruti30 commented on #166
@cedricium can i work on this issue as a part of my Outreachy program ?
Please assign it to me I really want to work upon this issue.

[2018-03-16 16:06] cedricium commented on #166
@gargshruti30 I'm an outreachy participant as well, not a member of the Themer group. Maybe go ahead and see if you can come up with a solution and think about making a PR afterwards.

[2018-03-16 16:07] chuckharmston commented on #166
@gargshruti30 consider yourself assigned!

[2018-03-16 16:08] chuckharmston commented on #166
@gargshruti30 consider yourself assigned!

[2018-03-16 16:28] lmorchard commented on #64
Seems fine to close

[2018-03-16 16:28] #64 closed

[2018-03-16 16:53] lmorchard commented on #182
No, we don't have plans to localize for v1. Wanted to nail down the initial MVP before trying to get help from the l10n community

[2018-03-16 17:42] lmorchard commented on #166
For what it's worth, we have a small utility function here used for matching themes:

https://github.com/mozilla/Themer/blob/master/src/lib/store.js#L39

It's a hack and should be moved to `lib/themes.js` if it gets used outside `store.js`. But, it's what we use to compare an incoming shared theme with the current set theme to decide whether the "accept this shared theme" dialog should be shown

[2018-03-16 19:56] shr7 commented on #176
@lmorchard Thank you! PR raised :)

[2018-03-16 20:39] pdehaan commented on #166
Fascinating! Is the order of `JSON.stringify()` guaranteed? I bit of quick ~~Googling~~ Yahoo!ing left me mildly confused.
https://github.com/auth0/node-jsonwebtoken/issues/404 points to https://github.com/nodejs/node/issues/15628, which seems to _imply_ that guaranteed ordering doesn't seem like it belongs in core (for Node.js, maybe each browser vendor's implementation can differ -- but I guess

[2018-03-16 23:51] Auralcat commented on #26
Can I take this issue? I'm processing the error logs right now and pinpointing which rules need to be defined.

[2018-03-17 05:40] gargshruti30 commented on #166
@lmorchard I will be sure to check that.

[2018-03-17 12:21] meandavejustice commented on #181
probably a `good-first-issue`

[2018-03-17 12:32] meandavejustice commented on #179
I've been using https://github.com/nodejs/changelog-maker for Min Vid and it's worked well for me.

[min vid changelog](https://github.com/meandavejustice/min-vid/blob/master/CHANGELOG.md)

[2018-03-17 12:46] meandavejustice commented on #170
Hey @gargshruti30 the `good-first-issue` labels are a good place to start https://github.com/mozilla/Themer/labels/good%20first%20issue. More issues will be added to this tag when we do triages (usually weekly). Another good place to look for general good first bugs on all active test pilot experiments is https://contribute.testpilot.firefox.com/

Cheers! thanks for the interest in contributing. :

[2018-03-17 12:50] gargshruti30 commented on #170
@meandavejustice Thanks for the help. I will look for good-first-issue labels.

[2018-03-17 13:46] meandavejustice commented on #60
Hey @apoorvasingh17, to get started take a look at https://testpilot.firefox.com/__version__, that's the format we'll need to generate

[2018-03-17 22:48] Shruti9520 commented on #41
Hi, @lmorchard @pdehaan
How to get `custom theme` and `popular theme`? What I am getting in `localhost:8081` is this-
![thm](https://user-images.githubusercontent.com/20228417/37560668-af7bc19c-2a62-11e8-9939-2c418b8cc8f7.png)

@pdehaan told me before that  “ThemesRFun” was the beta name, and “Themer” is the final name. So, I can clearly get why the screenshot in the above issue is showing `www.th

[2018-03-18 02:48] pdehaan commented on #41
@Shruti9520,

Sorry, I think those may have been an old design spec. We may have to ping @johngruen and @youwenliang to see if they have a link to the latest mobile designs.

[2018-03-18 07:51] Shruti9520 commented on #41
@pdehaan Thanks! :-)

[2018-03-18 15:11] Meikay commented on #60
Hi @lmorchard, I am a new contributor and part of the outreachy internship. Where can I get started contributing to this project as a newcomer?

[2018-03-18 20:54] pdehaan commented on #60
@Meikay,

Welcome! The best place to start is probably the [CONTRIBUTING.md](https://github.com/mozilla/Themer/blob/master/CONTRIBUTING.md) page in this repo. It has some good instructions and a link to some [good first issues](https://github.com/mozilla/Themer/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22).

[2018-03-19 12:20] johngruen commented on #173
Yeah, this is a placeholder...

[2018-03-19 15:14] lmorchard commented on #179
I've usually found changelogs to be redundant, especially when working on a project that deploys often and doesn't necessarily release explicit versions. Seems easier to get a link to commit ranges on github. If we can automate it, it probably wouldn't be a bad addition

[2018-03-19 16:41] Shruti9520 opened #184 "Change Save button text to Saved when it is clicked."
@lmorchard @pdehaan
When I click on copy button it is changed from `copy` to `copied`. Which gave an excellent user experience. But when I click on `Save` button nothing happens. After clicking on save button, themes got saved down the page. So, for a new user, it takes some time to realize what is actually happening. I think it would be better if we change the save button text from `save` to `sav

[2018-03-19 17:15] jbuck opened #185 "Allow multiple sites to be defined in SITE_URL"
Right now we currently have SITE_URL=https://themer.stage.mozaws.net/ but we'll need to add https://themer.firefox.com to the list for production. The [web extension build process](https://github.com/mozilla/Themer/blob/e727ee21c9179b88fb954c21d3d3c30958c3ad65/webpack.extension.js#L54-L57) only allows a single URL.

I think the best way to do this might be doing something like `manifest.content_sc

[2018-03-19 17:22] lmorchard commented on #185
The SITE_URL isn't a list, it should be set for the specific deployment. It's included in the build of the add-on to lock it to the exact site it's intended to be used with. I think that's a security requirement. It's also used in the toolbar button to set the site that opens in a tab.

[2018-03-19 17:26] jbuck commented on #185
Hmm, okay, is a way we can distinguish between stage and production builds of the Themer add-on? What else would need to change to have two otherwise identical add-ons run side-by-side?

[2018-03-19 17:56] lmorchard commented on #185
Might be worth tweaking the add-on ID and title based on an env var? Could be weird or maybe could be beneficial to have different builds of the add-on installed pointed at different site builds

[2018-03-19 19:47] #108 closed

[2018-03-20 14:33] #176 closed

[2018-03-20 15:07] lmorchard commented on #23
Looks like the name needs to change again

[2018-03-20 15:20] johngruen commented on #184
@Shruti9520 sure, and maybe disable the button and maintain the 'saved' string until the theme gets changed?

[2018-03-20 21:05] Shruti9520 commented on #184
@johngruen Sounds great! :-)

[2018-03-21 14:42] shr7 commented on #184
Hi @Shruti9520, are you working on this issue?

[2018-03-21 15:40] psiinon commented on #67
I'd recommend having a csp reporter even if theres no auth.
Its a good way to find out if the site is broken, eg by a change thats got through testing but is still blocked by the CSP.
Obviously this only helps if we monitor the CSP reports. What do we do for other services? Can we just do the same, but maybe with lower priority alerting?

[2018-03-21 15:43] jbuck commented on #67
Right now I'm using a Lambda function to add custom security headers. I think it would be trivial to do something like have it forward CSP reports to Sentry which also has the advantage of notifying developers that something broke

[2018-03-21 15:45] psiinon commented on #67
:+1:

[2018-03-21 15:49] jvehent commented on #67
@jbuck FYI sending violation reports to a different location means that the `blocked_uri` field of the report will only contain the domain and not the full path. This is why we recommend sending violation reports to the same origin. I suppose you could proxy the reports to sentry and get the best of both worlds.

[2018-03-21 16:00] Softvision-MariusComan opened #189 "Wrong tooltip is displayed when the Hex, R, G and B text fileds from the "Color Picker" panel are hovered"
**[Affected versions]:**
- Firefox 59.0.1 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Themer" add-on (0.0.32 custom build from 2018-03-21) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Toolbar Icons and Text" bubble and hover over e

[2018-03-21 16:02] Softvision-MariusComan opened #190 "The "Color Picker" panel is wrongly dismissed if you click inside of any text field"
**[Affected versions]:**
- Firefox 59.0.1 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Themer" add-on (0.0.32 custom build from 2018-03-21) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Toolbar Icons and Text" bubble and click inside

[2018-03-21 16:04] Softvision-MariusComan opened #191 "The "Hand" pointer is wrongly displayed when hovering the "Color Picker" backgound area"
**[Affected versions]:**
- Firefox 59.0.1 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Themer" add-on (0.0.32 custom build from 2018-03-21) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Toolbar Icons and Text" bubble text.
3. Hover t

[2018-03-21 16:05] Softvision-MariusComan opened #192 "A tooltip is wrongly displayed when the "Color Picker" background is hovered"
**[Affected versions]:**
- Firefox 59.0.1 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Themer" add-on (0.0.32 custom build from 2018-03-21) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Toolbar Icons and Text" bubble text.
3. Hover t

[2018-03-21 16:06] Softvision-MariusComan opened #193 "Wrong tooltip is displayed when the "Themes Textures" are hovered"
**[Affected versions]:**
- Firefox 59.0.1 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Themer" add-on (0.0.32 custom build from 2018-03-21) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Theme Texture" bubble
3. Hover any theme textur

[2018-03-21 17:05] pdehaan opened #194 "Odd "gap" in Saved themes, even w/ pagination"
TL;DR: Should we increase the saved themes per page from 8 to 12?

### Steps to reproduce:
1. Create some theme, or choose a preset.
2. Spam the [Save] button in "Save your theme" (enough times that you get pagination, so 10-20x).
3. Scroll down to the "Saved themes" heading.

### Actual results:
![firefox_themer_-_saved_themes](https://user-images.githubusercontent.com/557895/37724717-a1d1d6f6-2c

[2018-03-21 17:17] pdehaan commented on #194
I reckon it's just bumping this pref: https://github.com/mozilla/Themer/blob/413aa25b78865392779fdb680735d52d32568d03/src/web/lib/components/SavedThemeSelector/index.js#L26

[2018-03-21 17:22] Shruti9520 commented on #194
Hi @pdehaan ,
Is this issue is about just changing perPage?

[2018-03-21 17:28] Shruti9520 commented on #184
Hi, @shr7
My approach to solve this issue is like this-
I will change the `Save` text to `Saved` and disable it. Afterward, check if URL is changed or not. So, the `Saved` string is mained until the URL is changed.

What is yours? We can work on this together. :-)

[2018-03-21 17:30] pdehaan commented on #194
Currently just a question on whether we _should_.

[2018-03-21 18:04] pdehaan opened #195 "Add title to preset themes"
When hovering over a preset theme, we should probably set a `title` attribute with the theme's title.
In fact, it looks like we do, but it isn't showing up for me locally, or on the github.io site.

https://github.com/mozilla/Themer/blob/413aa25b78865392779fdb680735d52d32568d03/src/web/lib/components/PresetThemeSelector/index.js#L15

Not sure if we need to tweak `normalizeTheme()` to possibly acco

[2018-03-21 20:58] shr7 commented on #190
Looks like my patch for https://github.com/mozilla/Themer/issues/176 is the culprit behind this issue. :P

[2018-03-21 21:02] #41 closed

[2018-03-21 21:06] lmorchard commented on #94
Adding some more thoughts from another discussion:

We'd like to come up with a way to allow users to send us their favorite themes. Eventually, these themes will become new JSON files under src/preset-themes if we accept them for inclusion.

One way to do this would be to require that users open a Pull Request on GitHub with a JSON file provided by the Themer editor. However, this would limit the

[2018-03-21 21:18] lmorchard commented on #93
Copying some thoughts over from another discussion...

An interesting page of MDN doco to read on themes:

https://developer.mozilla.org/en-US/Add-ons/Themes/Theme_concepts

TL;DR: There are two kinds of themes we can make - static and dynamic.

A static theme is pretty easy, since it's just basically taking the same properties we use in preset theme JSON files and creating a WebExtension manifest

[2018-03-21 22:10] shr7 commented on #192
I'd like to take this up.

[2018-03-21 22:20] shr7 commented on #193
What should be the tooltip for each texture?
backgroundId?

[2018-03-21 23:06] johngruen commented on #195
yeah, i kinda want to do this, but i think we need real names for themes...like "Miami Freakout" or "Quato's Revenge"

[2018-03-21 23:07] johngruen commented on #194
Yes, we *should*

@Shruti9520 feel free to grab this!

[2018-03-21 23:08] johngruen opened #198 "Need more quotes about colors for the loader"
@sharonbautista, [here's what we have now](https://github.com/mozilla/Themer/blob/master/src/lib/constants.js#L23)

[2018-03-22 00:49] pdehaan opened #199 "Color pickers can get obscured offscreen at smaller resolutions"
Per https://github.com/mozilla/Themer/pull/188#issuecomment-375017091

---

There is some cropping of the color pickers at 640 where the panel floats slightly off screen. Not sure if that is fixable, or even worth fixing. Stuff doesn't start _breaking_ until around 620px wide, where the "B" text input disappears off the right edge.

![themer640](https://user-images.githubusercontent.com/557895/377

[2018-03-22 03:44] nt1m commented on #93
Note: while static themes are supported in Firefox, AMO doesn't support them yet. Supported is being added this quarter, so it should be hopefully finished soon: https://github.com/mozilla/addons/issues/501

[2018-03-22 05:24] Shruti9520 commented on #194
@pdehaan @johngruen Taking this :-)

[2018-03-22 07:34] pdehaan commented on #45
@johngruen Is this still legit, or did you fix it all w/ PR #188?

[2018-03-22 07:42] pdehaan commented on #173
@johngruen Can we say you resolved this with your majestic #196 PR, and this can be closed?

[2018-03-22 13:13] johngruen commented on #173
yep

[2018-03-22 13:13] #173 closed

[2018-03-22 13:14] johngruen commented on #45
No we should still do something for mobile browsers

[2018-03-22 13:14] #194 closed

[2018-03-22 18:20] Shruti9520 commented on #181
Can I work on this? :-)

[2018-03-22 18:32] lmorchard commented on #181
@Shruti9520 Sure, give it a go!

[2018-03-22 18:54] lmorchard commented on #189
There's a `title` attribute on the `<li>` in editor elements for ThemeColorsEditor. We could probably solve this just by applying that title to the "color__swatch" and "color__label" child element so that "color__picker" doesn't get the title

[2018-03-22 18:54] lmorchard commented on #192
This basically looks like a duplicate of #189.

[2018-03-22 18:54] #192 closed

[2018-03-22 19:09] lmorchard commented on #193
We don't have names for the textures at this point. Better fix is probably just to move the title in ThemeBackgroundPicker from [the <div>](https://github.com/mozilla/Themer/blob/master/src/web/lib/components/ThemeBackgroundPicker/index.js#L77) to the [__swatch](https://github.com/mozilla/Themer/blob/master/src/web/lib/components/ThemeBackgroundPicker/index.js#L79) and [__text](https://github.com/

[2018-03-22 19:12] lmorchard commented on #191
Looks like we've got [a `cursor: pointer` applied to the whole picker element in _picker.scss](https://github.com/mozilla/Themer/blob/master/src/web/lib/_picker.scss#L10) - probably better to move that to the specific [swatch](https://github.com/mozilla/Themer/blob/master/src/web/lib/_picker.scss#L104) and [text](https://github.com/mozilla/Themer/blob/master/src/web/lib/_picker.scss#L111) children

[2018-03-22 19:17] #190 closed

[2018-03-22 20:52] #181 closed

[2018-03-23 21:30] wresuolc opened #203 "New name: Firefox Color"
New approved name:  Firefox Color.  Please change anything as appropriate.  /cc @jbuck

[2018-03-26 09:21] Softvision-MariusComan commented on #190
This issue is no longer reproducible with the latest version of the "Themer" add-on (0.0.33 custom build from 26.03.2018) installed, on the latest Firefox release and Nightly.

[2018-03-26 11:25] Shruti9520 commented on #189
@lmorchard Can I take this?

[2018-03-26 11:26] Shruti9520 commented on #191
@lmorchard Can I work on this? :-)

[2018-03-26 17:26] lmorchard commented on #191
Go for it!

[2018-03-26 17:26] lmorchard commented on #189
Take it away!

[2018-03-26 21:57] jbuck opened #207 "Production monitoring"
Need to setup the following bits of monitoring for production:

- [x] Pingdom check
- [x] Cloudfront metrics
- [x] Lambda function metrics

[2018-03-26 21:58] jbuck commented on #203
@wresuolc Does this also mean the production domain should be changed to color.firefox.com ?

[2018-03-27 02:08] wresuolc commented on #203
@jbuck yes please. sorry for the trouble.  We discovered https://github.com/mjswensen/themer late in the game

[2018-03-27 19:35] johngruen opened #208 "Add an onboarding experience"
The site does not provide much in the way of scaffolding users right now. It would be good to add some sort of minimal on-boarding experience. We could probably do this by embedding a YouTube video or something in the `Banner` component.

I'll work with Sevaan and Cherry to figure out what the right UX would be here.

[2018-03-28 13:47] johngruen opened #209 "Some hiccups with the loading screen"
Two issues:
1. The loader should have a minimum display time of 2 seconds
2. The loader seems to be rendering twice which causes a flash of text. It should only render once.

[2018-03-29 00:32] #191 closed

[2018-03-29 00:33] #189 closed

[2018-03-29 00:34] #193 closed

[2018-03-29 08:27] Softvision-AndreeaCupsa opened #210 "Clicking on Tab Highlight area on the preview panel wrongly opens the Toolbar Color Picker Panel"
**[Affected versions]:**
- Firefox 59.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the "Themer" add-on (0.0.33 stage build) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Navigate to: https://mozilla.github.io/Themer/
3. Click on "Tab Highlight Color" area on the prev

[2018-03-29 08:56] Softvision-MariusComan commented on #191
This issue is no longer reproducible with the latest version of the "Themer" add-on (0.0.33 custom built on 29.03.2018) installed, on the latest Firefox release and Nightly. Verified on Windows 10 x64, Arch Linux and Mac 10.12.

[2018-03-29 09:00] Softvision-MariusComan commented on #189
This issue is no longer reproducible with the latest version of the "Themer" add-on (0.0.33 custom built on 29.03.2018) installed, on the latest Firefox release and Nightly. Now the tooltips are no longer displayed. Verified on Windows 10 x64, Arch Linux and Mac 10.12.

[2018-03-29 09:00] Softvision-MariusComan commented on #193
This issue is no longer reproducible with the latest version of the "Themer" add-on (0.0.33 custom built on 29.03.2018) installed, on the latest Firefox release and Nightly. Now the tooltips are no longer displayed. Verified on Windows 10 x64, Arch Linux and Mac 10.12.

[2018-03-29 14:37] Softvision-AndreeaCupsa opened #211 "Inconsistent behavior when trying to dismiss "Color Picker" panels from preview panel"
**[Affected versions]:**
- Firefox 59.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Themer" add-on (0.0.33 custom build)
installed from the "about:debugging" page..

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Themer" toolbar button.
3. Cli

[2018-03-30 14:11] Softvision-AndreeaCupsa opened #212 "The mouse cursor is not changed to a hand pointer when the "Copy" button is hovered"
**[Affected versions]:**
- Firefox 59.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Themer" add-on (0.0.33 custom build)
installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Themer" toolbar button.
3. Hove

[2018-03-30 15:08] Shruti9520 commented on #212
@Softvision-AndreeaCupsa @lmorchard The possible solution is to include `cursor: pointer` in   https://github.com/mozilla/Themer/blob/215f34a49cfd2b805befbff49badfe1c443fa46b/src/web/lib/components/ThemeUrl/index.scss#L26 file. Can I submit a PR for this?

[2018-03-30 15:09] lmorchard commented on #212
Sure, go for it!

[2018-03-30 19:30] #212 closed

[2018-04-02 08:41] Softvision-AndreeaCupsa commented on #212
This issue is no longer reproducible with the latest version of the "Themer" add-on (0.0.33 custom built on 02.04.2018) installed, on the latest Firefox release and Nightly. Verified on Windows 10 x64, Arch Linux and Mac 10.13.

[2018-04-02 15:01] johngruen opened #215 "Paginate Preset themes"
We should launch with 24 preset themes. Let's paginate the preset theme selector

[2018-04-03 15:03] #23 closed

[2018-04-03 15:08] johngruen commented on #211
I don't have a strong opinion about this...maybe we should just disable clicks on the browser preview for now?

[2018-04-03 15:09] johngruen commented on #210
Currently the tab-line is added as a border-top and not a separate element.

[2018-04-03 15:17] johngruen commented on #179
I think we can just use the commit history in lieu of a real changelog if its too much overhead

[2018-04-03 15:17] #179 closed

[2018-04-03 15:18] #175 closed

[2018-04-03 15:24] #185 closed

[2018-04-04 15:15] jbuck commented on #67
Update: I was able to [get CSP reports over to Sentry](https://github.com/mozilla-services/cloudops-deployment/pull/1775) pretty easily. The problem is that Sentry currently doesn't accept CSP reports from Firefox because it's [missing some fields in the payload](https://bugzilla.mozilla.org/show_bug.cgi?id=1447694).

[2018-04-05 15:26] wresuolc commented on #67
@jbuck is that the right bug?  I don't see anything about missing fields there

[2018-04-05 15:29] jbuck commented on #67
bah, you're right, this is the correct bug: https://github.com/getsentry/sentry/issues/3542

[2018-04-05 16:58] lmorchard opened #218 "Get dev deployments working again"
Since [renaming the project](https://github.com/mozilla/FirefoxColor/pull/217) for issue #203, dev deployments to GitHub Pages have started failing with a time-out on add-on signing. [Filed an upstream issue with AMO](https://github.com/mozilla/addons/issues/690) to get to the bottom of it. Until that's resolved, we can't deploy new builds of the site.

[2018-04-09 17:42] lmorchard commented on #218
Okay, got deployments working again [by giving the add-on a name that doesn't mention Firefox](https://github.com/mozilla/FirefoxColor/commit/30795f2912d0cac05cf8eff4f0c23f196659bb6c) 🤷‍♂️

[2018-04-09 17:42] #218 closed

[2018-04-09 17:44] lmorchard opened #221 "Revise the add-on name?"
As a workaround to an apparent AMO add-on signing issue, [I changed the add-on name to no longer mention "Firefox"](https://github.com/mozilla/FirefoxColor/commit/30795f2912d0cac05cf8eff4f0c23f196659bb6c) - because somehow, [mentioning "Firefox" in the name causes a timeout during signing](https://github.com/mozilla/addons/issues/690#issuecomment-379829113). Maybe we want a different / better name

[2018-04-09 17:45] lmorchard commented on #221
Also just kind of defensively filing this issue so we don't file another issue along the lines of "add-on title says Fx instead of Firefox"

[2018-04-09 17:56] lmorchard commented on #203
This should be done now

[2018-04-09 17:56] #203 closed

[2018-04-10 02:05] csd713 commented on #195
Hi @pdehaan I would like to work on this. Do we have the list of names available for presets ?

[2018-04-10 14:43] lmorchard commented on #195
I don't think this one is quite ready to work on yet - we need to come up with names and figure out how / where to display them on the page

[2018-04-10 15:09] lmorchard commented on #221
Something we can add to the build process for this:

* For dev server, use a name without "Firefox"
* For stage / prod, use the real official name that includes "Firefox"

Can probably just change the name back to "Firefox Color" in package.json and just do a hardcoded string replace when dev env is detected in build.

[2018-04-10 15:32] lmorchard commented on #221
We probably don't need to do anything much here if pr #222 looks good - that should tweak the name only for the github pages dev site and local builds using AMO signing, while leaving it alone for stage / prod using our own signing infra.

[2018-04-10 20:03] lmorchard commented on #215
@Shruti9520 - sorry for taking awhile to answer your questions!

That all looks basically correct! In a nutshell, you'd copy & adapt what we do for the saved themes in Redux state & for the component and reproduce it for preset themes.

You can get `presetThemes` from `./lib/themes` with an import - [which is already included in `PresetThemeSelector`](https://github.com/mozilla/FirefoxColor/blob/d

[2018-04-10 22:38] pdehaan commented on #195
@csd713 Unfortunately, we still need to do a bit of work before we can start on this.
But the good news is that we have a few other [good first issues](https://github.com/mozilla/FirefoxColor/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) you could take a look at.

[2018-04-11 15:03] #221 closed

[2018-04-11 18:06] Shruti9520 commented on #215
@lmorchard Thanks! :-)

[2018-04-12 13:49] Softvision-AndreeaCupsa opened #223 "Clicking the "Firefox Color" toolbar button multiple times wrongly opens multiple tabs"
**[Affected versions]:**
- Firefox 59.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Themer" add-on (0.0.35 custom build)
installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" toolbar button m

[2018-04-12 14:31] Softvision-MariusComan opened #224 "The "Undo" button is wrongly active even if nothing is changed when visiting the Firefox Color page for the first time"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest version of the "Firefox Color" add-on (0.0.35 custom built on 12.04.2018) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" toolbar button and o

[2018-04-12 14:37] Softvision-MariusComan opened #225 "The theme textures are not highlighted when hovered"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (0.0.35 custom built on 12.04.2018) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and click the Firefox Color toolbar button.
2. Click t

[2018-04-12 14:43] Softvision-MariusComan opened #226 "The color is wrongly changed right after it is selected regardless of the selection method"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (0.0.35 custom built on 12.04.2018) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and click the Firefox Color toolbar button.
2. Click o

[2018-04-12 14:51] Softvision-MariusComan opened #227 "Clicking the same preset theme multiple times wrongly count as changes"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (0.0.35 custom built on 12.04.2018) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and click the Firefox Color toolbar button.
2. Select

[2018-04-12 15:00] Softvision-AndreeaCupsa opened #228 "[Enhancement] The text from the "Copy" button should change back to "Copy" a few seconds after it has been clicked on"
**[Affected versions]:**
- Firefox 59.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Themer" add-on (0.0.35 custom build)
installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" toolbar button.

[2018-04-12 17:37] lmorchard commented on #228
It currently changes back to "Copy" when the theme is changed - and thus the URL is different. I don't think we need to set up a timer to force the button to change

[2018-04-12 17:37] #228 closed

[2018-04-13 17:24] johngruen opened #230 "Textures do not work in latest nightly"
In 61.0a1 (2018-04-13) i get a console error when creating a theme with a background and no texture appears in  browser chrome

[code]

[2018-04-13 17:25] chuckharmston commented on #230
Related: https://bugzilla.mozilla.org/show_bug.cgi?id=1454016

[2018-04-14 01:49] csd713 commented on #166
Raised a PR to avoid duplicating themes. #231
Need help to hack the highlight animation effect suggested by @johngruen

[2018-04-16 16:37] meandavejustice commented on #230
Should be working again now https://bugzilla.mozilla.org/show_bug.cgi?id=1454016#c7

[2018-04-16 17:01] #230 closed

[2018-04-16 19:44] csd713 commented on #26
Is this issue still open ?

[2018-04-16 19:46] csd713 commented on #223
Hi @meandavejustice can I work on this issue?

[2018-04-16 19:48] pdehaan commented on #26
@csd713 I don't see **jsx-a11y** in package.json or the .eslintrc config file, so it should still be up for grabs if you want to take a poke at a11y rules.

[2018-04-16 19:56] lmorchard commented on #223
Hmm, weird thing is that this [should already be implemented](https://github.com/mozilla/FirefoxColor/commit/b84dd4f836f7883b4ff49dc0859bd9b0dcbe2b0c) here:

https://github.com/mozilla/FirefoxColor/blob/master/src/extension/background.js#L18

But, it looks like we had a regression - possibly as part of renaming the project?

I think the task for this issue will be troubleshooting that code and fig

[2018-04-16 20:52] #15 closed

[2018-04-16 20:53] johngruen commented on #211
Based on user testing i think we can/should disable this feature

[2018-04-16 21:00] lmorchard commented on #211
By "this feature" do you mean dismissing the panel? Or selecting properties by clicking on the browser preview altogether?

[2018-04-16 22:16] johngruen commented on #211
Yeah, sorry...the ability to click on the browser preview itself.

[2018-04-16 23:05] meandavejustice commented on #211
Hitting the `esc` key dismisses the panels, personally I would prioritize this as `post-mvp`. That's just my 2 cents :)

[2018-04-17 02:32] cedricium commented on #223
I was the one who implemented #160 (check to see if FxColor tab exists before creating a new one) - just tried reproducing w/ FxColor v0.0.35 and could not. Is anyone else able to repro?

[2018-04-17 03:32] csd713 commented on #223
Even I'm unable to reproduce this issue with latest load (v "0.0.35" and Fx-59.0.2). Looks like it is fixed.

[2018-04-17 15:11] meandavejustice commented on #225
fixed in #232

[2018-04-17 15:11] #225 closed

[2018-04-17 15:12] johngruen commented on #158
#226 might be a dupe of this

[2018-04-17 15:13] johngruen commented on #159
#226

[2018-04-17 15:13] wresuolc commented on #67
@jbuck what's the next step?  We can't report CSP errors from Firefox?  Or we can just fake those fields in your Lambda function?

[2018-04-17 15:14] wresuolc commented on #207
@jbuck ping on this too.  Is there an ETA or are you blocked on anything from us?  Thanks

[2018-04-17 15:14] johngruen commented on #210
This will be resolved if we close #211

[2018-04-17 15:55] cedricium commented on #223
Hey @Softvision-AndreeaCupsa, here are the steps I took to try and reproduce this issue:

1. `git clone` and `cd FirefoxColor/`.
2. `npm install`
3. `npm start`
4. In Firefox, navigate to `about:debugging` and select "Load Temporary Add-on", then chose the `manifest.json` file found in `FirefoxColor/build/extension/`.
5. Click the toolbar button (with and without the Firefox Color tab open).

Does

[2018-04-17 16:44] lmorchard commented on #11
Do we have any further changes to make here for mvp versus what is already in metrics.md? /cc @johngruen

[2018-04-17 17:16] jbuck commented on #67
@wresuolc hmm, we could definitely have a lambda function fake those fields, yeah. That seems like a reasonable approach here. I'll update this bug when that's done

[2018-04-17 20:02] lmorchard commented on #159
Having trouble reproducing this one. The one thing I can make happen is 1) focus the alpha text field; 2) move the alpha slider; 3) the text field doesn't update to the correct value until it loses focus. But, I think that's just how React handles text fields - i.e. doesn't update them when they have focus.

But also, that doesn't seem to be the behavior happening in the gif.

[2018-04-17 20:10] #142 closed

[2018-04-17 20:12] meandavejustice commented on #223
In our triage this morning @johngruen tried to reproduce this, looks like it is fixed. Closing

[2018-04-18 11:49] johngruen commented on #11
@lmorchard will check this today

[2018-04-18 11:51] johngruen commented on #158
@lmorchard wfm

[2018-04-18 14:43] SoftVision-CiprianMuresan opened #236 "Theme Texture highlight effects appear cut off"
[Affected versions]:
- Firefox 59.0.2 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (0.0.35 custom built on 18.04.2018) installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites and click the Firefox Color toolbar button.
2. Click the "Theme Textur

[2018-04-18 14:52] SoftVision-CiprianMuresan opened #237 "The "Feedback" button is not expanded when focused using the keyboard"
[Affected versions]:
- Firefox 59.0.2 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (0.0.35 custom built on 18.04.2018) installed.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites and click the Firefox Color toolbar button.
2. Click somewhere in the

[2018-04-18 20:11] lmorchard commented on #223
I can reproduce with these steps:
1. Start with no Firefox Color tabs open.
1. Click the toolbar button - new tab is created
1. Click the toolbar button again quickly, before the previous tab has finished loading - new tab is created

I think the problem is that we cannot detect an existing tab with the Firefox Color site until the tab has finished loading. We could maybe fix by having the add-on

[2018-04-18 20:30] HandsomeMedia commented on #236
I'll take a stab at it - I have the build loaded now and can replicate.

[2018-04-18 20:46] HandsomeMedia commented on #236
I've got a simple fix ready.  Just reading up on how to push my changes.

[2018-04-18 21:31] HandsomeMedia commented on #236
PR opened - apologies for the multiple commits on such a simple fix.  I made the first commit without reading contribution guidelines:
https://github.com/mozilla/FirefoxColor/blob/master/CONTRIBUTING.md
😊

[2018-04-18 21:56] #236 closed

[2018-04-19 06:24] HandsomeMedia commented on #184
I took a stab at this tonight, since it appeared to have stalled.  Forgive me if I stepped on anyone's toes!
Also, forgive my React/Redux skills - I'm more comfortable in vanilla.  I'd love mentoring feedback on this PR, and I'm willing to refactor if need be!

[2018-04-19 07:42] #210 closed

[2018-04-19 07:42] #211 closed

[2018-04-19 12:39] Softvision-AndreeaCupsa commented on #210
This issue is no longer reproducible with the latest version of the "FirefoxColor" add-on (0.0.35 custom built on 19.04.2018) installed on the latest Firefox release and Nightly. Now, clicking on browser preview elements no longer perform any action.
Verified on Windows 10 x64, Arch Linux and Mac 10.13.

[2018-04-19 12:40] Softvision-AndreeaCupsa commented on #211
This issue is no longer reproducible with the latest version of the "FirefoxColor" add-on (0.0.35 custom built on 19.04.2018) installed on the latest Firefox release and Nightly. Now, clicking on browser preview elements no longer perform any action.
Verified on Windows 10 x64, Arch Linux and Mac 10.13.

[2018-04-19 12:53] Softvision-AndreeaCupsa commented on #236
This issue is no longer reproducible with the latest version of the "FirefoxColor" add-on (0.0.35 custom built on 19.04.2018) installed on the latest Firefox release and Nightly. The highlight effect is now fully visible and properly displayed on all items from "Theme Texture" bubble.
Verified on Windows 10 x64, Arch Linux and Mac 10.13.

[2018-04-19 14:47] Softvision-AndreeaCupsa opened #244 "Clicking inside the "Theme Texture" panel wrongly dismisses it"
**[Affected versions]:**
- Firefox 59.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**

- Have a Firefox profile with the latest version of the "FirefoxColor" add-on (0.0.35 custom build)
installed from the "about:debugging" page..

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "FirefoxColor" toolbar b

[2018-04-19 19:11] #184 closed

[2018-04-19 19:26] lmorchard commented on #102
We're down to just one column in the texture selector now, so I think that basically addresses this issue

![capture](https://user-images.githubusercontent.com/21687/39013630-f215f2ec-43e5-11e8-9a9b-a6ee1ee52384.PNG)

[2018-04-19 19:26] #102 closed

[2018-04-20 11:23] Softvision-AndreeaCupsa opened #246 "Refreshing the page wrongly changes the "Saved" button into "Save""
**[Affected versions]:**
- Firefox 59.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**

- Have a Firefox profile with the latest version of the "FirefoxColor" add-on (0.0.35 custom build)
installed from the "about:debugging" page..

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" toolbar

[2018-04-20 11:27] Softvision-AndreeaCupsa commented on #184
This issue is no longer reproducible with the latest version of the "Firefox Color" add-on (0.0.35 custom built on 19.04.2018) installed on the latest Firefox Release and Nightly. Verified on Windows 10 x64, Arch Linux and Mac 10.13.
Now, after clicking the "Save" button, it changes into "Saved". But resolving this issue, caused this one: [246](https://github.com/mozilla/FirefoxColor/issues/246).

[2018-04-20 14:09] #145 closed

[2018-04-20 14:31] Softvision-AndreeaCupsa opened #247 "A few color picker panels are wrongly displayed outside the viewport when the browser is resized"
**[Affected versions]:**
- Firefox 59.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**

- Have a Firefox profile with the latest version of the "FirefoxColor" add-on (0.0.35 custom build)
installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" toolbar b

[2018-04-20 17:10] lmorchard commented on #246
Refreshing the page loses the state of what was last saved, since you're starting a brand new session with the app. I guess we could compare the current theme against *all* saved themes every time, but I'm not sure we want that expense. We might just leave this one as an edge case.

[2018-04-20 19:04] #158 closed

[2018-04-20 19:05] lmorchard commented on #226
I *think* this has been fixed here:
https://github.com/mozilla/FirefoxColor/pull/238

[2018-04-20 19:05] #226 closed

[2018-04-20 19:15] lmorchard commented on #159
Going to close this for now. We reworked a lot of the state behind this, and I can't seem to reproduce it anymore. Let's reopen if it looks easily reproducible again.

[2018-04-20 19:15] #159 closed

[2018-04-20 19:17] lmorchard commented on #215
Any updates on this one? Don't want to step on any efforts in progress.

I'm out next week, but I may take a swing at this when I get back. We just added it to a milestone with a deadline coming up in a couple of weeks.

[2018-04-21 13:34] Shruti9520 commented on #215
Hi, @lmorchard. Yes, I just saw your comment and made changes that are required.
What I am getting is this error-
![pagination1](https://user-images.githubusercontent.com/20228417/39084668-ae23d664-4596-11e8-92c8-2d82bfc4f338.png)

This is basically because I am not passing `https://github.com/mozilla/FirefoxColor/blob/da4ac852a65c5d80148f4d8ccc02703747e23ca0/src/web/lib/components/SavedThemeSelec

[2018-04-21 13:44] Shruti9520 commented on #215
@lmorchard To make it easy, here is link to my commit for this issue- https://github.com/Shruti9520/Themer/commit/eabd09df438f3a25bc411b741cf2636afd1a88fd

[2018-04-23 08:36] Softvision-MariusComan commented on #226
This issue is no longer reproducible with the latest version of the "Firefox Color" add-on (0.0.35 custom built on 23.04.2018) installed, on the latest Firefox release and Nightly. Verified on Windows 10 x64, Ubuntu 14.04 x64 and Mac 10.12.

[2018-04-23 15:46] Softvision-AndreeaCupsa opened #249 "Mouse pointer does not change into text selection pointer when hovering "Share your theme" text"
**[Affected versions]:**
- Firefox 59.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**

- Have a Firefox profile with the latest version of the "FirefoxColor" add-on (0.0.35 custom build) installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" toolbar b

[2018-04-23 16:09] Softvision-AndreeaCupsa opened #250 "The "Copy" URL field text selection is only canceled if clicking in specific areas outside of it"
**[Affected versions]:**
- Firefox 59.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**

- Have a Firefox profile with the latest version of the "FirefoxColor" add-on (0.0.35 custom build)
installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" toolbar b

[2018-04-23 16:20] Softvision-AndreeaCupsa opened #251 "Theme URL is wrongly selected when clicking inside the "Share your theme" text div"
**[Affected versions]:**
- Firefox 59.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**

- Have a Firefox profile with the latest version of the "FirefoxColor" add-on (0.0.35 custom build)
installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" toolbar b

[2018-04-24 14:45] #39 closed

[2018-04-24 16:41] #45 closed

[2018-04-24 16:41] wresuolc opened #253 "Get a data review on metrics"
This depends on #11 though

https://github.com/mozilla/FirefoxColor/blob/master/docs/metrics.md

[2018-04-24 16:49] wresuolc commented on #253
1. Is there documentation that describes the schema for the ultimate data set available publicly, complete and accurate?
    Yes, see link above to the metrics doc

2.   Is there a control mechanism that allows the user to turn the data collection on and off?
    Installing/Uninstalling the add-on

3. What type of data do the requested instruments or measurements fall under?
    category 1 and 2

[2018-05-01 16:59] johngruen commented on #11
Making some notes here...
- [ ] Doesn't look like the `tab_line` has a value. this makes sense since we added it later.
- [ ] in `src/lib/metrics` comments say we're passing hsla colors, but they're rgb(a), we should correct that.

[2018-05-01 17:12] johngruen opened #256 "CORS issues with adblockers"
I sort of don't think this is an issue save for the uncaught exception, but will log it for discussion.
Noticed with uBlock Origin and DDG Privacy Essentials add-on. Metrics pings to GA trigger a CORS warning and a console error, namely:

[code]

[2018-05-01 19:40] johngruen opened #257 "cd2 is not working as described"
`cd2` captures if a user begins a visit to the site from the browserAction, but it doesn't seem to be firing...

STR
1. Open the site from the browserAction
2. Pick a new preset theme
3. In the console, look at the metrics log object...`cd2` is set to `false`

expected: `cd2` is set to `true`

[2018-05-01 19:42] johngruen opened #258 "Implement cd12 to capture tab_line"
we added the `tab_line` api property late and it didn't make it into metrics...We should add it per pending changes to the metrics.md doc

[2018-05-01 20:25] lmorchard commented on #257
Looks like I added [a function to set the flag](https://github.com/mozilla/FirefoxColor/blob/cc5aec23a04f2b2bb76f8eae359fd71d26b01ed0/src/lib/metrics.js#L112), but never set things up to detect an add-on click.

Could probably just add a query parameter to [the URL used to open a new tab from the toolbar button](https://github.com/mozilla/FirefoxColor/blob/cc5aec23a04f2b2bb76f8eae359fd71d26b01ed0/

[2018-05-01 21:18] lmorchard commented on #11
Would be easiest to change metrics.md than convert all the internal RGBA values to HSLA on every metric hit, unless there's a reason they absolutely have to be HSLA

[2018-05-01 23:04] dominictwlee commented on #237
Hi, I'm a newbie contributor to open source but I could give this a go if no one else is working on it.

[2018-05-02 08:05] johngruen commented on #11
@lmorchard yeah, i'll add that to the metrics docs PR

[2018-05-02 08:12] #257 closed

[2018-05-02 08:19] #258 closed

[2018-05-02 20:52] lmorchard commented on #215
@Shruti9520 Looking at your commit and I see what's happened here. (Also sorry to have taken awhile to respond!) The data structure is different between saved and preset themes.

[The PaginatedThemeSelector component expects the structure from the saved themes](https://github.com/Shruti9520/Themer/blob/master/src/web/lib/components/PaginatedThemeSelector/index.js#L32), not the simple list from pre

[2018-05-03 19:18] wresuolc commented on #253
@rjweiss -- please review our data collection at https://github.com/mozilla/FirefoxColor/blob/master/docs/metrics.md

[2018-05-04 11:42] Softvision-AndreeaCupsa commented on #169
This issue is still reproducible on latest Firefox (59.0.3) and latest Nightly (61.0a1) with Firefox Color(0.0.35) installed, on Win10 x64 and Mac 10.13.3. When refreshing the page "Install Themer" banner is briefly displayed.

[2018-05-04 13:04] Softvision-AndreeaCupsa opened #264 "Clicking inside the "Privacy and Terms" pop-up wrongly dismisses it"
**[Affected versions]:**
- Firefox 59.0.3 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**

- Have a Firefox profile with the latest version of the "FirefoxColor" add-on (0.0.35 custom build) installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" toolbar b

[2018-05-04 14:10] johngruen commented on #169
I have a feeling this is because we haven't done a deployment recently.

[2018-05-04 14:24] Softvision-AndreeaCupsa opened #266 "[Enhancement] The "Privacy and Terms" pop-up should be dismissed when pressing Esc key"
**[Affected versions]:**
- Firefox 59.0.3 and up

*[Affected Platforms]:*
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**

- Have a Firefox profile with the latest version of the "FirefoxColor" add-on (0.0.35 custom build) installed from the "about:debugging" page.

*[Steps to reproduce]:*
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" toolbar butto

[2018-05-04 16:12] pdehaan commented on #64
@arunikayadav42: Welcome!

The best place to start would probably be reviewing the [CONTRIBUTING.md](https://github.com/mozilla/FirefoxColor/blob/master/CONTRIBUTING.md) document, and then looking through the list of open [good first issue](https://github.com/mozilla/FirefoxColor/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22)s that you are interested in.

[2018-05-04 16:28] lmorchard commented on #169
Well, a deployment won't affect localhost either way. Probably still just going to show this banner on some machines unless we keep bumping the loader delay up

[2018-05-04 21:46] rayborn commented on #253
r+

# Data Review Form

1) Is there or will there be **documentation** that describes the schema for the ultimate data set available publicly, complete and accurate?
Yes, metrics.md

2) Is there a control mechanism that allows the user to turn the data collection on and off? (Note, for data collection not needed for security purposes, Mozilla provides such a control mechanism) Provide details as t

[2018-05-04 21:59] wresuolc commented on #253
thank you

[2018-05-04 21:59] #253 closed

[2018-05-06 19:15] Shruti9520 commented on #215
Hi @lmorchard,
Thank you so much for such a clear description. :-)
I have a doubt. As you said that preset themes are already in an array and not an object. Now, in `PaginatedThemeSelector` we are using `BrowserPreview' ( https://github.com/mozilla/FirefoxColor/blob/0de7d6914f28d343499804a6bece67f87c262d09/src/web/lib/components/PaginatedThemeSelector/index.js#L46) and in `BroserPreview` we are us

[2018-05-07 09:06] Softvision-AndreeaCupsa opened #268 ""Privacy" and "Terms" links are not focused when navigating with "Tab" key"
**[Affected versions]:**
- Firefox 59.0.3 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "FirefoxColor" add-on (0.0.36 custom build) installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" toolbar bu

[2018-05-07 13:47] Softvision-AndreeaCupsa commented on #169
This issue is still reproducible on Win 10 x64, Mac 10.13.3 and Arch Linux, using latest Firefox (59.0.3) and latest Nightly (61.0a1) with Firefox Color (0.0.36) installed. The banner is still briefly displayed when refreshing the page and also when you navigate to Firefox Color site.

[2018-05-07 17:27] pdehaan opened #270 "Add an update URL?"
Saw https://github.com/mozilla/side-view/pull/232 and wanted to confirm we are 👌 for this as well.

I ran <kbd>$ npm run build:extension</kbd> but didn't see an `applications.gecko.update_url` in build/extension/manifest.json:

[code]

---

[code]

[2018-05-08 12:47] johngruen commented on #70
How about we do something like this:

1. Somewhere on the page we add an advanced mode
2. Hitting the toggle does the following:
* Displays a panel UI since these accept theme props as well
* Moves all of the theme elements to a grid view and shows an exhaustive list
3. Saving an advanced mode theme will add some kind of additional badge to saved themes

For a list of available theme APIs see the

[2018-05-08 12:49] johngruen commented on #223
Seems like not a good first issue

[2018-05-08 12:49] #237 closed

[2018-05-08 13:19] #120 closed, assigned to nobody

[2018-05-08 14:04] Softvision-AndreeaCupsa commented on #237
I have verified that the issue is no longer reproducible on Mac 10.13.3, Win10 x64 and Arch Linux on latest Firefox (59.0.3) and latest Nightly (62.0a1) with Firefox Color (0.0.36) installed.
The "Feedback" button is expanded when focused using the keyboard.

[2018-05-08 14:28] nt1m commented on #70
I like the idea! However, I think the popup and popup_text properties should be part of the "normal" package. It covers a rather big UI surface, and it's a common use-case to make the panels match the main UI (and it makes sense to do this for the preset themes as well).

[2018-05-08 14:54] #270 closed

[2018-05-08 14:57] lmorchard commented on #169
Unassigning myself for now, because I'm not actively working on it at the moment. Will probably get back to looking, but didn't want to block

[2018-05-08 14:59] lmorchard commented on #215
Oh, I think that part is fine. The *collection* of preset themes needs to be adapted to a slightly different list, but the `colors` property of each individual theme is fine to stay as-is.

[2018-05-08 15:14] johngruen commented on #256
This is probably as expected... @lmorchard will take a peek

[2018-05-08 15:18] johngruen commented on #247
Dupe of #199

[2018-05-08 15:18] #247 closed

[2018-05-08 15:19] #246 closed, assigned to nobody

[2018-05-08 15:25] #137 closed

[2018-05-08 15:27] #103 closed

[2018-05-08 15:28] #91 closed

[2018-05-08 15:37] Softvision-AndreeaCupsa commented on #169
Attached the screenshot with the behaviour of the issue:

![install themer banner](https://user-images.githubusercontent.com/37875464/39767169-c0901884-52ee-11e8-9a83-a8c0777cd31c.gif)

[2018-05-08 16:02] lmorchard commented on #169
Huh, that really looks weird - like the loader isn't spinning at all on a click from the toolbar

[2018-05-08 17:17] #166 closed

[2018-05-08 17:20] lmorchard opened #275 "Improve the UX for de-duped themes"
With PR #231 we stop saving a new theme entry if the current theme matches any of the themes already saved. This could use some UI polish, e.g.:

- Re-order the set of saved themes so that the already saved one that matches the current one pops to the top of the list on save attempt
- CSS animation to show the reorder? (might be wasted if the saved list is off-screen)
- Grey-out the save button if

[2018-05-09 11:57] Softvision-AndreeaCupsa opened #277 ""Save" button is no longer active if you navigate to a website and return to "Firefox Color" page"
**[Affected versions]:**
- Firefox 59.0.3 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (0.0.36 custom build) installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" toolbar b

[2018-05-09 12:14] Softvision-AndreeaCupsa opened #278 ""Undo" button has an inconsistent behavior if you refresh the "Firefox Color" page or navigate to a website and return"
**[Affected versions]:**
- Firefox 59.0.3 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "FirefoxColor" add-on (0.0.36 custom build) installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" toolbar bu

[2018-05-09 14:29] Softvision-AndreeaCupsa opened #279 "Saved Themes are wrongly duplicated if you click "Undo" or "Redo" and save the theme again"
**[Affected versions]:**
- Firefox 59.0.3 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**

- Have a Firefox profile with the latest version of the "FirefoxColor" add-on (0.0.36 custom build) installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" toolbar b

[2018-05-09 15:02] Softvision-AndreeaCupsa opened #280 ""Firefox Test Pilot" hyperlink's color is wrongly changed with the same color set in "Tab Highlight Color""
**[Notes]:**
- Changing the "Firefox Test Pilot" hyperlink with the "Tab Highlight Color" can be confusing, as its easy to mislead users into thinking that all hyperlinks will have that color.

**[Affected versions]:**
- Firefox 59.0.3 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Color"

[2018-05-09 15:13] Softvision-MariusComan opened #281 "The "Copied" button is wrongly changed back to "Copy" if the same preset/saved theme is selected"
**[Affected versions]:**
- Firefox 60.0 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have the latest version of the "Firefox Color" add-on (0.0.36 local-dev custom built on 09.05.2018) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click on any preset/saved theme and click the "Copy" button.
3. C

[2018-05-09 17:51] lmorchard commented on #280
[I think this is an intentional design feature @johngruen added](https://github.com/mozilla/FirefoxColor/pull/272)

[2018-05-09 17:51] #280 closed

[2018-05-10 14:20] jamesgecko opened #282 "Entire UI turns black in Firefox 61.0b3"
I recently disabled and re-enabled this extension. Upon re-enabling, all the browser chrome has turned black. Changing options on the color picking website doesn't change any colors in the browser chrome from black.

Firefox Developer Edition 61.0b3 (64-bit)
MacOS 10.13.4 (17E202)
MacBook Pro (Retina, 15-inch, Mid 2015)

<img width="1081" alt="screen shot 2018-05-10 at 10 09 21 am" src="https://us

[2018-05-10 16:39] lmorchard commented on #282
You might try uninstalling and re-installing the extension, not just disabling / enabling. We've made a number of big changes to things, but haven't had an updateURL setup with the add-on yet. So it's likely you haven't gotten an up-to-date version

[2018-05-11 13:45] johngruen commented on #282
I got another report of this recently. we should keep track as we get ready to GTM...i do have a feeling this has to do with finally adding an update URL tho

[2018-05-11 16:06] lmorchard commented on #282
Yeah, I *think* the cause here is the conversion from HSLA to RGBA. If the add-on isn't updated with code to use RGBA, all the colors are black because the HSLA values are all null

[2018-05-14 23:01] marniepw commented on #198
How about these: https://docs.google.com/document/d/1Au8gYGIyj0qO9ep4AqQ__jInbzxgkHkXmx9JJuf1CXg/edit#

[2018-05-15 08:50] Softvision-AndreeaCupsa opened #285 "Gradient theme texture appears cut off if "Toolbar Color" opacity is under 50%"
**[Affected versions]:**
- Firefox 60 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (0.0.36 custom build - 15/05/2018) installed from the "about:debugging" page.
- "Toolbar Color" opacity is set to 50%.

**[Steps to reproduce]:**
1. Open the browser with the profile from pre

[2018-05-15 12:09] Softvision-MariusComan commented on #224
After further investigation, I've found out that the actual behavior is a bit different. Each time a "Firefox Color" tab is opened the default theme is loaded and displayed for a brief amount of time. Only after that, it is changed to the previously selected theme.
This behavior causes the "Undo" button to activate even if no changes were being made. This affects also the browser's "Back" button t

[2018-05-15 13:54] johngruen commented on #37
Reopening this for consideration...some of the feedback from Sharon's ur was that the URLs seemed really opaque to people....

I wonder if we just use hex(a) in all the preset themes, we could get more terse/understandable with the theme urls (`?c=ffaaff22,22ccaa,eeffee...&bg=bg-001.svg`)

[2018-05-15 19:42] #60 closed

[2018-05-16 12:08] Softvision-AndreeaCupsa commented on #169
After the position of the banners was updated, I tested this on Win 10 x64, Mac 10.12 with the latest Firefox Color version (0.0.37) when refreshing the page the "Install Firefox Color" banner is briefly displayed in "Share your theme" + "Save your theme" section.
Because of this, the "Feedback" button and "Share your theme" + "Save your theme" section are displayed with a delay.
I am attaching a

[2018-05-16 14:36] Softvision-AndreeaCupsa opened #286 ""Do you want to apply this custom theme?" pop-up is wrongly displayed when the page is refreshed while certain preset themes are enabled"
**[Affected versions]:**
- Firefox 60 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (0.0.37 custom build - 16/05/2018) installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color"

[2018-05-16 14:40] Softvision-AndreeaCupsa opened #287 ""Copy and paste this URL to to share your creation" text has an extra "to""
**[Affected versions]:**
- Firefox 60 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**

- Have a Firefox profile with the latest version of the "FirefoxColor" add-on (0.0.37 custom build 16.05.2018) installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" to

[2018-05-16 14:40] SoftVision-CiprianMuresan opened #288 "The Firefox Default theme is wrongly applied instead of the previously set one after the add-on is removed"
[Affected versions]:
- Firefox 60.0 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest version of the "FirefoxColor" add-on (0.0.36 custom built on 5/16/2018) installed from the "about:debugging" page.
- Firefox Dark Theme is enabled.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Navig

[2018-05-16 14:47] johngruen commented on #285
Oh yeah, i guess those textures aren't quite tall enough...this should be an easy fix.

[2018-05-16 14:48] johngruen commented on #287
Strings aren't final atm, this should get fixed soon

[2018-05-16 14:49] #288 closed

[2018-05-16 14:50] johngruen commented on #251
I think this works as intended, closing

[2018-05-16 14:50] #251 closed

[2018-05-16 14:50] johngruen commented on #31
Closing this, since it gets rolled up into onboarding

[2018-05-16 14:51] #31 closed

[2018-05-16 14:51] SoftVision-CiprianMuresan commented on #288
😢

[2018-05-16 15:11] wresuolc commented on #282
If anyone encounters this again, please comment

[2018-05-16 15:13] wresuolc commented on #278
The undo stack should be whacked if someone navigates away from the page

[2018-05-16 15:18] wresuolc commented on #37
Using hex values in the URL can up to triple the length according to our conversation (the current URL zips the json).  We'll reclose for now.

[2018-05-16 15:18] #37 closed

[2018-05-16 15:57] lmorchard commented on #278
Going to look into this. I suspect we have some other unexpected behavior with undo/redo, too. I think we add items to the undo stack with *every* redux store change - which can include things that look like non-events like picking the same saved theme twice or selecting the same color from a picker.

[2018-05-16 16:06] chuckharmston commented on #37
I made a suggestion to John that might be helpful here: what if, when a user tries to get a URL to share, you return a short url? `fxcol.org` is available and could be reasonably added to our enterprise bit.ly account. A Lambda function could be used to bridge a theme hash => short URL via the bitly API.

[2018-05-16 17:56] jamesgecko commented on #282
Installing the add-on resolved this for me today.

I have all my add-ons set to manual update. Six days ago I ran into an issue where clicking update on the list removed this add-on from the list of installed add-ons. I assumed that it had been uninstalled somehow, but the add-on installation process from the theme customization website failed with an error. I know this is super vague, but I'm not

[2018-05-16 22:40] #287 closed

[2018-05-17 23:58] wresuolc commented on #282
No worries, thanks for getting back to us.  I'll close this.

[2018-05-17 23:58] #282 closed

[2018-05-18 00:55] jbuck commented on #67
I have a patch up for review at https://github.com/mozilla-services/cloudops-deployment/pull/2013 that outputs any CSP reports to Cloudwatch Logs, which is a good enough starting point for the security review to go ahead. Once it's been reviewed, I'll deploy to production

[2018-05-18 00:56] jbuck commented on #207
I've setup the Pingdom check for production, but I'd like to wait until we start seeing some production traffic before adding some more Cloudfront/Lambda metrics

[2018-05-19 13:42] johngruen commented on #285
With the added tab space and bookmark menu, i was able to make my browser 104px tall, let's keep everything that is only meant to repeat-x

[2018-05-22 08:58] Softvision-MariusComan commented on #136
This issue is no longer reproducible with the latest version of the "Firefox Color" add-on (0.0.37 local-dev custom built on 22.05.2018) installed, on the latest Firefox release (60.0.1) and Nightly (62.0a1 Build ID - 20180521220045).
Considering this I am closing this issue.

Verified on Windows 10 x64, Ubuntu 16.04 x64 and Mac 10.12.

[2018-05-22 08:58] #136 closed

[2018-05-22 12:55] Softvision-AndreeaCupsa commented on #285
I have verified this issue on Mac 10.13 and Win 10 x64 on Latest Firefox (60.0.1) and Latest Nightly (62.0a1) with latest "Firefox Color" (0.0.37 22/05/2018) installed.

The gradient theme texture is properly displayed now if the "Bookmark toolbar" is enabled, but the gradient theme texture is still wrongly displayed in the "Preview Panel".

On Win 10 x64 the gradient texture theme is still cut of

[2018-05-22 13:33] johngruen commented on #285
oy vey

[2018-05-22 15:39] lmorchard commented on #169
I just noticed this line we added [a month or so ago](https://github.com/mozilla/FirefoxColor/blame/master/src/web/index.js#L33):

[code]

This means that the delay has been disabled altogether on a local copy of the site and the github pages dev deployment. So, that would explain why the loader isn't waiting around at all.

[2018-05-22 16:16] #174 closed

[2018-05-22 16:26] #169 closed

[2018-05-22 16:29] quantumproducer opened #299 "How to edit console color theme?"
I'm on OSX, and my computer doesn't have a "userchrome.css" file anywhere.

[2018-05-22 16:40] lmorchard opened #301 "Backfill tests?"
We should add some unit tests to the project, now that the functionality seems to be settling down.

Tests are run using the `npm test` command and our testing framework consists of these parts:
* [mocha](https://mochajs.org/) - for organizing and running test cases
* [chai](http://www.chaijs.com/) - for making assertions about the results of tested code
* [sinon](http://sinonjs.org/) - for creati

[2018-05-22 16:41] lmorchard commented on #301
I may even do this as a part of issue #286, so I can wrap the theme comparison function in some unit tests to try to reproduce the issue

[2018-05-22 18:01] weivicky opened #302 "Allow users to revert to default themes with FF color installed"
For example, I change my theme back to default and exit my browser. When I reopen my browser, it changes back to my last used Firefox Color theme

![may-22-2018 14-02-20](https://user-images.githubusercontent.com/10877399/40381137-e93eacfc-5dc8-11e8-900c-b08dc68a64f4.gif)

[2018-05-23 08:33] SoftVision-CiprianMuresan commented on #299
Hi @quantumproducer,

This repository is tracking the work that is done as a part of the Firefox Color feature, which to the best of my knowledge has nothing to do with the console color theme. However, you can switch from Light to Dark themes for the Developer Tools by pressing F12 and then F1. You should then see two radio buttons with Dark and Light.

I'm not sure how the issue's description is

[2018-05-23 10:37] Softvision-AndreeaCupsa commented on #285
I looked over this and the gradient theme texture is correctly displayed in the browser's UI, but is still wrongly displayed in the "Preview Panel".

Are we ok with the "Preview Panel" looking like this?

I attached a screenshot of the "Preview Panel":

![preview panel gradient issue](https://user-images.githubusercontent.com/37875464/40419511-421a3696-5e8e-11e8-8920-1daf0f8e5720.png)

[2018-05-23 10:43] Softvision-AndreeaCupsa commented on #169
I have verified this issue and is no longer reproducible on Mac 10.13 and Windows 10 x64 on latest Firefox (60.0.1) and latest Nightly (62.0a1) with latest "Firefox Color" (0.0.39 23/05/2018) installed. The "Install Themer" banner is no longer briefly displayed when navigating to the "Firefox Color" page or when refreshing it.

[2018-05-23 11:30] Softvision-AndreeaCupsa opened #305 "A green banner is wrongly displayed instead of the "onboarding" after installing "Firefox Color" for the first time"
**[Affected versions]:**
- Firefox 60.0.1 and up

**[Affected Platforms]:**
- All Windows
- All Mac

**[Steps to reproduce]:**
1. Open the Firefox browser with a clean profile.
2. Install the latest "Firefox Color" (v0.0.39) add-on from about:debugging.
3. Observe the section below the "Preview Panel".

**[Expected result]:**
- The "onboarding" is displayed between the "Preview Panel" and the "Sha

[2018-05-23 13:54] quantumproducer commented on #299
Thanks @SoftVision-CiprianMuresan , I will try that.
Is there a way to click for those themes instead of with FN keys?

[2018-05-23 13:54] #299 closed

[2018-05-23 14:05] quantumproducer commented on #299
@SoftVision-CiprianMuresan know where I can find a big list of userChrome.css documentation settings?

[2018-05-23 14:13] SoftVision-CiprianMuresan commented on #299
F12 is the general shortcut for the Developer Tools. Individual Tools can also be accessed from Tools -> Web Developer. After which you click the "..." button ("Customize Developer Tools and get help) and then select "Settings". You should land in the same place as the F12, F1 combo.

The best link I can offer for userChrome documentation is: https://www.userchrome.org/how-create-userchrome-css.ht

[2018-05-23 14:25] sevaan opened #306 "Feature Idea: Right-click on Image to start making a theme"
If a user sees a cool image in their browser while surfing, it would be awesome if they could right-click on it, and somewhere in the context menu is an option that allows them to start creating a theme with that image as the toolbar background.

[2018-05-23 15:02] lmorchard commented on #306
FWIW, we don't / can't support user-supplied images right now. There's a canned set of backgrounds embedded in both the website and the add-on - the background is just set via an ID passed between the two. So, we'd need to work out managing user-generated images, which might be more of a job for a site like addons.mozilla.org

[2018-05-25 20:17] lmorchard commented on #302
As far as I understand, it's impossible to change from Firefox Color or any other dynamic theme. It's an upstream issue with how things are implemented within Firefox itself.

[2018-05-25 22:04] lmorchard commented on #301
Another small todo - add test coverage metrics. It looks like it's pretty easy to do with mocha and nyc:

https://istanbul.js.org/docs/tutorials/mocha/

[2018-05-29 14:06] johngruen commented on #302
I think there could be a fix for this if we bring back some kind of **restore default** button that would call `browser.theme.reset()` we'd have to add a prop that would override theme colors and backgrounds.

[2018-05-29 14:11] johngruen opened #308 "Let users add images to FF color"
In order to replace and  enhance the feature set of personas plus we should let users add images to their themes.

Users should be able to do the following:
1. Add multiple image to their themes
2. Set the stacking order of these images (which one is on top)
3. Set the repeat pattern of each image (`no-repeat`, `repeat-x` etc)
4. Set the registration of each image (`center top`,  `bottom left` etc

[2018-05-29 15:06] lmorchard commented on #306
Issue #308 is probably a blocker for this fwiw

[2018-05-29 15:09] johngruen commented on #302
Okay this might not work

[2018-05-29 15:13] Shruti9520 commented on #301
Hi there! @lmorchard
I would like to take this up. :-)

Thank you!

[2018-05-29 15:23] Softvision-MariusComan opened #309 "The "https://mozilla.github.io/FirefoxColor/" URL is wrongly displayed instead of "https://color.firefox.com" in "about:addons""
**[Affected versions]:**
- Firefox 60.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest version of the "Firefox Color" add-on (0.0.39 custom built on 29.05.2018) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Go to "about:addons#extensions" and click the

[2018-05-29 15:24] lmorchard commented on #308
This could be a bit of a challenge to figure out. The way Firefox Color works right now is that there's a canned set of images baked into both the add-on and the website. They're selected by name in the theme data shared between the two.

Not sure how to support arbitrary user images in Firefox Color under that model. I don't think WebExtensions have access to the local filesystem, so it doesn't l

[2018-05-29 15:29] lmorchard commented on #308
Also, in terms of UX, if we can't access user-supplied images in the Firefox Color add-on - we can't do the kind of live preview of changes involving those images in browser chrome like we do with every other property in the editor right now.

[2018-05-29 15:40] lmorchard commented on #302
That was issue #44, closed because `browser.theme.reset()` doesn't do what we want here.

[2018-05-29 21:55] lmorchard commented on #308
Hmm, I may need to eat my hat - data URIs might work! Will do more investigation

[2018-05-29 22:14] Shruti9520 commented on #301
Hi @lmorchard
I wrote very basic tests for-
1. AppHeader Component- https://gist.github.com/Shruti9520/7059e5b574ce8e8ac74a69a6fb8399d9
2. AppFooter Component- https://gist.github.com/Shruti9520/f4f4bb9ea8e3cdcbac4666db521a8d20
Here I want to add tests after click event. For this, let's say here- https://github.com/mozilla/FirefoxColor/blob/b8e3ece761f2caed2ef9237f355d9b2a54c853e2/src/web/lib/comp

[2018-05-29 22:56] wresuolc opened #310 "Optimize add-on detection pings"
From the add-on review:

[2018-05-30 11:49] Softvision-MariusComan opened #311 "The "Save" button is wrongly active on all saved themes except the last"
**[Affected versions]:**
- Firefox 60.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest version of the "Firefox Color" add-on (0.0.39 custom built on 30.05.2018) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and save at least two themes.
2. Click on each sav

[2018-05-30 11:54] Softvision-MariusComan opened #312 "The "Save" button is not re-enabled for a previously saved theme after it is deleted from the "Saved themes" area"
**[Affected versions]:**
- Firefox 60.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest version of the "Firefox Color" add-on (0.0.39 custom built on 30.05.2018) installed.
- Have at least a theme saved.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click on any th

[2018-05-30 12:06] Softvision-AndreeaCupsa commented on #286
This issue and is still reproducible on Windows 10 x64, Mac 10.13 with the latest Firefox Color custom add-on (0.0.39) installed. The pop-up is still wrongly displayed when certain themes are refreshed, and the behaviour seems to be present even on saved themes.

After further investigation it seems like the pop-up has a tendency to be displayed more often when opacity of "Toolbar Color" or "Searc

[2018-05-30 12:47] Softvision-AndreeaCupsa opened #313 ""Go forward one page" button is inactive after navigating to another page and returning to "Firefox Color" website"
**[Affected versions]:**
- Firefox 60.0.1 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (0.0.39 custom build - 16/05/2018) installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Col

[2018-05-30 13:33] Softvision-MariusComan opened #314 "The "Install Firefox Color" button wrongly redirects to a "404" page"
**[Affected versions]:**
- Firefox 60.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Navigate to the "https://color.firefox.com" page.
3. Click the "Install Firefox Color" button from the top part of the page.
4. Observe the behavi

[2018-05-30 13:45] lmorchard commented on #310
TL;DR: We're doing what we're doing because we tried everything else and ran into bug after bug. This whole area of the site is loaded with race conditions and weird behavior.

If I recall, we *did* at one point ping the add-on once and wait. But then some times, the add-on would miss the ping because it wasn't fully initialized yet. Or the add-on would send a post-install event and the site would

[2018-05-30 13:47] Softvision-AndreeaCupsa commented on #278
This issue and is no longer reproducible on Windows 10 x64, Mac 10.13, Arch Linux with the latest Firefox Color custom add-on (0.0.39) installed. The "Undo" and "Redo" buttons are no longer displayed after you refresh the "Firefox Color" page or navigate to a website and return.

Considering this I will close this issue.

[2018-05-30 13:47] #278 closed

[2018-05-30 13:54] lmorchard commented on #310
Oh wait, I thought this was about the Test Pilot add-on. This is about Firefox Color. Nevermind previous comments, this is the thing here:

We ping periodically to detect the absence and uninstall of the add-on, so we can update the site accordingly. There is no event from a webextension to signal uninstall, and this site does not have access to mozAddonManager

[2018-05-30 14:00] Softvision-AndreeaCupsa commented on #286
Yes, I tested this on the latest dev build, with a clone I made today (30.05.2018).

[2018-05-30 14:00] lmorchard commented on #314
/cc @jbuck - I think one of the env vars may be incorrect on the prod build - i.e. `s/themesrfun/FirefoxColor/`

[2018-05-30 15:52] jbuck commented on #314
Ah, I hadn't enabled building automatically in production yet, so prod was on an old build from may 9th. I enabled that, and it's pointing at the right addon now

[2018-05-30 22:36] wresuolc commented on #314
Closing based on jbuck's last comment

[2018-05-30 22:36] #314 closed

[2018-05-31 08:09] Softvision-MariusComan commented on #314
This issue is no longer reproducible with the latest version of the "Firefox Color" add-on (0.0.38) installed from the "https://color.firefox.com/" website.
Verified on Windows 10 x64, Ubuntu 16.04 x64 and Mac 10.13 with the latest Firefox release (60.0.1) and latest Nightly (62.0a1 - 20180530220105).

[2018-05-31 19:45] #208 closed

[2018-05-31 19:49] #286 closed

[2018-05-31 20:20] wresuolc commented on #207
kicking this out of MVP then

[2018-06-01 09:31] Shruti9520 commented on #215
Hi @lmorchard
My recent commit- https://github.com/Shruti9520/Themer/commit/e11b27166a3116989aa2230d03b9c3d100d4f39a
The error that I am getting is-
![error](https://user-images.githubusercontent.com/20228417/40833796-8bc7b866-65ac-11e8-9a1d-a7a5f07767bb.png)
Sorry for replying late. I was out due to some work.

Thank you!

[2018-06-01 20:57] johngruen opened #321 "add save button event"
Somehow i missed this in the metrics spec, but we should add an event ping when the user clicks on an active save button:

[code]

[2018-06-01 20:58] johngruen opened #322 "Cannot make finish-visit fire"
finish-visit does not appear to be firing as intended. I see no record of it on the GA event logs.

[2018-06-01 20:58] johngruen commented on #322
@lmorchard maybe something to look at on monday if possible?

[2018-06-04 12:07] Softvision-AndreeaCupsa commented on #286
I have verified this issue and is no longer reproducible on Mac 10.13 and Windows 10 x64 on latest Firefox (60.0.1) and latest Nightly (62.0a1) with latest "Firefox Color" (1.0.0 04/06/2018) installed.
The "Do you want to apply this custom theme?" pop-up is no longer wrongly displayed when refreshing the page while certain themes are enabled.

[2018-06-04 12:14] Softvision-AndreeaCupsa commented on #244
This issue is still reproducible on Mac 10.13 and Windows 10 x64 on latest Firefox (60.0.1) and latest Nightly (62.0a1) with latest "Firefox Color" (1.0.0 04/06/2018) installed.

The "Theme Texture" panel is wrongly dismissed if you click the white space between the theme textures, but is no longer dismissed if you click the panel margins.

Considering this I will reopen this issue.

[2018-06-04 13:37] Softvision-MariusComan opened #323 "The "Firefox Color" survey can wrongly be finalized without completing any fields from the form"
**[Notes]:**
- The main concern here is that we could receive empty feedbacks and it could be hard to know if the feedback was empty from the start or if the information was lost due to other factors.

**[Affected versions]:**
- Firefox 60.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest version of the "

[2018-06-04 13:40] Softvision-MariusComan opened #324 "The "selection rectangle" wrongly overlaps the stars from the survey's rating section"
**[Affected versions]:**
- Firefox 60.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest version of the "Firefox Color" add-on (1.0.0 custom built on 04.06.2018) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Navigate to the "https://color.firefox.com" pag

[2018-06-04 14:01] weivicky opened #325 "Current preview design doesn't show all the properties"
If we are including all 27 of theming properties from MDN, the current preview design is not enough ...

I suggest using a real browser preview because it includes all the properties and provides users with a better context. For properties like, icons attention and icons loading, it's hard to for users to identify them without having any context (maybe it's just me). Also, users will have a better

[2018-06-04 14:13] weivicky opened #326 "Grouping background color and theme texture"
Should we group those two? Both are changing the background, yet they are not pointing at the same thing. I was confused at first (maybe it's just me) since I thought each arrow points to a different area of the browser.

I am also used to clicking on a shape, for example, in sketch and illustrator and be able to change stuff about it (fill, stroke, size). Similarly, I expect that when I click on

[2018-06-04 14:18] weivicky opened #327 "The legibility of the URL in the toolbar field popup"
Right now, the url color is defaulted as blue. Could be illegible if the user changes to blue, for example...

Couple of possible solutions:
- the system changes the url color automatically
- we give users the ability to change it
- we ignore it...

[2018-06-04 14:56] Shruti9520 commented on #215
HI @lmorchard , AM I missing something from my end?  I am still not getting, why this error is occurring?

Thank you. :)

[2018-06-04 15:18] weivicky opened #328 "Naming of Firefox Color"
Will be the name be changed in the future to encompass broader goals (allow users to change more than just color, like images ,etc.)?

[2018-06-04 15:26] weivicky opened #329 "Onboarding - how should we transition users from their theme to FF color's theme?"
I think it's slightly intrusive to automatically change users' theme to a preset one in FF color without their permission right after installation, especially when they don't have the ability to change back to the default one.

A couple of options
1. Pick a theme to start! (end of on-boarding)
2. Don't switch users until they start changing the colors
3. Include an apply button...before they close

[2018-06-04 15:31] lmorchard commented on #322
Oh, huh: Nothing in the add-on or the site actually makes a metrics ping for finish-visit. I think this just fell off my radar.

But also, now that I look at what [it's supposed to be called for](https://github.com/mozilla/FirefoxColor/blob/964141d8dbc6c70c57da9bcf9151ce6da1ca2bf0/docs/metrics.md#finish-visit)... What does "leave the site" mean? That is, when exactly should this get sent? Guessing

[2018-06-04 16:44] weivicky opened #330 "Palette generator"
Should we help users generate nice themes? Finding the right colors can be a pain. It can be a difficult task even for advanced visual users. I'm thinking of including a theme generator to help users...

Using Adobe CC shades (https://color.adobe.com/create/color-wheel/?base=2&rule=Shades&selected=2&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.75,0,0,0.5,0,0,1,0,0,0.25,0,0,0.9,0,0&swatchOrder=0,1,

[2018-06-04 17:24] weivicky opened #331 "Grouping of the 27 properties from the MDN"
I think it's important to creating groupings for the 27 theming properties for two reasons.

First of all, having them in a list without any groupings could cause some preview visibility issue (users not being able to see what they're changing in the preview because they have to scroll down to change something at the bottom of the list). Also, it could be hard for users to find what they want to c

[2018-06-04 18:35] lmorchard commented on #215
Huh. This error is really confusing to me, and it doesn't even seem related to then changes you've made.

We've had a few bit updates to things since you started a branch working on this issue. You might try a `git rebase master` - which will probably report a lot of conflicts in your code to fix. Unfortunately, that has to be done by hand, but maybe that will bring in some bug fixes?

I'm still l

[2018-06-04 20:42] johngruen commented on #323
Resolved

[2018-06-04 20:42] #323 closed

[2018-06-04 20:56] #322 closed

[2018-06-05 12:18] Softvision-MariusComan commented on #323
This issue is no longer reproducible with the latest version of the "Firefox Color" add-on (1.0.1) installed from the "https://color.firefox.com/" website.
Verified on Windows 10 x64, Ubuntu 16.04 x64 and Mac 10.13 with the latest Firefox release (60.0.1) and latest Nightly (62.0a1 - 20180604220149).

[2018-06-05 12:56] Softvision-AndreeaCupsa opened #334 "Onboarding is wrongly redisplayed at refresh if you install the addon after making changes in the "Preview Panel""
**[Affected versions]:**
- Firefox 60.0.1 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Steps to reproduce]:**
1. Open the browser and navigate to https://color.firefox.com.
2. Make one change in the "Preview Panel".
3. Click the "Install Firefox Color" button and follow the flow in order to successfully install the add-on.
4. Click "Next" button on the onboarding until

[2018-06-05 15:11] #324 closed

[2018-06-05 15:15] wresuolc commented on #310
@wagnerand -- do you have any insight here?  Thanks!

[2018-06-05 15:21] johngruen commented on #327
So, we might consider putting guard rails to keep people from setting bg colors where foreground colors cannot be changed to prevent them from making una11y themes.

Alternately we could add an API change.

[2018-06-05 15:27] #328 closed

[2018-06-05 15:36] Softvision-MariusComan opened #335 "Autoscroll is wrongly activated when the "Privacy"/"Terms" links are clicked using the scroll wheel"
**[Affected versions]:**
- Firefox 60.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest version of the "Firefox Color" add-on (1.0.1 custom built on 05.06.2018) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and click the "Firefox Color" toolbar button.
2. Mi

[2018-06-05 15:47] jbuck opened #336 "Favicon attempting to load from localhost"
[code]

[2018-06-05 15:53] wagnerand commented on #310
Sorry, I missed the reply since I wasn't subscribed to this issue.

I had assumed the periodic ping was mostly to detect install, for which `runtime.onInstalled` or `runtime.onStartup` could be used. I don't know about an uninstall/disable event. Last time I asked about that, we didn't have it, but folks were interested in use-cases (hence ping @mconca and @aswan).

Either way, pinging every secon

[2018-06-05 15:57] lmorchard commented on #336
Hmm, this doesn't happen on the [development site](https://mozilla.github.io/FirefoxColor/).

What `SITE_URL` and `SITE_ID` env var do we use for building the site in production? If missing, [`SITE_URL` will default to localhost:8080](https://github.com/mozilla/FirefoxColor/blob/master/webpack.common.js#L18)

[2018-06-05 16:00] lmorchard commented on #336
[Looks like it's happening on stage, too.](https://color.stage.mozaws.net/)

For production, I think we should have `SITE_ID=production SITE_URL=https://color.firefox.com/`

For stage, we should have `SITE_ID=stage SITE_URL=https://color.stage.mozaws.net/`

[2018-06-05 16:05] lmorchard commented on #310
Well, absent an uninstall event, that ping period is how long it takes for the site to react to uninstall. So, the longer that period gets, the slower it looks like the site takes to realize the add-on has gone away. The period is configurable with a constant, so we can change that if we think letting the site lag longer is less of a problem than a ping every second.

[2018-06-05 16:12] aswan commented on #310
You can detect uninstall or disable with a listener for "close" in the background page, but you can't reliably do asynchronous work from that listener (since that could be misused by malicious or simply buggy extensions to prevent themselves from being disabled/uninstalled).
If a user cannot disable the extension directly from the Colors page, then Colors would have to be in a non-foreground tab w

[2018-06-05 16:13] lmorchard commented on #310
Oh, and to complicate the ping situation: We had scenarios where the add-on took longer than 1000ms to become responsive to messages, depending on individual machine performance. So we wait for [several missed pings](https://github.com/mozilla/FirefoxColor/blob/master/src/web/index.js#L36) before deciding the add-on is no longer installed. So, the response time is the ping period times max missed

[2018-06-05 16:16] lmorchard commented on #310
Yeah, that's part of why we went with the ping hack - messages weren't reliably making it out.

[2018-06-05 16:18] jbuck commented on #336
Okay, I've got [a PR](https://github.com/mozilla-services/cloudops-deployment/pull/2087/files) up to fix this in Jenkins. Trying stage build now

[2018-06-05 16:21] lmorchard commented on #310
We could do that, I think... What's the performance concern here that makes once per second aggressive? As in, what would a "throttled way back" period look like? If one second is a problem, does it need to be 5 seconds? 10 seconds?

[2018-06-05 16:59] pdehaan opened #337 "A few results from sonarwhal linter"
Some random results, some may be bogus and ignored, others may potentially be legit (or already reported via [Mozilla Observatory](https://observatory.mozilla.org/):

[code]

here's my .sonarwhalrc config file:

[code]

and my package.json diff:

[code]

[2018-06-05 17:38] weivicky commented on #325
http://stephenhorlander.com/photon/Mockups/windows-10.html

http://stephenhorlander.com/photon/Mockups/macOS.html

[2018-06-05 18:46] lmorchard opened #338 "Make the URLs shorter"
Color theme URLs are long & ugly. They're like that so we can define a theme with just a sharable URL and avoid having a database to store every theme ever. Keeps our web site simple and static.

We could make them slightly less ugly by revising the URL format ala #37 - but that could make them longer because we'd lose the compressed JSON. But, maybe a carefully planned URL format would be short e

[2018-06-05 18:46] lmorchard commented on #338
(Oh yeah, and if we make any change to the URL format, we'll need to honor the old format as a fallback)

[2018-06-05 19:54] lmorchard commented on #336
Stage looks fixed now, FWIW. I also noticed `og:url` was incorrect, but that's on the webpack side :/

[2018-06-05 20:00] johngruen opened #341 "cd1 seems to always be reporting false"
Might confirm this in a day, but it looks like the the first custom dimension is never getting returned as true (this is the one that checks if add-on is installed)

[2018-06-05 20:01] lmorchard commented on #341
https://github.com/mozilla/FirefoxColor/pull/339

[2018-06-05 20:23] digitarald opened #342 "sendEvent to google-analytics.com/collect gets blocked because of CORS"
STR:
- Open https://color.firefox.com/
- Click `Install Firefox Color`
- `sendEvent` is triggered
- Observe Console

Fails with:

`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://www.google-analytics.com/collect. (Reason: CORS request did not succeed).`

This error does not show up with adblockers, as they catch the request before it goes out.

[2018-06-05 20:57] lmorchard commented on #342
This sounds like a dupe of https://github.com/mozilla/FirefoxColor/issues/256

[2018-06-05 21:03] digitarald commented on #342
This is from a fresh profile, without adblockers

[2018-06-05 21:19] jbuck commented on #336
Prod is now fixed too

[2018-06-05 21:19] #336 closed

[2018-06-05 21:48] nt1m commented on #330
Another cool idea would be generating color palettes from images, like this theme: https://addons.mozilla.org/en-US/firefox/addon/picture-paint/

[2018-06-05 21:50] pdehaan opened #343 "Cannot check /__version__ endpoint on stage or prod"
Currently trying to visit https://color.stage.mozaws.net/__version__ or https://color.firefox.com/__version__ tries to download the content instead of rendering it as JSON.

All 3 envs (dev/stage/prod) all seem to point to 2c3238c901e57a3012a436b7fc256a4b6ffb4ffc

[2018-06-05 21:51] nt1m commented on #327
Vivaldi has a "contrast adjustment" setting, which would change the colors to the nearest accessible ones.
<img width="237" alt="screen shot 2018-06-05 at 10 48 57 pm" src="https://user-images.githubusercontent.com/1795135/41004744-e0e3cd26-6912-11e8-8421-e024e793b4a4.png">

Alternatively, Chrome has a a11y contrast white line in their DevTools color picker.
https://remysharp.com/2017/08/17/contra

[2018-06-05 22:01] nt1m commented on #302
There's going to be a discussion at the all hands about dynamic themes (and Firefox Color is one of them), and how it interacts with other built-in themes in Firefox. There's also going to be a meeting pre-all hands, so let me know if you're interested in joining.

[2018-06-06 05:02] Keith94 opened #344 "Theme texture not applied to Tab Center Redux"
[Tab Center Redux](https://addons.mozilla.org/en-GB/firefox/addon/tab-center-redux/),  a WebExtension that supports theme integration, is not affected by the "Theme Texture" setting on https://color.firefox.com; i.e., the background of the tabs always have the plain, untextured look. All the other settings are applied except for Theme Texture. Is it possible to add support for it?

[2018-06-06 15:20] lmorchard commented on #344
Color doesn't have the ability to impose a theme on other add-ons. The support would need to be added from the Tab Center Redux side.

The way this would work is that the new Theme API used by Firefox Color offers a [`theme.getCurrent()` method](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/theme/getCurrent). Tab Center Redux (and other add-ons) could use that method to grab the cu

[2018-06-06 15:20] #344 closed

[2018-06-06 15:29] lmorchard commented on #343
Sounds like we could use a `Content-Type: application/json` on `__version__` so a browser handles them better but the resources are actually there.

@jbuck is there an easy way to slap that header on `__version__`?

[2018-06-06 15:42] lmorchard commented on #342
I can't reproduce this on a fresh profile in Fx 60.0.1, Dev Edition 61.0b11, or Nightly 62.0a1. The only time I see this error is if I enable uBlock Origin 1.16.8.

Can you share any other details about what version you're using, etc?

[2018-06-06 15:47] Shruti9520 commented on #215
Hi @lmorchard
I did "git rebase master" and updated my branch. It is still producing errors in some parts of code which I haven't touched.
![perr](https://user-images.githubusercontent.com/20228417/41049613-f2669882-69ce-11e8-9264-09bcdede905e.png)

[2018-06-06 16:46] jbuck commented on #343
@lmorchard yep, I can add that. Is there anywhere else the upload process isn't setting the content-type correctly?

I've got a PR up to fix just `__version__` https://github.com/mozilla-services/cloudops-deployment/pull/2093/files

[2018-06-06 16:52] lmorchard commented on #343
Not that I know of, but everything else seems to be fine so far

[2018-06-06 16:59] chutten opened #345 "Consider having colour.firefox.com also resolve to FirefoxColor"
Right now it fails DNS. I figure it could be a nice nod for the majority of English speakers who spell it that way.

[2018-06-06 17:42] nt1m commented on #345
Did you mean color ?

[2018-06-06 18:28] chutten commented on #345
color.firefox.com works just fine. I was hoping we could have colour.firefox.com resolve in addition.

[2018-06-06 18:30] lmorchard commented on #345
FWIW, if we did, it would have to be a redirect. The add-on is specifically tied to the color.firefox.com origin for its permissions

[2018-06-06 18:33] chutten commented on #345
Fair enough. This is only a "wouldn't it be nice"-level enhancement request.

[2018-06-06 18:49] digitarald commented on #342
Reproduced again on `62.0a1 (2018-06-06) (64-bit)`

[2018-06-07 07:15] stlaz opened #346 "Improper display of title bar buttons in no-titlebar view"
Hello,
It would seem that Color breaks the display of the title bar icons when the title bar is hidden. This behavior was observed on Fedora 28, GNOME with Fx Color (github) 1.0.1.

Adding a screenshot where the minimize/maximize/close buttons are compared when Color is disabled/enabled.
![improperly displayed buttons](https://image.ibb.co/d9XSco/ff_color_bug.png)

[2018-06-07 12:02] Softvision-AndreeaCupsa opened #347 ""Firefox Color" website is wrongly displayed as not being installed after restarting the browser while focusing another tab"
Also logged in Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1467432
***

**[Affected versions]:**
- Firefox 62.0a1

*[Affected Platforms]:*
- All Windows
- All Mac
- All Linux

*[Steps to reproduce]:*
1. Open Firefox Nightly 62.0a1 (2018-06-06).
2. Navigate to https://color.firefox.com.
3. Click the "Install Firefox Color" button and follow the flow in order to succesfully install "Firef

[2018-06-07 13:43] Softvision-AndreeaCupsa commented on #305
This issue is no longer reproducible on Mac 10.13,  Windows 10 x64 and Arch Linux on latest Firefox (60.0.2) and latest Nightly (62.0a1) with latest "Firefox Color" (1.0.1) installed.
Now the onboarding is correctly displayed.

[2018-06-07 13:45] Softvision-MariusComan commented on #324
This issue is no longer reproducible with the latest version of the "Firefox Color" add-on (1.0.1) installed from the "https://color.firefox.com/" website.
Verified on Windows 10 x64, Ubuntu 16.04 x64 and Mac 10.13 with the latest Firefox release (60.0.1) and latest Nightly (62.0a1 - 20180607100059).

[2018-06-07 13:47] johngruen commented on #285
yeah we can reopen and fix this

[2018-06-07 13:50] Softvision-AndreeaCupsa commented on #285
Considering the comments above I will reopen this.

[2018-06-07 18:11] jbuck commented on #343
This works correctly now

[2018-06-07 18:11] #343 closed

[2018-06-07 18:19] jbuck opened #348 "Add a favicon.ico and/or robots.txt file"
Now that we've had some production traffic for a few days, requests to `/favicon.ico` and `/robots.txt` are the most common 404 error. Maybe worth adding?

[2018-06-07 18:53] jbuck commented on #207
This has been configured, there's a dashboard at https://app.datadoghq.com/dash/827808/firefox-color with http-level metrics

[2018-06-07 18:53] #207 closed

[2018-06-07 19:25] wresuolc opened #349 "Add default theme equivalents"
This is an alternative to #302 from Teon:

Let's recreate Color themes that are equivalent to the default themes and put them on the main page so people can use those to easily "revert"

[2018-06-07 19:43] lmorchard commented on #349
I don't think the Theme API covers all the same properties as the default theme, so this doesn't seem possible at present.

[2018-06-07 19:46] lmorchard commented on #325
Related also to issue #70

[2018-06-07 19:48] lmorchard commented on #342
I'm kind of stumped - I still can't reproduce in any version / channel with a fresh profile :(

[2018-06-07 20:54] lmorchard opened #350 "Randomize button"
One of my favorite features of character creators in video games is a randomize button. Might be fun to have one in Color, even if it makes ridiculously ugly themes

[2018-06-07 21:35] pdehaan commented on #350
But if we generated a single random color and then passed it to the palette generator concept in #330, we may be less likely to get ridiculously ugly themes (tm).

[2018-06-08 06:34] swingwolf opened #351 "FF Color settings desappear"
Hi,
FF color don't run. Run at Firefox 64 bits (60.0.2) start up and immediately all FF color's settings disappear.

[2018-06-08 11:05] Softvision-AndreeaCupsa commented on #351
Can you please provide more information about the steps you are following, maybe attach a screenshot of the issue?

[2018-06-08 11:09] Softvision-AndreeaCupsa commented on #346
As I don't have Fedora 28, GNOME desktop environment I tested this issue on Fedora 28, Ubuntu 16.4, Linux Mint 18.3, Argentos, and Debian GNU/Linux(9.4) on Firefox Release (60.0.2) and Firefox Nightly (62.0a1) with Firefox Color(1.0.1) installed from https://color.firefox.com/ , and I cannot reproduce it.
Can you tell me if you have a custom environment?

[2018-06-08 11:30] Softvision-AndreeaCupsa commented on #342
I can reproduce this issue on Windows 10 64bit, Mac 10.13 and Arch Linux on Latest Nightly (62.0a1 (2018-06-07)) following the steps from the initial comment.
Using a new profile, the following error: "Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://www.google-analytics.com/collect. (Reason: CORS request did not succeed)" is displayed in the br

[2018-06-08 11:53] stlaz commented on #346
I am currently using firefox-60.0.1-6.fc28.x86_64 from the updates repository. I use a custom GNOME theme  called Arc, yet this one does not cause problems w/o Color (I tried installing the same Color version you're using to make sure the failure persists - it does).

When you were testing this on Fedora 28 (if I understand your comment correctly, you did), have you used Wayland or Xorg as the dis

[2018-06-08 14:42] Softvision-AndreeaCupsa commented on #346
My mistake, it is Fedora 27 and the display client is Wayland.
Unfortunately I haven't managed to install the Arc Theme on Fedora 27 due to some errors. But, I have managed to install it on Ubuntu 16.04 and tried all the modes (arc, dark arc, light arc etc.) and I cannot reproduce this issue.
However, can you please tell me how did you installed Arc Theme on Fedora 28.

[2018-06-08 17:14] ianb opened #352 "Firefox Color website doesn't recognize the extension"
I tried clicking on the link from [this reddit post](https://www.reddit.com/r/firefox/comments/8piocj/color_adapatalike/) going to [here](https://color.firefox.com/?theme=XQAAAALzAAAAAAAAAABBqYhm849SCiazH1KEGccwS-xNVAVL4BQvynlSOhZDnhNp34wJL2A4t3RbmZDnuBOWF5y8L-ifqL5Zay6-5XLe3p98eWKb7x-f5TId4gAo64-iAFOo-n9u_emGNmAfPJH7G2DJyM2_cGnYeKY8krWgOZYOpu7DJInboDN7b6yjSZz3zcfITcCsyUuAd92fxKgsUcRolzkcDrcWZpfC4

[2018-06-08 17:21] ianb opened #353 "URL bar ::selection isn't themeable"
The orange selection color doesn't go well with every URL theme.

<img width="372" alt="image" src="https://user-images.githubusercontent.com/44390/41171446-38389782-6b16-11e8-8717-130cb7b79a3e.png">

Someone once told me that choosing a good `::selection` color for your website is like wearing fancy socks. At first no one will notice, but then it will be like a fun surprise.

[2018-06-08 17:33] lmorchard commented on #353
I don't think [the Theme API](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/theme) exposes URL bar text selection yet. We can't directly affect that here.

[2018-06-08 17:38] lmorchard commented on #352
From where did you install the add-on? Also, if you look in about:addons, what is the name of your installed Color add-on?

If you didn't originally install the add-on from color.firefox.com, you might have a version from a different deployment of the site (eg. dev on github pages). Each deployment of the site has a site-specific build of the add-on

I don't think any of those errors are from Colo

[2018-06-08 22:09] ianb commented on #352
I installed the add-on from testpilot.firefox.com. It was working find with the color.firefox.com site before, and did again after restart. It seems like color.firefox.com didn't detect the add-on was installed due to something that happened/broke in my browser session.

[2018-06-09 07:47] swingwolf commented on #351
Hello,

Eureka, I found: it is the extension "colorfultabs" which is incompatible and delete all the themes used in my settings (classics theme or FF color).

Attached 1= FF 60.0.2 + ColorfulTabs and lucky bamboo theme

Attached 2 idem but ColorfulTabs disabled.

Regards.

De : Softvision-AndreeaCupsa <notifications@github.com>
Envoyé : vendredi 8 juin 2018 13:06
À : mozilla/FirefoxColor <FirefoxC

[2018-06-09 16:59] Osmose opened #354 "Cannot preview themes on mobile (Android, Chrome or Firefox)"
Trying to view a theme on Chrome for Android or Firefox for Android shows a message saying that Firefox Color is not available on that platform. While that's true, it would be nice to at least let the user see the preview of the color theme they were trying to view instead of locking them out of the site entirely. Especially if they want to bookmark/save the theme for later viewing on Desktop wher

[2018-06-09 17:10] Osmose opened #355 "Background Tab Text Color applied to menu items on Windows"
A user on reddit [commented](https://www.reddit.com/r/firefox/comments/8pnwqp/color_firefox_xp/e0e0xhe/) that a theme I made (that has a white background tab text color) was rendering the text for the hamburger menu invisible:

![](https://i.imgur.com/xECR4Ys.png)

Changing the background tab text color makes the text readable again:

![](https://i.imgur.com/CoDWIjf.png)

[2018-06-10 15:18] malore opened #356 "[Feature request] Change theme based on Container"
I'd like if it would be possible to create a theme for every container so that it would change accordingly to the active tab container. Something like [Containers Theme](https://addons.mozilla.org/en-US/firefox/addon/containers-theme/?src=collection), but more powerful.

[2018-06-10 19:14] stlaz commented on #346
Sorry, I did not get to this earlier. I wanted to reproduce this issue on my other machine with Fedora 27, yet when I tried to hide the title bar, the issue appeared even w/o the Firefox Color installed. Not even Fedora 28 upgrade helped there.
All the above leads me to suspect that there's probably some Firefox display bug which is hard to encounter as it may be triggered by upgrades from older s

[2018-06-11 11:32] Softvision-AndreeaCupsa commented on #346
Based on the last comment and considering the fact that this is not a Firefox Color issue, I will close it.
@stlaz if you still reproduce the issue after reinstalling the system, you can log it in Bugzilla: https://bugzilla.mozilla.org/

[2018-06-11 11:32] #346 closed

[2018-06-11 11:37] Softvision-AndreeaCupsa commented on #351
@thanks swingwolf
According to the comment above I will close this issue.

[2018-06-11 11:37] #351 closed

[2018-06-11 11:55] Softvision-AndreeaCupsa commented on #352
This issue seems similar to the one I logged: https://github.com/mozilla/FirefoxColor/issues/347.
It seems to be an upstream issue rather than a Firefox Color one.
Attached a link to the bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1467136

[2018-06-11 12:21] Softvision-AndreeaCupsa commented on #355
@Hi Osmose, thanks for reporting this issue.
I tried reproducing this issue but unfortunately I couldn't.
I see in the screenshot that there are some add-ons installed and there might be the possibility that an add-on is in conflict with Firefox Color. In order to verify this, can you please ask the user to test if this issue is reproducible on a new Firefox profile (https://goo.gl/AWo6h8) without

[2018-06-12 22:29] jbuck commented on #337
I've enabled gzip on cloudfront, so that error should go away atleast

[2018-06-13 20:47] ThxAndBye commented on #355
Hey, I'm the one who posted the screenshots on Reddit. I've dug a little into that myself.
I can assure you that the problem doesn't lie with any of the add-ons installed and it's also gone with a new profile.

I've remembered that I've applied some css to Firefox via the userChrome.css to (amongst other things) make the bookmarks-bar only show on "new tab" (please make that a easy option in the s

[2018-06-18 20:32] #341 closed

[2018-06-18 22:32] weivicky commented on #349
There are a couple of properties that aren't covered by the API I think. Examples: URL link, the white bar at the bottom of the URL popup

![image](https://user-images.githubusercontent.com/10877399/41565707-e12d0082-7325-11e8-86b7-4b2a450e1cd0.png)

[2018-06-18 23:29] lmorchard commented on #349
Fwiw, we also currently have no way to detect the current built-in theme to apply an equivalent new style theme even if all the properties matched up

[2018-06-19 15:03] johngruen commented on #355
@ThxAndBye yeah, we are working on that at the moment in issue #70, so i'm going to close this one as a dupe!

[2018-06-19 15:03] #355 closed

[2018-06-19 15:06] johngruen commented on #352
@ianb can you test again when you're off PTO. I'll close this for now since we think it's resolved upstream

[2018-06-19 15:06] #352 closed

[2018-06-19 15:09] johngruen commented on #349
Maybe we could add some messaging on the site or as an FAQ? I can crank something out soon here

[2018-06-19 15:12] johngruen commented on #347
@Softvision-AndreeaCupsa can you check this again soon?