[2018-06-19 15:13] johngruen commented on #345
@jbuck what do you think? we'd have to do a redirect?

[2018-06-19 15:14] johngruen commented on #342
@digitarald do your new profiles spin up with DNT set to always?

[2018-06-19 15:25] johngruen commented on #356
Hey @malore this feature isn't on our roadmap, but fortunately [this addon](https://addons.mozilla.org/en-US/firefox/addon/containers-theme/?src=search) already has you covered!

[2018-06-19 15:25] #356 closed

[2018-06-19 20:16] jbuck commented on #345
@johngruen yeah, we'd need to setup a redirect

[2018-06-19 21:06] nt1m commented on #353
There's a bug filed about this: https://bugzilla.mozilla.org/show_bug.cgi?id=1450114

[2018-06-19 21:07] nt1m commented on #349
There are some things from the default themes that the theme API won't be able to emulate, namely macOS vibrancy on the titlebar.

[2018-06-20 10:47] Softvision-AndreeaCupsa commented on #347
This issue is no longer reproducible, verified on latest Nightly 62.0a1 (2018-06-19) (64-bit), on Windows 10 64bit, Mac 10.13 and Arch Linux. Considering this and the fact that the upstream bug is also fixed I will close this issue.

[2018-06-20 10:47] #347 closed

[2018-06-20 15:20] sevaan opened #361 "Allow users to preview shared themes."
When viewing a shared theme, hovering over the preview image should allow the user to preview it in their browser chrome before they apply it.

<img width="602" alt="screen shot 2018-06-19 at 3 07 51 pm" src="https://user-images.githubusercontent.com/473531/41667811-e1bc049c-747b-11e8-8dc9-3172c86d482e.png">

[2018-06-20 17:04] lmorchard commented on #361
Some implementation notes off the top of my head:

* On the extension side, we'll need to accept a message to set & clear a temporary theme such that it:
  1. does *not* get saved to local storage
  1. gets replaced with the last chosen theme on clear
  1. gets replaced with the next chosen theme, in case we somehow miss clearing it

* On web side in the preview component, send a message to set te

[2018-06-22 14:20] Softvision-AndreeaCupsa opened #363 "First tab with opened Color theme from several opened, is wrongly focused after installation"
**[Notes]**
- The issue is reproducible only with Color themes tabs.
- This issue is also reproducible with preset themes.

**[Affected versions]:**
- Firefox 60.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Steps to reproduce]:**
1. Open Firefox and navigate to a "Firefox Color" shared theme.
2. Open a new tab and navigate to another "Firefox Color" shared theme.
3

[2018-06-22 14:34] Softvision-AndreeaCupsa opened #364 "Other than the focused theme is set after installation, if more Color themes are opened in separate tabs"
**[Affected versions]:**
- Firefox 60.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Steps to reproduce]:**
1. Open Firefox and navigate to a "Firefox Color" shared theme.
2. Open a new tab and navigate to another "Firefox Color" shared theme.
3. Focus the first tab and observe the theme aspect.
4. Click the "Install Firefox Color" button and follow the flow in order

[2018-06-24 14:45] is2ei commented on #264
Hi @Softvision-AndreeaCupsa
Could I work on this issue?

[2018-06-24 14:51] pdehaan commented on #264
@is2ei Absolutely! Let us know if you have any questions.

[2018-06-25 14:40] sevaan opened #366 "Randomize order of preset themes"
I feel like randomizing the order of the preset themes will add a little freshness everytime the user goes into Firefox Color.

I'm starting to get a little blindness to them, and I think randomizing the order will help keep things dynamic.

[2018-06-25 17:31] lmorchard commented on #366
A couple implementation notes, because this could present a confusing gotcha:

* The first obvious thought is to randomize directly in [the PresetThemeSelector component](https://github.com/mozilla/FirefoxColor/blob/master/src/web/lib/components/PresetThemeSelector/index.js#L13). However, this will result in the list re-randomizing every time the component renders - which will probably be every ti

[2018-06-26 15:27] johngruen commented on #364
Requires stewing

[2018-06-26 15:30] johngruen commented on #364
So this would also affect session restore...

Maybe we check for multiple color tabs on startup and pick either focused or none>

[2018-06-26 18:27] weivicky commented on #350
![image](https://user-images.githubusercontent.com/10877399/41931411-fe55ef26-794b-11e8-9a2d-ac55f24f3e86.png)

![image](https://user-images.githubusercontent.com/10877399/41931715-da625a36-794c-11e8-8403-d501d9601a2a.png)
Button states: https://design.firefox.com/photon/components/buttons.html

Undo icon: https://firefoxux.github.io/icons/viewer/#undo
Redo icon: https://firefoxux.github.io/icons/

[2018-06-27 17:04] lmorchard commented on #350
So we have a button... do we have a notion of what it should do? Easiest first implementation is simply randomizing all the properties for ugly fun. But, there's been talk of making it more smart about complementary colors.

[2018-06-27 19:00] lmorchard opened #367 ""Share your theme" is hidden for users without the add-on"
This is probably intentional UX, but I just noticed: Without the add-on installed, there's no share or save options visible.

That makes me wonder if few people realize you can share these themes because they never see the options. Those things are not actually dependent on the add-on - in fact they're the main things that work across browsers.

[2018-06-28 11:49] johngruen commented on #350
@lmorchard Looks like tinycolor has some palette generator functions we could use. Lets' start by testing out a full random. I also made two seeded semi-random 4 value generator functions you could use to start making semi-random palettes. We could set this up so that each hit of the random buttom selects a fully randomized theme, a mono theme, or a tetrad theme.

https://codepen.io/johngruen/pen/

[2018-06-30 15:43] moz-hwine opened #368 "Set protected status on production branch"
The production branch on this repository is not protected against force pushes. This setting is recommended as part of [Mozilla's Guidelines][guidelines_url] for a Sensitive Repository.

**Anyone with admin permissions for this repository can correct the setting using [this URL][protect_url].**

If you have any questions, or believe this issue was opened in error, please contact [us][email] and me

[2018-07-02 15:04] lmorchard commented on #368
We use force push on production, stage, and development branches to set the exact commit we want to deploy.

This allows us to easily cherry pick hotfixes from the master branch when it might contain other changes we don't want to deploy yet, then later update the production branch to match master when we are ready.

[2018-07-02 15:24] hwine commented on #368
Another approach that achieves the same goal is to use tags for those deploy points, if I understand correctly.

Any concerns with using tags, so the branches can be protected?

[2018-07-02 16:32] lmorchard commented on #368
We haven't started using tags on this project yet, but on others we force-push the tag commits. I'm not sure how tags get around the protection

[2018-07-02 17:31] hwine commented on #368
Ah - the pattern would be:
- merge without force (i.e. normally) to the branch-to-be-deployed
    - this might require a ``git rebase`` first, or a ``git revert``
- tag the desired deployment reference on the branch-to-be-deployed (may not be HEAD)
- deploy from the tag

The other advantage is it keeps a clear history of everything that was deployed. IIUC, you may overwrite a previous deployment p

[2018-07-02 17:33] lmorchard commented on #368
That kind of process has historically led us into merge conflicts very quickly and sometimes introduces errors when manual resolution happens. That's why we moved to force-pushing the exact tested commits from other branches & tags. We treat production branch as basically a utility and not as a history-keeping mechanism

[2018-07-02 18:11] hwine commented on #368
That's what the (not well know) ["ours" merge strategy](https://git-scm.com/docs/merge-strategies#merge-strategies-ours) is for. You can have your cake and eat it too! (It also means folks get the right stuff with just fast forward updates.)

[This answer](https://stackoverflow.com/a/45408573/5128493) has some examples of using merge strategies in cherry pick situation that sound similar to yours.

[2018-07-02 18:18] lmorchard commented on #368
This is what I think I'm confused by. Our infrastructure doesn't deploy from tags. It watches the `production` branch and deploys when HEAD changes - not entirely unlike GitHub Pages and the `gh-pages` branch.

Regardless of merging strategies - it sounds like the real issue is that you need us to change to a system that accepts the submission of a tag, rather than watching a branch for changes.

[2018-07-02 18:20] hwine commented on #368
That's not what we're asking for today. Today is just about  branch protection. We understand there may be future details to be worked out.

[2018-07-02 18:21] lmorchard commented on #368
If the branch is protected, we can't force-push the commit from a tag to exactly match that tag.

[2018-07-02 18:41] lmorchard commented on #368
Just to elaborate on this, because I could be wrong. But basically: When I have a commit (or a tag), I can point to the test run in CI where things passed.

If I force-push that exact commit to `production`, I know it's exactly the same as what passed.

If I instead try to *merge* into `production` branch, then I have a new commit. If everything went well, then that commit ends up in the same cond

[2018-07-03 15:20] johngruen commented on #345
@jbuck if you have time?

[2018-07-07 02:13] a8t commented on #366
This seems like something I could try to do! My first open source contribution, so sorry if there are hiccups.

[2018-07-14 15:21] knrt10 commented on #335
I would like to work on this issue.

[2018-07-17 16:22] papernapkinhead opened #373 "Minor capitalization typo in Firefox Color Survey"
Steps:
- Disable the Firefox Color add-on
- Opt to take the survey

Result:
- The first survey question has a response "It didn't do what i wanted it to do" (see attached)

Expected:
- "It didn't do what I wanted it to do" (with a capital 'i')

![2018-07-17 at 9 17 am](https://user-images.githubusercontent.com/589409/42831183-7fb1b878-89a2-11e8-8eea-d9f4c69c66c8.jpg)

[2018-07-20 17:48] ritikavnair commented on #249
Hi can I please take up this issue? I am a newbie to open source contributions and want to get started. Thanks.

[2018-07-20 18:21] lmorchard commented on #249
Sure, give it a go!

[2018-07-22 00:33] ritikavnair commented on #249
Hi, I have fixed the mentioned issue. Also, the same issue was happening when you hover over the text below the heading 'Share your theme', i.e: 'Copy and paste this URL to share your creation.' I have fixed that as well. I have put in the Pull Request. This is my first code contribution to an open source project. I hope I have performed the fix as expected and without glitches! Thank you!

[2018-07-23 06:20] aniketkudale commented on #264
Looks like this is inactive for a while, I would like to work on this issue.

[2018-07-23 12:53] is2ei commented on #264
@aniketkudale
I'm afraid but I'm busy recently. Please take it if you want.

[2018-07-23 13:07] aniketkudale commented on #264
Thanks @is2ei

[2018-07-23 21:12] #249 closed

[2018-07-24 16:59] #264 closed

[2018-07-24 20:10] #268 closed

[2018-07-24 20:21] teonbrooks commented on #373
this has now been corrected

[2018-07-24 21:10] papernapkinhead commented on #373
Looks great!

<img width="326" alt="image" src="https://user-images.githubusercontent.com/589409/43166359-3b0023aa-8f4b-11e8-9016-a48d2ba37ac4.png">

[2018-07-24 21:10] #373 closed

[2018-07-25 12:14] Softvision-AndreeaCupsa commented on #264
I have verified that the issue is no longer reproducible on Mac 10.13.3, Windows 10 x64 and Arch Linux on latest Firefox (61.0.1) and latest Nightly (63.0a1) with latest "Firefox Color"(07/25/2018) version 1.0.1 custom build.

[2018-07-25 12:15] Softvision-AndreeaCupsa commented on #268
I have verified that the issue is no longer reproducible on Mac 10.13.3, Windows 10 x64 and Arch Linux on latest Firefox (61.0.1) and latest Nightly (63.0a1) with latest "Firefox Color"(07/25/2018) version 1.0.1 custom build.

[2018-07-25 13:06] aniketkudale commented on #268
Thanks @Softvision-AndreeaCupsa for the confirmation.

[2018-07-25 13:15] aniketkudale commented on #264
Thanks for the comfirmation @Softvision-AndreeaCupsa :)

[2018-08-02 18:01] isunitha98selvan commented on #348
I would like to work on this. @jbuck @lmorchard

[2018-08-02 19:13] lmorchard commented on #215
Kind of a blast from the past of almost 2 months ago, but I finally took another look at these commits. Did some minor cleanup and it seems like things work now! (weird)

[2018-08-07 15:29] clouserw commented on #368
This is the same (documented: https://github.com/mozilla/testpilot/blob/master/docs/development/deployment.md#deploy-production ) way we deploy most Test Pilot projects.  Hal and I have chatted about it a bit and I'm going to close this for now, with the understanding that we'll probably have the discussion again in the future and maybe can come up with a better way to do it.  Note that we'll need

[2018-08-14 11:58] johngruen commented on #308
@lmorchard there's a lot going on in this spec, but here's a [representation](https://mozilla.github.io/testpilot-assets/ThemesRFun/01_Measurements/Updated_FF_Color/#artboard4
) of how  the image picker UI should work.

Don't worry about most of this spec for this issue...just on the image picker component itself.

As for the larger design overhaul, I've got a branch going that we can slot the ima

[2018-08-14 11:58] johngruen commented on #308
Oh and SVG assets are here: https://github.com/mozilla/testpilot-assets/tree/master/ThemesRFun/00_Assets

[2018-08-15 07:25] #366 closed

[2018-08-15 20:54] lmorchard commented on #308
Looks like we're missing some SVG assets. I see `icon_align_center` (vertical center align) and `icon_align_left`.

But, it seems like we missing things like `icon_align_right`, `icon_align_horizontal_center`, `icon_align_top`, `icon_align_bottom`, `icon_close`, `icon_warning`. Making up the names there, but you probably get the gist. Going to try going ahead with the icons I have as stand-ins, bu

[2018-08-18 22:27] zynexiz opened #396 "Menu's are not themed"
I use a dark desktop, and the default dark theme with Firefox. Installing and activating this plugin makes Firefox "light" again, meaning the menus and popups are still white. Deactivating the plugin reverse it back to the standard theme, and my menus and popups are dark again.

Since Firefox Quantum 60, it looks like menus and popups can be themed to match the rest (tried some dark themes that do

[2018-08-21 15:06] lmorchard commented on #308
FWIW, I was able to make the two existing icons work by way of some CSS transforms to rotate & flip

[2018-08-21 15:11] johngruen commented on #396
Yep, we are currently working a new ux that will allow this

[2018-08-21 15:11] #396 closed

[2018-08-21 15:12] johngruen commented on #396
https://github.com/mozilla/FirefoxColor/issues/325

[2018-08-23 21:26] lmorchard commented on #350
https://github.com/mozilla/FirefoxColor/commit/2043971ba4354b1d4d35b870ca5ec4e372ac4b07

[2018-08-23 21:26] #350 closed

[2018-08-24 08:29] Softvision-AndreeaCupsa opened #397 "The "Save" button no longer saves set themes and does not change into "Saved!""
**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "FirefoxColor" add-on (1.0.1 custom build 08/24/2018)
installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" toolbar button.
3. Make one change to the theme.
4

[2018-08-24 08:54] Softvision-AndreeaCupsa opened #398 ""Complementary" and "Random" buttons do not lose their hover effects after they are clicked"
**[Affected Platforms]:**
- All Windows
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "FirefoxColor" add-on (1.0.1 custom build 08/24/2018)
installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" toolbar button.
3. Click the "Complementary" button and move

[2018-08-24 11:59] Softvision-AndreeaCupsa opened #399 "A few button tooltips wrongly start with lowercase letters"
**[Affected Platforms]:**
- All Windows
- All Linux
- All Mac

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "FirefoxColor" add-on (1.0.1 custom build 08/24/2018)
installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" toolbar button.
3. Hover the "Complementary" butto

[2018-08-28 15:21] johngruen commented on #398
Close this in favor of my new UI branch

[2018-08-28 15:21] #398 closed

[2018-08-28 15:27] johngruen commented on #93
Looks like this is going to create server complexity but is maybe possible...I'll talk to mconca about this.

[2018-08-28 15:30] johngruen commented on #348
@isunitha98selvan if you're still interested we'd welcome your contribution!

[2018-08-28 15:30] #329 closed

[2018-08-28 15:35] #301 closed

[2018-08-28 15:36] johngruen commented on #256
We should catch the exception

[2018-09-01 14:41] JKL213 opened #407 "Need to easily switch Color off"
If I have Color activated and I switch to a pre-made Firefox Theme, Firefox Color applies again at the next re-start of Firefox.

[2018-09-03 09:00] devilsahil commented on #399
The checks have successfully passed on CircleCI. Please merge when possible. Thanks !

[2018-09-03 16:42] ranjithrajv commented on #309
I changed the URL, can we close this issue.

[2018-09-04 15:15] johngruen commented on #407
Closing as a dupe of #349

[2018-09-04 18:06] #399 closed

[2018-09-05 19:06] meandavejustice opened #413 "back button should remove image item"
now it solely removes the thumbnail, and preview color-no-background-image-button

https://github.com/mozilla/FirefoxColor/pull/391#issuecomment-416980894

[2018-09-05 19:07] meandavejustice opened #414 "remove item, then back button, brings back partial item in list"
item is shown without thumbnail and preview

https://github.com/mozilla/FirefoxColor/pull/391#issuecomment-416980894

[2018-09-05 19:15] lmorchard commented on #414
Thinking through what's going on here:

1. Remove a background, the theme is changed, so the previous state is pushed onto the undo stack.
1. The middleware notices that the image from the removed background is no longer used, [so `purgeImages` deletes it from the image store as garbage collection](https://github.com/mozilla/FirefoxColor/pull/391/files#diff-bccfe701859c09a65c2c20903446e208R80).
1.

[2018-09-05 19:17] lmorchard commented on #413
Looking at this issue, I realize I don't actually understand it. What does "preview color-no-background-image-button" mean?

[2018-09-05 19:19] #308 closed

[2018-09-06 21:12] #414 closed

[2018-09-07 16:13] lmorchard commented on #309
I can confirm the URL is changed. The URL is hardcoded right now, so an enhancement might be to change the URL to reflect which site the add-on is built to use (e.g. dev vs stage vs prod). But, in literal terms, I think this issue is fixed.

![capture](https://user-images.githubusercontent.com/21687/45230626-6b038a00-b297-11e8-861b-28244a6185a2.PNG)

[2018-09-07 16:13] #309 closed

[2018-09-07 17:52] lmorchard commented on #397
I'm having trouble reproducing this issue. I follow the steps, but the Save button works for me every time. I wonder if we have fixed this issue? Or if there are other factors causing it?

[2018-09-07 19:10] lmorchard commented on #224
Does this issue still occur? I'm having trouble reproducing it myself

[2018-09-10 14:23] #227 closed, assigned to nobody

[2018-09-11 15:05] johngruen commented on #413
@meandavejustice to verify and close

[2018-09-11 15:06] #407 closed

[2018-09-11 15:06] #413 closed

[2018-09-12 15:01] Softvision-AndreeaCupsa commented on #224
This issue is no longer reproducible on Mac 10.13, Windows 10 x64 and Arch Linux on latest Nightly (64.0a1) with latest "Firefox Color" (1.1.0 dev version/ 12/09/2018) installed.
Now the "Undo" and "Redo" buttons are displayed only after a change is made to the set theme, or another theme is set.
Considering this I am closing this issue.

[2018-09-12 15:01] #224 closed

[2018-09-12 15:03] Softvision-AndreeaCupsa commented on #397
This issue is no longer reproducible on Mac 10.13, Windows 10 x64 and Arch Linux on latest Nightly (64.0a1) with latest "Firefox Color" (1.1.0 dev version/ 12/09/2018) installed.
Considering this I am closing this issue.

[2018-09-12 15:03] #397 closed

[2018-09-12 15:06] lmorchard commented on #397
Thank you for verifying!

[2018-09-12 15:06] lmorchard commented on #224
Thank you for verifying!

[2018-09-12 15:09] Softvision-AndreeaCupsa commented on #397
Sorry for taking so long to verify these issues.

[2018-09-12 15:11] Softvision-AndreeaCupsa commented on #399
This issue is no longer reproducible on Mac 10.13, Windows 10 x64 and Arch Linux on latest Nightly (64.0a1) with latest "Firefox Color" (1.1.0 dev version/ 12/09/2018) installed.

[2018-09-14 18:53] pdehaan opened #430 "couldn't find an og:description meta tag"
via handy little https://social.pilcro.com/ tool:

![https___social_pilcro_com-firefox-color](https://user-images.githubusercontent.com/557895/45569545-aad8ed00-b814-11e8-889b-3f16f04fe2de.png)

[2018-09-19 11:55] Softvision-AndreeaCupsa opened #436 "The "Toolbar Color" button wrongly overlaps the "Custom background image" string"
**[Affected versions]:**
- Firefox Nightly 64.0a1

**[Affected Platforms]:**

- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (1.1.0 custom build)
installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the Firefox Color toolbar bu

[2018-09-19 12:18] Softvision-AndreeaCupsa opened #437 "[Enhancement] Uploaded image should be displayed in the "Preview Panel""
**[Affected versions]:**
- Firefox Nightly 64.0a1

**[Affected Platforms]:**

- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (1.1.0 custom build)
installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the Firefox Color toolbar bu

[2018-09-19 12:28] Softvision-PatriciuPop opened #438 "Error messages are not automatically dismissed"
[Affected versions]:
- Firefox Nightly, Version 64.0a1, Build ID 20180919003800

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (1.1.0 custom build installed from the "about:debugging" page).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Click the "Upload

[2018-09-19 14:22] Softvision-AndreeaCupsa opened #439 "Image titles are wrongly cut off if they are longer than 24 characters and the image has an 1:1 aspect ratio"
**[Affected versions]:**
- Firefox 62 and up

**[Affected Platforms]:**

- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (1.1.0 custom build)
installed from the "about:debugging" page.
- Have a 1:1 ratio [image](https://drive.google.com/open?id=1FQSrW83CJClabkOUk85mm5mMKjvnIqwV) with a long name.

**[Steps to

[2018-09-19 14:47] Softvision-PatriciuPop opened #440 "Gifs can wrongly be uploaded"
[Affected versions]:
- Firefox 62 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (1.1.0 custom build) installed from the "about:debugging" page.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Click the "Upload image" button and upload a gif.
3. Obs

[2018-09-19 15:05] Softvision-AndreeaCupsa opened #441 "All the buttons from the "Custom background image" section do not have a hover effect neither a tooltip"
**[Affected versions]:**
- Firefox 62 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (1.1.0 custom build)
installed from the "about:debugging" page.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the Firefox Color toolbar button.

[2018-09-19 17:05] johngruen commented on #440
might be related

[2018-09-19 17:06] johngruen commented on #440
Actionable thing here is to remove gifs from the constants file

[2018-09-19 17:07] johngruen commented on #439
So, this is related to the width of images

[2018-09-19 17:07] johngruen commented on #439
Let's just do the image names as tooltips!

[2018-09-19 17:10] johngruen commented on #437
This is half fixed in my PR, but we need to make sure images show up at smaller widths!

[2018-09-19 17:11] johngruen commented on #436
Closing pending merger of new UI PR

[2018-09-19 17:11] #436 closed

[2018-09-20 17:09] #70 closed

[2018-09-22 00:07] LeanKhan commented on #430
Any guidelines to work on this issue? (first-timer)

[2018-09-22 02:49] pdehaan commented on #430
Greetings @LeanKhan!

I think I'd probably start with adding the og:description meta tag in the OpenGraph section of:

https://github.com/mozilla/FirefoxColor/blob/c27fb6849a0323ddc2af3c66e0993b16b80b1d00/src/web/index.html.ejs#L7-L11

And probably use the same description variable value as  `<meta name="description">` and `<meta name="twitter:description">`.

Let us know if you have any other que

[2018-09-22 12:35] LeanKhan commented on #430
Alright thanks! Will get to it

[2018-09-24 12:13] Softvision-MariusComan opened #450 "The "Custom backgrounds" elements are wrongly overlapping other areas, if more than 4 pictures are uploaded"
**[Affected versions]:**
- Firefox 62.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest version of the "Firefox Color" add-on (1.1.0 custom built on 24.09.2018) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" toolbar button and se

[2018-09-24 14:28] #437 closed

[2018-09-24 14:38] johngruen commented on #440
Resolved in #445

[2018-09-24 14:38] #440 closed

[2018-09-24 14:38] johngruen commented on #441
Fixed in #445

[2018-09-24 14:38] #441 closed

[2018-09-24 14:59] Softvision-MariusComan opened #451 "The "Firefox Color" tabs cannot be focused using the "Tab" key"
**[Affected versions]:**
- Firefox 62.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest version of the "Firefox Color" add-on (1.1.0 custom built on 24.09.2018) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" toolbar button and pr

[2018-09-24 17:58] johngruen commented on #450
@Softvision-MariusComan this is resolved by my latest patch which limits to three uploads

[2018-09-24 17:58] #450 closed

[2018-09-24 19:30] lmorchard commented on #439
Hmm, I did stick a [`text-overflow: ellipsis`](https://github.com/mozilla/FirefoxColor/blob/master/src/web/lib/components/ThemeCustomBackgroundPicker/index.scss#L130) in there at one point. Maybe the max-width of the name field needs to be reduced a little?

[2018-09-24 19:33] lmorchard commented on #438
Looks like the error messages are dismissed via CSS animation with https://github.com/mozilla/FirefoxColor/commit/977e8624d86ee3af7bfb568143efec6729d656e0

But, that introduced a different issue, which PR #454 should fix.

[2018-09-25 14:39] johngruen commented on #439
I think this is now fixed

[2018-09-25 14:56] johngruen opened #456 "Add static/classic/amo/installed (whatever they're called) themes"
So this comes out of a discussion with the add-ons team, and the idea was that we might collaborate on this issue as a changing of the guard, so to speak. I was noodling around with this the other day, but didn't get very far...here's what i was thinking...certainly open to better suggestions:

1. Use `browser.management` api to get all installed themes from the user and track which one they have

[2018-09-25 15:00] johngruen opened #457 "Figure out what we should do with GA"
let's talk to Mika...might want to disable in AMO

[2018-09-25 15:00] lmorchard commented on #456
We might want to tweak this: Add a section to the existing theme data structure that specifies a static theme and omits the rest of the color stuff. That way selecting a static theme can work with the existing undo / redo stack and localstorage stuff. Otherwise, we run into a bit of a mess, since that stuff doesn't work across redux different sub-stores (eg. ui, images, themes).

[2018-09-25 15:05] johngruen commented on #456
here's a very rough noodle on part of this: https://github.com/mozilla/FirefoxColor/compare/default-themes

[2018-09-25 15:10] johngruen commented on #456
Ref for enabling themes: https://github.com/mozilla/personas-plus/blob/master/popup/popup.js#L42

[2018-09-25 15:40] #438 closed

[2018-09-25 17:55] johngruen opened #459 "Deleting last saved theme borks the site until refresh"
@lmorchard i definitely broke something here...

On the dev site, delete all saved themes and the site goes white and there's a console error:

[code]

Note this happened on the github.io site, need to try to repro locally

[2018-09-25 18:03] johngruen commented on #459
Okay, this doesn't repro on local, and it's because the error is caused by the switch statement in `themebuilder` and the fact that on local there's an index after the saved themes so this bug doesn't happen.

[2018-09-25 21:11] #459 closed

[2018-09-25 21:13] #451 closed

[2018-09-27 08:19] Softvision-MariusComan commented on #451
This issue is no longer reproducible with the latest version of the "Firefox Color" add-on (1.2.0 custom built on 9/27/2018) installed. Verified on Windows 10 x64, Ubuntu 18.04.1 x64 and Mac 10.13.3 with the latest Firefox Release (62.0.2) and Firefox Nightly (64.0a1 - Build ID 20180926220146) installed.

[2018-09-27 08:20] Softvision-MariusComan commented on #450
This issue is no longer reproducible with the latest version of the "Firefox Color" add-on (1.2.0 custom built on 9/27/2018) installed. Verified on Windows 10 x64, Ubuntu 18.04.1 x64 and Mac 10.13.3 with the latest Firefox Release (62.0.2) and Firefox Nightly (64.0a1 - Build ID 20180926220146) installed.

[2018-09-27 14:42] Softvision-MariusComan opened #463 "The "Theme Textures" are not highlighted when hovered"
**[Affected versions]:**
- Firefox 62.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest version of the "Firefox Color" add-on (1.2.0 custom built on 9/27/2018) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Custom backgrounds" tab and hover any

[2018-09-28 13:37] Softvision-MariusComan opened #469 "The custom background image displayed in the "Preview Pane" is positioned differently from the browser's actual one"
**[Affected versions]:**
- Firefox 62.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest version of the "Firefox Color" add-on (1.2.0 custom built on 9/28/2018) installed.
- Have a picture up to 1MB saved to your PC.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and cli

[2018-09-28 15:23] Softvision-MariusComan opened #470 "The page's background is wrongly visible between the "Address Bar" and the opened page"
https://bugzilla.mozilla.org/show_bug.cgi?id=1499405

**[Affected versions]:**
- Firefox 62.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest version of the "Firefox Color" add-on (1.0.1) installed from https://color.firefox.com/.

**[Steps to reproduce]:**
1. Open the browser with the profile from prereq

[2018-09-28 21:15] lmorchard commented on #456
https://github.com/mozilla/FirefoxColor/commit/3733b7ad6e99933071d52e509eb4aa9d1763ae14

I just pushed a commit to the default-themes branch that does this. The buttons in the "Classic Themes" tab should actually change to one of the add-on based themes while still working with undo/redo.

Also, I was a little confused, but I think this is technically correct: If you're on another channel besides

[2018-10-01 11:27] Softvision-MariusComan opened #475 "The "Delete" button from the "Custom Background Image" area does not have any hover effect or tooltip"
**[Affected versions]:**
- Firefox 62.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (1.2.0) custom built on 10/1/2018 installed.
- Have an image up to 1MB saved to your PC.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and click th

[2018-10-01 14:47] Softvision-MariusComan opened #476 "Only the "Raw Theme Data" should be selected when using the "Select All" option"
**[Affected versions]:**
- Firefox 62.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (1.2.0) custom built on 10/1/2018 installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and click the "Firefox Color" toolbar button.
2. Click t

[2018-10-02 15:04] johngruen commented on #470
Let's clone this to bugzilla close @Softvision-MariusComan

[2018-10-02 15:05] johngruen commented on #469
I think there are optimizations here, but not blocking

[2018-10-02 15:06] #439 closed

[2018-10-02 15:47] johngruen opened #479 "New UI does not show shared theme modal"
I can't get the modal to trigger on local or dev: here are two valid theme links that should trigger a modal.

http://localhost:8080/?theme=XQAAAAISAQAAAAAAAABBqYhm849SCia2CaaEGccwS-xNKliFus9yJ81_e3Ml85fKVFy66Hugeemku5jML6za3CGG2ne3RuPsBdpCQUulCgnzT_vxKfOQGIXWIbJF0odHjbCo_5QJRcug10wpEtUfmb1mddeWy30VwQmb15V96TD52yIhe8fL4IHn_w2hAkR-eLSyAGS_BZGw7eoB7r8tYUXLr_gpgqIDcByMgQYlG59WXzoE0GGiYgqEll_-HwkA

ht

[2018-10-02 15:52] #463 closed

[2018-10-02 18:04] #479 closed

[2018-10-02 20:46] caitmuenster opened #483 "Allow users to revert to previously installed theme with Firefox Color installed"
Related to issue #302.

It is very jarring to have a user's theme change completely upon installing Firefox Color. There should be an easy way to revert back to the last used theme, or the theme change should not happen on installation.

cc: @atsay

[2018-10-02 22:08] caitmuenster opened #484 "Allow users to name saved themes"
It would be helpful for designers to be able to name their saved themes, especially for prolific theme designers and testers who want to toggle back and forth between themes.

[2018-10-02 22:14] caitmuenster opened #485 "Download image file of saved themes"
Some users have asked for the ability to download a file of their saved theme from Color to keep a local copy.

This may be related to users wanting to be able to upload their saved themes from Color to AMO for wider distribution. Flagging this as a question for user outreach as I'm not if there are plans to submit themes created by Color to AMO. cc: @jorgev

[2018-10-03 16:15] lmorchard commented on #485
Yeah, we should flesh out the exact use cases for this. To be pedantic, everything is in localStorage, there's no server from which to download the themes.

So maybe more specifically the ask is: A feature to export to a portable file for backup, along with an import feature to load those themes onto another machine? Possibly even as a submission to AMO?

Also feels related to issues #93 and #94,

[2018-10-03 16:18] lmorchard commented on #484
Semi-related to #195 - we have a property for "title" in the local theme schema, but not really any UX for displaying titles. Also, I thought we had an issue for naming saved themes, but I can't find it. We'd need some UX for editing those titles too

[2018-10-03 17:11] atsay commented on #483
Yes, perhaps addressing some of these cases would help improve the sense of user control. Another example is if you have Color installed but use a non-Color theme, just going to color.firefox.com results in your theme being overridden by a Color theme. Let's discuss Friday...

[2018-10-03 17:31] lmorchard commented on #483
Yeah, that's kind of tricky. Technically, the Color add-on *is* a theme, so if you have it installed you're using *that* theme too - it'll fight with / override any other theme you've enabled. (e.g. on browser restart, Color will try to re-apply the last applied Color theme without a visit to the website)

[2018-10-03 20:06] caitmuenster commented on #485
Thanks, @lmorchard! It looks like the primary use case here is to export the theme for submission to AMO. One of our more prolific theme designers wants to be able to preview/tweak themes in Color, finalize the theme, and then make the theme available on AMO.

[2018-10-03 21:55] lmorchard commented on #485
Cool! That's basically where we wanted to head with #93.

I need to revisit the work, but I worked with an intern over the summer to explore building a microservice in AWS Lambda that would accept a theme submission from Color, convert it to a proper theme add-on, and respond with a `.xpi` download.

Whether that exact thing can work for an AMO submission, I don't know, but we can explore somethin

[2018-10-03 21:57] atsay commented on #485
To get a little meta (for background), currently the primary use case we have for Color is to support some of the developer features we lost when Personas Plus went away. Preview, image support, and the ability to save or export the image or xpi file are the basic functions a theme designer would need.

[2018-10-04 08:39] Softvision-MariusComan commented on #311
This issue is still reproducible with the latest version of the "Firefox Color" add-on (2.0.0) installed from Test Pilot.

[2018-10-04 13:52] Softvision-AndreeaCupsa opened #488 "The "Firefox Color" page wrongly turns blank after deleting all saved themes"
**[Affected versions]:**
- Firefox 62.0.3 and up.

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Steps to reproduce]:**
1. Navigate to https://color.firefox.com/
2. Click the "Random" button and then click the "Save" button.
3. Hover the saved theme thumbnail and click the "Delete" button.
4. Observe the page.

**[Expected result]:**
- The "Firefox Color" page is displayed, the

[2018-10-04 13:53] Softvision-AndreeaCupsa opened #489 "Themes can be wrongly saved when the greyed out "Save" button is clicked"
**[Affected versions]:**
- Firefox 62.0.3 and up.

**[Affected Platforms]:**

- All Windows
- All Mac
- All Linux

**[Steps to reproduce]:**
1. Navigate to https://color.firefox.com/
2. Click the "Save" button.
3. Observe the area bellow the "Install Firefox Color" button.

**[Expected result]:**
- Only the "Preset themes", "Custom colors" and "Custom backgrounds" sections are displayed.

**[Actua

[2018-10-05 15:29] johngruen commented on #488
ah, i thought i resolved this

[2018-10-05 15:57] lmorchard commented on #93
In progress work toward this as an AWS Lambda function - https://github.com/Shruti9520/ServerlessAddon

[2018-10-09 10:35] Softvision-AndreeaCupsa commented on #439
I have verified this issue and is no longer reproducible on Mac 10.13, Windows 10 x64 and Arch Linux with the latest "Firefox Color" (2.0.0 dev version 10/09/2018) installed.

[2018-10-09 11:55] Softvision-AndreeaCupsa opened #496 "The error message displayed after replacing an image with an invalid one is not explicit enough"
**[Notes]:**
- A more explicit error message can help the user understand why some changes occur after the image was unsuccessfully replaced.

**[Affected versions]:**
- Firefox 62.0.3 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (2.0.0) custom built on 10/09/2018 installed

[2018-10-09 13:37] Softvision-AndreeaCupsa commented on #475
This issue is partially fixed, the "Delete" button has a highlight effect but it does not have a tooltip and the mouse cursor does not change into a hand pointer. Verified with the latest Firefox Color custom build 2.0.0 (10/09/2018) on Windows 10 x64, Mac 10.13.3 and Arch Linux.

Considering this I will reopen this issue.

Attached a screen recording of the issue:

![rec of the issue - delete but

[2018-10-09 13:38] Softvision-AndreeaCupsa commented on #463
I have verified this issue and is no longer reproducible on Mac 10.13, Windows 10 x64 and Arch Linux with the latest "Firefox Color" (2.0.0 dev version 10/09/2018) installed.

[2018-10-09 14:16] Softvision-AndreeaCupsa opened #497 "The "Retry" button wrongly remains displayed on the image setting strip position on which it was triggered"
**[Affected versions]:**
- Firefox 62.0.3 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (2.0.0) custom built on 10/09/2018 installed.
- Have a .txt file saved to your PC.

**[Steps to reproduce]:**
1. Open the Firefox browser with the profile from the prerequisites and click

[2018-10-09 21:22] mconca opened #499 "Images should anchor to top-right by default"
The default alignment for user images should be top-right, not top-left.  Top-right matches the default in the API (when no alignment is specified) and is what most themes desire.

[2018-10-10 02:55] codythecoder opened #500 "Implement theme-color"
A lot of major websites now use the [theme-color](https://developers.google.com/web/fundamentals/design-and-ux/browser-customization/#meta_theme_color_for_chrome_and_opera) tag to inform the browser what color to be. At the moment, chrome for android is the only major browser that actually uses this (that I know of), but I think that it would be something really nifty to add to firefox color.

**I

[2018-10-10 13:47] Softvision-AndreeaCupsa opened #504 "Drop shadow can wrongly make page titles blurry"
**[Affected versions]:**
- Firefox 62.0.3 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Steps to reproduce]:**
1. Open the Firefox browser and install the "Firefox Color" custom build (10/10/2018) through "about:debugging"
2. Observe the page title.

**[Expected result]:**
- The page title can be easily read.

**[Actual results]:**
- The title is blurry.

**[Notes]:**
-

[2018-10-10 14:32] SoftVision-CarmenFat opened #505 "Delete button does not bring up a confirmation dialog or an "Undo" button"
[Affected versions]:
- Firefox 62.0.3 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (2.0.0) custom built on 10/10/2018 installed.
- Have a .jpg file saved to your PC.

[Steps to reproduce]:
1. Open the Firefox browser with the profile from the prerequisites and click the Firefox Col

[2018-10-11 14:37] Softvision-MariusComan opened #510 "A theme can be wrongly saved for an indefinite number of times if it contains a custom background image"
**[Affected versions]:**
- Firefox 62.0.3 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (2.0.0) custom built on 10/11/2018 installed.
- Have an image up to 1MB saved to your drive.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and clic

[2018-10-11 15:44] Softvision-MariusComan opened #511 ""This theme cannot be shared..." message wrongly points to the "Export" button instead of the "Share" one"
**[Affected versions]:**
- Firefox 62.0.3 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (2.0.0) custom built on 10/11/2018 installed.
- Have an image up to 1MB saved to your drive.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites and clic

[2018-10-11 17:03] lmorchard commented on #510
Seems related to / duplicate of #489 ?

[2018-10-11 22:15] caitmuenster opened #514 "[nice to have] Default alignment of custom background should be aligned right"
This is a request from one of our power theme designers who noted that she had a hard time finding the focal point of her uploaded custom background image because it aligned left and she was expecting it to align right.

Here's what she saw when she first uploaded her image:

![colors1](https://user-images.githubusercontent.com/23342476/46836945-515ad400-cd68-11e8-93c6-71bf2617d8e4.jpg)

Here's wh

[2018-10-11 22:18] caitmuenster commented on #146
This has been mentioned by two of our three theme power designers. Would be awesome if it could get on the roadmap for one of the upcoming releases.

[2018-10-11 22:28] caitmuenster opened #515 "[nice to have] Include saved themes in randomizer flow"
When a user selects "random," it would be nice if the randomizer would include the user's saved themes in the flow.

[2018-10-11 22:57] #489 closed

[2018-10-11 22:57] #510 closed

[2018-10-11 23:20] #504 closed

[2018-10-11 23:27] #499 closed

[2018-10-12 08:34] Softvision-AndreeaCupsa commented on #489
I have verified this issue and is no longer reproducible with the latest custom build (10/12/2018) on Windows 10 x64, Mac 10.13.3 and Arch Linux.

[2018-10-12 08:35] Softvision-AndreeaCupsa commented on #504
I have verified this issue and is no longer reproducible with the latest custom build (10/12/2018) on Windows 10 x64, Mac 10.13.3 and Arch Linux.

[2018-10-12 08:36] Softvision-AndreeaCupsa commented on #510
I have verified this issue and is no longer reproducible with the latest custom build (10/12/2018) on Windows 10 x64, Mac 10.13.3 and Arch Linux.

[2018-10-12 14:17] lmorchard commented on #515
The randomize feature doesn't select existing themes, though. It just selects random colors to create new themes

[2018-10-12 14:19] lmorchard commented on #514
Duplicate of #499 I think

[2018-10-12 14:19] #514 closed

[2018-10-15 14:32] Softvision-AndreeaCupsa opened #518 "[Enhancement] Clicking on a property from the preview panel should highlight it and associate it with its property in the "Custom colors" section"
**[Affected versions]:**
- 62.0.3 and above

**[Affected Platforms]:**
- All Windows
- All Linux
- All Mac

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (2.0.0) custom built on 15/10/2018 installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click on the "Firefox Color" icon from the toolbar.
3. Clic

[2018-10-16 12:25] Softvision-AndreeaCupsa opened #521 "[Windows] Running "npm install" after cloning the repo wrongly creates an invalid "vendors~." folder"
**[Affected versions]:**
- 62.0.3 and above

**[Affected Platforms]:**
- All Windows

**[Steps to reproduce]:**
1. Open the "Command Prompt" terminal.
2. Run the "git clone https://github.com/mozilla/FirefoxColor" command.
3. Run the "cd FirefoxColor" and then the "npm install" commands.
4. Run the "npm start" command.
5. Navigate to the folder where the "Firefox Color" was installed.
6. Go to bui

[2018-10-16 15:09] johngruen commented on #500
@codythecoder this is definitely possible, but probably not on the roadmap for Firefox color. We're moving to make this a theme export tool. Recommend sticking with VivaldiFox for now.

[2018-10-16 15:09] #500 closed

[2018-10-16 15:11] johngruen commented on #485
We are working on an export feature now. I am gonna close this as a dupe of #93

[2018-10-16 15:11] #485 closed

[2018-10-16 15:12] johngruen commented on #484
Let's add this to the export modal.

Hit export button > (modal) give your theme a name > confirm > download

[2018-10-16 15:13] johngruen commented on #483
Duping this to #456

[2018-10-16 15:13] #483 closed

[2018-10-16 15:15] johngruen commented on #470
I think we could fix this by adding borders to the properties, but we probably would want one color value for all the borders and not like seven or how ever many are in the API.

[2018-10-16 15:37] Softvision-MariusComan commented on #470
I've cloned this issue to Bugzilla, you can find it [here](https://bugzilla.mozilla.org/show_bug.cgi?id=1499405).

[2018-10-19 14:20] Softvision-AndreeaCupsa commented on #521
The "vendor~" folder is no longer created when running "npm start" after cloning the Firefox repo.

However while the build is running in the console on Windows 10 x64, the following message: "95% emitting CopyPlugin" is intermittently displayed. And the CPU usage of the "Command Prompt" terminal reaches ~80%, thus slowing down the PC.

On Mac 10.13.3 while the server for the add-on is running, no

[2018-10-19 14:29] Softvision-MariusComan opened #528 "The "Replace image" and "X" buttons are wrongly exceeding the "Custom backgrounds" area at browser resize"
**[Affected versions]:**
- Firefox 62.0.3 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (2.1.0 local-dev custom built on 10/19/2018) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" toolbar button

[2018-10-19 15:08] lmorchard commented on #521
Is this CPU usage thing directly related to the change in vendors folder name? Sounds like it might be a different issue

[2018-10-19 15:15] Softvision-AndreeaCupsa commented on #521
It might not be related to it, we noticed them at the same time. I will log another issue for high CPU usage.

[2018-10-19 15:37] Softvision-AndreeaCupsa opened #529 "High CPU usage of the terminal while running "npm start" after cloning the master branch"
**[Affected Platforms]:**
- All Windows
- All Mac

**[Steps to reproduce]:**
1. Open the "Command Prompt" terminal.
2. Run the "git clone https://github.com/mozilla/FirefoxColor" command.
3. Run the "cd FirefoxColor" and then the "npm install" commands.
4. Run the "npm start" command.
5. Open the "Task Manager" and observe the CPU usage of the "Command Prompt" terminal.

**[Expected result]:**
- T

[2018-10-23 14:59] Softvision-AndreeaCupsa opened #533 "[Windows] [Linux] The blue selected state is no longer applied for the pattern thumbnails after they are clicked"
**[Affected Platforms]:**
- All Windows
- All Linux

[Prerequisites]:
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (2.1.0 local-dev custom built on 10/23/2018) installed.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Click the "Firefox Color" toolbar button and select the "Custom backgrounds" tab.
3. Click on the "Custom ba

[2018-10-24 17:01] mystor opened #535 "Consider syncing themes over firefox sync"
Currently themes aren't synced between multiple firefox instances, which would be awesome :-). I think it might be possible to make this work by changing the storage getters to instead use `browser.storage.sync` (https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/storage/sync).

https://github.com/mozilla/FirefoxColor/blob/f4d2c1735d47a7006b56f26a94e995a7380f040b/src/extens

[2018-10-29 08:15] KhushilMistry commented on #505
Hey, I want to work on this. Do we have any mock ups for this @SoftVision-CarmenFat ?

[2018-10-30 15:08] johngruen commented on #529
@lmorchard will look, but probably stetch

[2018-10-30 15:10] johngruen commented on #528
@johngruen fix this when we do the static themes stuff

[2018-10-30 15:10] johngruen commented on #521
@lmorchard can you verify this is fixed and close

[2018-10-30 15:11] #484 closed

[2018-10-30 15:11] #521 closed

[2018-10-30 15:12] #457 closed

[2018-10-30 15:26] lmorchard commented on #456
I just remembered that this came up in one of the Theme Chat meetings: Apropos of #483, we might want to add some code to the add-on on install to check if one of the built-in themes is enabled. If so, and the add-on wasn't installed from the website, then don't change the user's theme on install and instead stick with what they had

[2018-11-01 13:27] Softvision-MariusComan opened #547 "The uploaded images that have the ".BMP" format are not applied to the theme background"
**[Affected versions]:**
- Firefox 63.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox profile with the latest version of the "Firefox Color" add-on (2.1.0) installed from "mozilla.github.io/FirefoxColor".
- Have an image with the".BMP" format and up to 1MB saved to your drive.

**[Steps to reproduce]:**
1. Open the browser with th

[2018-11-01 14:57] Softvision-MariusComan commented on #528
This issue is still reproducible with the latest version of the "Firefox Color" add-on (2.1.0 local-dev custom built on 11/1/2018) installed, on the latest Firefox Release (63.0.1) and Nightly (65.0a1). Considering this I am reopening the issue.

[2018-11-01 15:18] KhushilMistry commented on #528
Hey, I am currently working on issue #475. Will make necessary changes and create another PR. Sorry for the inconvenience caused.

[2018-11-02 07:41] Softvision-AndreeaCupsa commented on #521
I have verified this issue and is no longer reproducible on Windows 10x 64 with the latest custom build (11/02/2018).

[2018-11-02 17:29] MrPotatoLord opened #550 "Add the normal Firefox themes to the presets"
It would be nice to add the 3 themes built in with Firefox (the ones found in the customize menu) to the presets.

[2018-11-02 17:32] lmorchard commented on #550
This is what we're working toward in #456

[2018-11-02 17:32] #550 closed

[2018-11-05 17:20] #529 closed

[2018-11-12 14:06] Softvision-AndreeaCupsa commented on #529
I have verified this issue and is no longer reproducible with the latest custom build (11/12/2018) from the Github Repo on Windows 10 x64 and Mac 10.13.3.

[2018-11-13 14:41] Softvision-AndreeaCupsa commented on #475
I have verified this issue and now the button has a tooltip, however, it is not the appropriate tooltip for this button, we should use something along the lines of "Remove" or "Delete"

Considering this I will reopen this issue.

[2018-11-13 15:58] #475 closed

[2018-11-13 16:14] lmorchard commented on #547
Hmm, this might be a type that's not supported / has broken support in the upstream theme APIs in Firefox. If so, we might have to remove .bmp from the list of allowed media types.

[2018-11-13 16:19] lmorchard commented on #547
Just going to disable this media type for now

[2018-11-13 21:25] caitmuenster opened #586 "Make it easier to clear localStorage on web property"
Reported on behalf of Madonna, one of our theme power users.

Madonna has been using Firefox Color to preview her themes before she publishes them to AMO. On November 12, she reported that she was not able to make new changes or create new themes using Firefox Color. I think she ended up refreshing her Firefox.

Today, she was able to 10 images before she was no longer able to make changes or add

[2018-11-13 22:20] MaDonnasPersonas commented on #586
There is no error message.

[2018-11-13 22:29] #547 closed

[2018-11-15 07:46] Softvision-AndreeaCupsa commented on #475
I have verified this issue and is no longer reproducible with the latest Firefox Color custom build (11/15/2018) on Windows 10 x64, Mac 10.13.3 and Arch Linux.

[2018-11-15 07:52] Softvision-AndreeaCupsa commented on #547
I have verified this issue and is no longer reproducible with the latest Firefox Color custom build (11/15/2018) on Windows 10 x64, Mac 10.13.3 and Arch Linux.

[2018-11-15 15:48] ratron opened #590 "when using color.firefox.com form input elemants are affected, but not configurable"
eg: the background color applies to all unstyled form elements on webbages. the browser default is white (text) or gray (radio,checkbox). color.firefox.com messes up the browser defaults but does not offer a configuration for those elements.

[2018-11-15 16:31] lmorchard commented on #586
TL;DR: Assuming this is a problem with storage space, the immediate workaround for this issue is probably to 1) remove the Color add-on and then 2) [clear storage for color.firefox.com](https://support.mozilla.org/en-US/kb/storage). This should start things from a fresh slate.

In the meantime, we can look at changes to display available space remaining and to more gracefully handle the error. Unf

[2018-11-15 18:42] MaDonnasPersonas commented on #586
Thanks...

On Thu, Nov 15, 2018 at 8:31 AM Les Orchard <notifications@github.com>
wrote:

[2018-11-15 22:50] caitmuenster commented on #586
Thanks, @lmorchard! We're going to give uninstalling/reinstalling a shot. Appreciate your willingness to help troubleshoot!

[2018-11-17 23:48] FayneAldan opened #592 "Some presets make Find bar button text hard to see"
Some of the presets use toolbar transparency in such a way that the background image is primarily seen on the toolbar and shown behind text. However, when using such a method, it can cause the Find bar to have weird coloring, causing the button text to become invisible or hard to see. This can be seen in the two presets shown below:

![First Preset Toolbar](https://i.imgur.com/UsmFkDS.png)
![First

[2018-11-19 00:05] codythecoder commented on #592
If the toolbar color is 100% transparent, and the toolbar icons and text, and search text are pure white, it becomes impossible to read the find bar. I really like your suggestion of coloring the find bar based on the bgcolor and toolbar color.

[2018-11-27 16:06] johngruen commented on #586
i can try to repro to get an idea about what we can do...

@MaDonnasPersonas we are going to be adding an export feature meaning you can make themes that can be submitted to AMO rather than simply saving them locally. But at the same time we can improve error handling here to make your life easier!

[2018-11-27 16:08] johngruen commented on #590
@ratron can you provide a URL where you are seeing this and maybe a screenshot? Additionally do you have high contrast mode enabled on an OS level?

[2018-11-27 16:09] johngruen commented on #592
@FayneAldan yeah these are not necessarily WCAG compliant...might be a good idea to make that the case, but they're designed to show off all the capabilities of FF color.

[2018-11-27 17:43] MaDonnasPersonas commented on #586
Thanks so much for the update. If I use CCleaner when FC won't let me add
any Custom backgrounds, then I can get it to work again after I close it
and open it up.

On Tue, Nov 27, 2018 at 8:06 AM John Gruen <notifications@github.com> wrote:

[2018-11-28 08:14] ratron commented on #590
i'm so sorry, it was the theme. i changed firefox colors and theme at the same time, but the theme did not affect chromium - so i thought it was caused by firefox color.

![image](https://user-images.githubusercontent.com/14057805/49137180-fa936480-f2eb-11e8-8cc8-7dd1359df8d0.png)

[2018-11-28 14:55] #590 closed

[2018-12-07 07:11] happysurf opened #616 "Sidebar theming"
Please add the sidebar theming support like in the default dark Firefox theme.
Now with the API is possible.
For example, if I added in Firefox Color exported manifest.json file this code, then works:

      "sidebar":` "#404552", // Firefox 63
      "sidebar_text": "#D3DAE3", // Firefox 63
      "sidebar_border": "#2B2E39", // Firefox 64
      "sidebar_highlight": "#5294E2", // Firefox 63
      "

[2018-12-11 16:07] johngruen opened #626 "Remove feedback link and references to Test Pilot from app"
For graduation. This can be done whenever.

[2018-12-14 18:07] caitmuenster commented on #586
It looks like we figured this out! Uninstalling the extension appears to not clear out local storage.

We were able to solve this by going to color.firefox.com, opening the storage inspector, deleting all from Local Storage, uninstalling the extension, and then returning to color.firefox.com to refresh the extension.

It would be great if we could make that process easier so folks don't need to go

[2018-12-14 18:57] MaDonnasPersonas commented on #586
Yes, but it is real easy to do once you know how! We will just hope this
continues to work. Will keep in touch. I do so appreciate your help.

On Fri, Dec 14, 2018 at 10:07 AM Caitlin Neiman <notifications@github.com>
wrote:

[2018-12-17 14:10] Mayccoll opened #636 ".xpi appears corrupt"
Hi,
I download the .xpi file, but i was unable to installed because an error.

- A functionality that could be added would be to upload a pre-existing theme and edit from that.
The only way right now is by URL.

![fullscreen_17_12_18__9_03_am](https://user-images.githubusercontent.com/2009698/50092208-70983680-01db-11e9-81fa-fcecab49b238.png)

Thanks

[2019-01-07 20:34] #626 closed

[2019-01-18 15:51] MichaelTunnell opened #667 "What is the plan for Firefox Color after Test Pilot is Deprecated?"
Announcement to end Test Pilot:
https://blog.mozilla.org/blog/2019/01/15/evolving-firefoxs-culture-of-experimentation-a-thank-you-from-the-test-pilot-program/

I am wondering what is the plan for Firefox Color? Will Firefox Color be turned into an independent extension or will it be ended alongside Test Pilot?

Note: personally speaking, Firefox Color is the only extension that I would miss from t

[2019-01-18 16:02] marniepw commented on #667
@MichaelTunnell have no fear. Color is a popular experiment and will live on in AMO.

[2019-01-18 16:03] #667 closed

[2019-01-23 18:52] Anex007 commented on #636
I have the same issue i cant seem to install an add on from file_

[2019-01-23 19:18] pdehaan opened #676 "Remove references to Test Pilot?"
We probably want to remove the **testpilot-ga** bits and the footer links to Privacy and Terms and "About Test Pilot" redirect you to the Test Pilot EOL site.

[code]

[2019-02-18 01:57] moz-hwine opened #705 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/FirefoxColor/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement

[2019-03-07 11:17] sudipt1999 commented on #528
Is this bug solved else I am starting to work on this

[2019-03-07 16:43] caitmuenster commented on #528
Hey @sudipt1999, thanks for your interest! Firefox Color is currently in a holding pattern while we figure out where it's going next, so we're not in a good position to help mentor this issue at this time. :(

In the meantime, would you be interested in checking out any of these [other open issues](https://codetribute.mozilla.org/) to get involved with?

[2019-03-07 16:45] sudipt1999 commented on #528
Ya sure ! thanks for the response

[2019-03-13 12:52] zynexiz opened #740 "Start page white backgrund"
The background on the start page doesn't honor the built in dark theme when it's active, seems like it revert to the light theme when the addon is activated. Also found this issue with firefox-nativedark addon. Maybe a Firefox issue more than an addon issue?

![Screenshot_20190313_135157](https://user-images.githubusercontent.com/22789493/54280200-d1db6600-458e-11e9-9b9c-1a7315455d47.png)

[2019-03-13 12:59] MichaelTunnell commented on #616
This would be great! I use dark themes on applications and the super bright sidebar is rather annoying. Of course, not annoying enough to not use Firefox but it would be fantastic if I could style that with this extension as well.

[2019-03-22 16:47] lmorchard commented on #53
We probably don't really need to solve this.

[2019-03-22 16:47] #53 closed

[2019-03-22 16:51] lmorchard commented on #123
This would be very nice to have as part of upgrading dependencies. I think many of the issues blocking the upgrade are resolved in the webpack community now

[2019-03-22 16:54] lmorchard commented on #21
The only thing this issue prevents is continual automatic deployments to dev on commits to master. That would be nice to have, though I might say that having automatic master branch builds of the add-on signed could be seen as a negative by AMO folks.

[2019-03-25 18:38] moz-hwine commented on #368
Hello! This is your neighborhood secops team still looking out for you!

The production branch on this repository is still not protected against force pushes. If the repository's production branches are not set as the GitHub default, please fill out [this form](https://docs.google.com/forms/d/e/1FAIpQLScbOGCBZJ0xDpwGUyPYpdRMGl2doOh4qT7iSVvwxjXRvT6YWQ/viewform?usp=sf_link).

If you have any questio

[2019-03-25 19:42] caitmuenster opened #763 "Update properties that will be deprecated in Firefox 69"
In [Firefox 69](https://wiki.mozilla.org/Release_Management/Calendar), the following theme properties will be deprecated:

- toolbar_text
- accentcolor
-textcolor

[MDN](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/theme#Aliases) recommends replacing themes with the following:

-bookmark_text
-frame
-frame_inactive
-tab_background_text

We need to replace th

[2019-03-26 15:15] caitmuenster opened #764 "Add ability to add drop shadow to text fields"
It would be great to make it so developers can add drop shadow to text fields using Firefox Color.

[2019-03-30 06:44] Mozilla-GitHub-Standards opened #767 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-04-01 17:02] #767 closed

[2019-04-02 22:06] mgillespy commented on #244
@caitmuenster , can this be closed? It doesn't seem to be an issue anymore - the "theme texture" bubble has been removed, and user options display in a side panel rather than a popup.

[2019-04-03 16:19] caitmuenster commented on #244
Yep, go ahead and close it, @mgillespy!

[2019-04-13 08:51] raymondpittman opened #780 "[Design Issue] Safari - Click random colors button a few times, 500px+ space forms at bottom of page"
You have a CSS error I assume with Safari. You click the random button for some random browser styles and scroll down, and it's just all blank.

I attached a screenshot. Excuse my sloppy hand written note, it's a trackpad. It goes way past what you are seeing, if I would of hid the developer tools it would still contain a gap.

Mobile: Same problem
Safari Desktop: Same
Chrome: Untested

<img width

[2019-04-15 16:06] caitmuenster opened #783 "Remove Test Pilot references from website"
We also need to remove references to Test Pilot from the website:

![Test Pilot - Color](https://user-images.githubusercontent.com/23342476/56147478-33f80400-5f5d-11e9-86e6-c085ba3bd5b0.png)

**Upper left corner:**
- Remove "A Firefox Test Pilot experiment"
- Center "Firefox Color" with icon

**Footer:**
- Remove "About Test Pilot" link
- Change link target of Twitter icon to https://twitter.com/f

[2019-04-18 07:48] psanatov commented on #783
I'm not sure that logo is centered in a correct way. @caitmuenster what do you think?
![Screenshot from 2019-04-18 09-46-37](https://user-images.githubusercontent.com/33035511/56344951-eaa6ef00-61be-11e9-8fba-fe74aa9be001.png)

While I was trying to fix this ticket, I thought that we should center logo **against parent** (whole header element), not just left part of the header.

[2019-04-18 15:09] caitmuenster commented on #783
Thanks @psanatov! Oh, yeah -- I'd like to keep its original position on the left hand side. Sorry for the confusion; I meant that the words "Firefox Color" should be centered against the icon. :)

@mgillespy, do you want to make that quick fix and re-submit the PR?

[2019-04-18 19:37] #783 closed

[2019-04-18 20:01] caitmuenster commented on #676
Closed by PR #784. :)

[2019-04-29 15:50] caitmuenster opened #793 "Bump version"
Push new version to update web property.

[2019-05-06 17:31] happysurf opened #798 "Update for Firefox 69?"
With my theme Solarize Fox (https://addons.mozilla.org/en-US/firefox/addon/solarize-fox/) created and exported with FirefoxColor  2.1.0 addon, I get this error in debug mode:

Solarize Fox:
    Reading manifest: Error processing theme.colors.accentcolor: Please use <em>theme.colors.frame</em>, this alias will be removed in Firefox 69.
    Reading manifest: Error processing theme.colors.textcolor:

[2019-05-06 20:47] caitmuenster commented on #798
Thanks @happysurf! We're working on a fix for this.

Do you know how to edit the manifest.json of your theme? You can swap out the properties, rezip the file, and then sideload it to fix the error.

[2019-05-07 07:48] happysurf commented on #798
Yes, this morning I have updated the theme (queue), but my questions are:
- The updated theme works also with Firefox 57 and 58 versions?
- These 59 changes (and others?) allow more customize UI colors for Firefox 59+ ?

[2019-05-17 07:53] devcer commented on #26
Hey, I still see few linting errors, Can I work on this?

[2019-05-21 21:01] jbuck opened #802 "Fix stage & production deployment"
We're now [deploying via CircleCI](https://github.com/mozilla/FirefoxColor/pull/797) but there are still some bugs to be ironed out.

The first thing I noticed [on stage](https://color.stage.mozaws.net/) is that it's trying to install the XPI from stage, rather than referring to testpilot.firefox.com. I looked at the build config and the following two things needs to be changed:

* Stage
  * ADDON

[2019-05-29 11:06] Eccenux opened #804 "Share (export) current theme"
There seem to be no way to export current theme. For example I did some theme a year ago or so and now I cannot event share it between my own computers.

There should be a way to generate the link from options or export (and import) some JSON.

[2019-06-08 22:31] moz-hwine commented on #368
Hello! This is your neighborhood secops team still looking out for you!

The production branch on this repository is still not protected against force pushes. If the repository's production branches are not set as the GitHub default, please fill out [this form](https://docs.google.com/forms/d/e/1FAIpQLScbOGCBZJ0xDpwGUyPYpdRMGl2doOh4qT7iSVvwxjXRvT6YWQ/viewform?usp=sf_link).

If you have any questio

[2019-06-10 21:08] caitmuenster commented on #26
Hey @devcer, sorry for the late reply! We currently don't have anyone who can review and approve a patch. :/ If that changes in the near future, we'll open this back up for contributors!

[2019-06-30 00:02] moz-hwine commented on #368
branch now protected

[2019-06-30 00:02] #368 closed

[2019-07-02 20:37] caitmuenster opened #812 ".xpi should be hosted on AMO"
Reference: https://bugzilla.mozilla.org/show_bug.cgi?id=1561541

The install should originate from the AMO details homepage. This will help prevent the installation warning error from being thrown. :)

** Details for migrating users who installed the .xpi from the website **

- We need to create one more unlisted version of the .xpi that is hosted on the Color website. The update URL needs to be r

[2019-07-04 14:30] spoji commented on #676
@caitmuenster This issue is linked to a P1 still open in the PRD in the "Update Firefox Color web presence" requirement description. Should I assume this is done and should not be taken into consideration ?

[2019-07-04 18:55] spoji commented on #277
Would a beforeunload javascript dialog to warn the user that "unsaved sata may not be saved" be an acceptable solution here?

Note that it would show up only if the user do have a unsaved theme.
![image](https://user-images.githubusercontent.com/2171145/60684287-d0e68100-9e6a-11e9-8ddd-02582ed88384.png)

[2019-07-05 15:24] caitmuenster commented on #676
This is not quite done -- IIRC, Melanie's PR was merged but never deployed to prod. Once it's deployed, we can consider it done.

I'm going to re-open. :/

[2019-07-20 00:51] shmediaproductions opened #814 "latest firefox nightly update breaks "background color""
no matter what I set the color to it just overwrites the default theme (and custom CSS) with white for all the elements covered by "background color"
edit: specifically, these are showing up (only) when the add-on is activated now.
[code]
so i guess nightly changed something relative to the theme API? is there any way to just disable certain variables that firefox color changes? unrelated, but it

[2019-07-20 21:40] Errolyn commented on #814
I check this on both Mac and Windows versions of nightly and have the same issue. Patterns still work.
![firefoxcolorissue](https://user-images.githubusercontent.com/1214589/61584427-4bb2cb80-aafc-11e9-8031-9016f7814c8b.PNG)

[2019-07-21 00:09] shmediaproductions commented on #814
That makes sense, I didn't try patterns but I went through most of the navbar elements last night and I didn't see anything changed except root and theme variables. I forgot that it even allowed patterns but I assume it probably implements the patterns with background-image? So it makes sense if the patterns still show since I don't think any background properties are changed, just where backgroun

[2019-07-22 02:20] nt1m commented on #814
See https://bugzilla.mozilla.org/show_bug.cgi?id=1567684 and https://bugzilla.mozilla.org/show_bug.cgi?id=1472740

[2019-07-22 02:26] nt1m commented on #814
This is basically broken because Firefox Color seems to still use some deprecated theme properties that now have new names.

There was a work in progress by @mgillespy regarding this, but it was never merged: https://github.com/mgillespy/FirefoxColor/tree/763-update-deprecated-properties

[2019-07-22 14:03] impearker commented on #814
I can confirm the same issue is happening for me on nightly on Windows 10(current stable), Linux(Ubuntu 19.04), and Mac Mojave. Please let me know if there are logs or anything I can add to help address this issue.

[2019-07-23 01:11] shmediaproductions commented on #814
I don't think so, it doesn't seem to return any errors. You could paste your values for the variables that are missing now, and the source stylesheet for the prevailing rule. They always show up on the main window element in the inspector. The extension's variable changes show up under element {}, the rule at the top.
![firefox color bug](https://user-images.githubusercontent.com/33384265/61674971

[2019-07-23 01:33] shmediaproductions commented on #814
It just occurred to me that I can only install the build temporarily with the built in scripts. If I try a permanent install, since I can't control the circleci deployment or the main github site, I think I will lose all the changes to the web editor so the new properties are left without values.

@mgillespy thanks for updating this extension, do you know if there's any way to get it running local

[2019-07-23 18:13] gaby2300 opened #815 "No option to change inactive/background tabs color"
1) Install Firefox Color
2) Notice the absence of the option to change inactive/background tabs color

Expected result: there should be an option to change the inactive/background tabs color (there was before), mine where green

Actual result: No option to change inactive/background tabs color. They are white and there's no way to change its color

[2019-07-23 18:19] jtg567 commented on #815
I'm on Nightly and disabled Firefox Color today after finding the inactive/background tabs were white.

[2019-07-23 19:45] gaby2300 commented on #815
I saw this a few days ago though. I couldn't connect to IRC's #addons
channel and no one seemed to know who to contact. It was just today that I
remembered Slack and pasted this issue there.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Libre
de virus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&ut

[2019-07-24 15:36] caitmuenster commented on #763
@ntim made some corrections to the properties set to be deprecated:

- For `accentcolor`, please use `frame`
- For `headerURL`, please use `theme_frame`
- For `textcolor`, please use `tab_background_text`

`toolbar_text` is no longer going to be deprecated.

[2019-08-05 17:13] caitmuenster commented on #302
Hey @nt1m (or @lmorchard or @johngruen) do you know if this is technically doable?

[2019-08-05 17:21] caitmuenster commented on #802
Pending verification that we can push to prod, I think we can close this out.

We do need to have the .xpi hosted on AMO so users don't see the pop-up asking if they trust Firefox to download from a non-AMO site (see issue #812).

[2019-08-05 17:32] caitmuenster commented on #636
Marking this as a p2 because it needs investigation.

[2019-08-05 17:36] nt1m commented on #302
It's probably possible by watching the [management events](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/management#Events) and then storing a value everytime the theme changes. Then if that value is found in storage when Firefox color starts up, we can avoid calling `browser.theme.update()`.

[2019-08-05 17:37] nt1m commented on #302
There should probably be an easier way to do this, but that should work fine.

[2019-08-06 14:06] gaby2300 commented on #814
Could this be related to the following: https://github.com/mozilla/FirefoxColor/issues/815?

[2019-08-07 02:26] shmediaproductions commented on #814
^Yeah it's definitely the same situation. It used to be that inactive tabs were colored according to the color the user defined for "background color." So in some sense the extension never provided granular control over the inactive tabs, but now it doesn't color them at all.

[2019-08-07 13:00] wagnerand opened #820 "Upgrade to node 10"
This project is currently using node 8, which reaches its end of life in December 2019. We need to upgrade to at least node 10 before that.

[2019-08-07 13:07] rpl commented on #814
This should be a duplicate of #763, it looks like the same issue reported on bugzilla as [Bug 1568068](https://bugzilla.mozilla.org/show_bug.cgi?id=1568068).

[2019-08-07 15:22] caitmuenster commented on #815
This is caused by #763. Closing this comment out as a duplicate. :)

[2019-08-07 15:22] #815 closed

[2019-08-07 15:23] caitmuenster commented on #814
Closing this out as a duplicate.

[2019-08-07 15:23] #814 closed

[2019-08-07 15:59] gaby2300 commented on #763
So, when this issue is fixed, will the inactive/background color issue in Firefox Color be fixed as well?

[2019-08-07 16:22] caitmuenster commented on #763
@gaby2300 Correct! The properties behind inactive/background color were deprecated and will be removed from Firefox 70.

[2019-08-07 16:25] caitmuenster commented on #815
Hi all, this is related to #763. Closing this issue as a duplicate.

[2019-08-07 16:47] gaby2300 commented on #763
@caitmuenster Do you know when will this happen in Nightly?

[2019-08-07 16:57] caitmuenster commented on #763
@gaby2300 Hopefully soon -- there's a patch in progress. If you want to subscribe to this issue, you'll be notified when it's been fixed. :)

[2019-08-07 17:10] gaby2300 commented on #763
@caitmuenster By subscribe to this issue, do you mean to watch it?

[2019-08-07 17:20] IdmFoundInHim commented on #763
In the notifications section (right side of the screen on desktop or bottom of the page on mobile), there is a subscribe button. When you click it, you are subscribed and will receive notifications for new activity on just this issue. To unsubscribe, click the button again (which will say unsubscribe, as it does for me).
Before:
![image](https://user-images.githubusercontent.com/30935172/62643470-

[2019-08-07 18:08] gaby2300 commented on #763
@IdmFoundInHim Subscribed! Thank you so much for such a detailed explanation!

[2019-08-08 14:10] harogaston commented on #740
Please, this issue is keeping me from using the extension at all. I can't go with a bright flash in my eyes every time I open a new tab.

[2019-08-13 20:08] #763 closed

[2019-08-18 18:58] zerefwayne commented on #764
@caitmuenster I would like to work on this issue.

[2019-08-19 15:57] caitmuenster commented on #763
Hey @gaby2300, we just updated the extension and site. Could you check to see if it's working for you now?

[2019-08-19 15:58] caitmuenster commented on #676
This should be closed with PR #826.

[2019-08-19 15:58] #676 closed

[2019-08-19 15:58] #793 closed

[2019-08-19 22:35] caitmuenster commented on #764
Hey @zerefwayne, thanks for your interest in this issue!

We are currently in the process of hiring someone to work on Color, and until she comes onboard, we unfortunately won't be able to mentor this issue. :( If you want to give this a try, please go for it -- we might not be able to help you if you get stuck or review any submitted patches for a few weeks, though.

[2019-08-21 16:10] jbuck opened #828 "production site is not pointing at AMO addon"
Right now the production site is pointing at the Testpilot-hosted addon and not the AMO-hosted addon. I'm not sure why, the code is exactly the same as stage which is pointing at the AMO-hosted addon

[2019-08-21 16:15] Rob--W commented on #828
https://github.com/mozilla/FirefoxColor/blob/67dce659f3c508a61fbc7759e6932606304d0317/package.json#L46

should include `--channel=listed`, or (preferably) the `WEB_EXT_CHANNEL=listed` environment variable should be set in the deploy-to-production CI task.

[2019-08-21 16:47] jbuck commented on #828
This is because I goofed and did not disable the Jenkins deployment automation, which overwrote the website/xpi on every deploy

[2019-08-21 16:47] #828 closed

[2019-08-21 17:39] Rob--W commented on #812
This has been done. Not intentionally (#828), but it's done anyway.

What's the difference between this and the previous point?

https://testpilot.firefox.com/files/FirefoxColor@mozilla.com/updates.json currently contains:

[code]

... and the linked xpi does not contain `update_url`, as desired.

Everything is set, except the part where we publish the xpi on AMO.

Using my special review permissi

[2019-08-22 19:15] #812 closed

[2019-08-26 17:11] Rob--W commented on #636
Which XPI file are you trying to install?

[2019-08-26 17:29] Rob--W commented on #636
@stevenengler It's indeed because themes that are downloaded in that way are not signed.

The color.firefox.com URL is the recommended way. Recently we updated Firefox Color to be compatible again with Firefox 70. Any previously shared URL has automatically been migrated, which would not be possible if themes were shared via XPIs.

[2019-08-28 12:42] Draghmar opened #836 "FF 70b1 background image is missing"
Hi.
My FF updated to 70b1 and first thing I've noticed is that the background image isn't there any more. It wasn't custom one but one of the available at the editor. Looking at other backgrounds I think there's something wrong with alpha because some the images are visible but not in the intended way I think.
When choosing random presets there is also no background at inactive tabs.

[2019-08-28 13:40] Rob--W commented on #836
What version of Firefox Color are you using? (the latest version is 2.1.5)
 Could you share the theme that you're using?

To be able to reproduce your exact theme, could you take the following steps:

1. Visit `about:debugging` . Click on the "This Nightly" link in the first paragraph.
2. Scroll to "Firefox Color" and click Inspect
3. Click on "Console", and paste the following code:

[code]
4. Co

[2019-08-28 13:50] Draghmar commented on #836
Yeah...that's kinda lame of me but I was using this addon for so long I forgot it wasn't direct part of the FF itself and...it didn't update right away for some reason. I had 2.1.2 and updating to 2.1.5 fixed this issue.
Sorry for bothering you. :(

[2019-08-28 13:50] #836 closed

[2019-08-30 12:40] acornestean opened #837 "Firefox Color overwrites enabled theme after browser restart"
[Description]:
Firefox Color will overwrite any applied and enabled theme with its own color scheme upon browser restart. The actual applied theme is still listed as enabled in about:addons. For further details, please see the attached files.

Note: While the effects of the issue are present, removing or disabling Firefox Color will change the color scheme to the one from the Default theme (the ac

[2019-08-30 13:31] Rob--W commented on #837
This is a bad user experience, but not really a bug in Firefox Color or Firefox (but definitely something that can be improved, i.e. an enhancement).

This is a related Bugzilla ticket about the same issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1551720

See also comments at https://bugzilla.mozilla.org/show_bug.cgi?id=1551720#c4 and below.

[2019-08-30 16:42] caitmuenster commented on #837
This also sounds related to #302, which is one of our immediate priorities. Let's see if the fix for #302 can address this one. :)

[2019-09-02 09:53] Rob--W commented on #802
The xpi link now points to AMO, and the xpi deployment process has been updated and documented:
https://github.com/mozilla/FirefoxColor/blob/444d50d1dc12fb20b52029000bdb9cb74148692c/README.md#build-test-and-publish-add-on

[2019-09-02 09:53] #802 closed

[2019-09-03 18:53] Patil2099 commented on #820
@wagnerand Can I work on this?

[2019-09-03 22:03] caitmuenster commented on #820
Hey @Prankaj, thanks for your interest in this bug! Unfortunately, this is not a good bug for contributors. Would you be interested in working on other issues for Mozilla projects? The DevTools group in particular have a lot of [good issues](https://codetribute.mozilla.org/projects/devtools) to dive into. :)

[2019-09-09 22:36] caitmuenster commented on #798
This should have been fixed with #826.

[2019-09-09 22:36] #798 closed

[2019-09-19 11:39] aryamanpuri opened #840 "Unable to install all the dependencies"
Hi everyone , I want to contribute in this project but i am not able to build this project .
On using "npm install" I am not able to install all the dependicies of the project
It is getting stucked everytime in extracting the icons/material .
@lmorchard @rpl @chuckharmston
Please help.
![Screenshot from 2019-09-19 17-06-49](https://user-images.githubusercontent.com/43513114/65240968-10367c80-db00-

[2019-09-19 23:23] caitmuenster opened #841 "Update installation flow & first run"
## Installation flow from web property
When users install Firefox Color from the web property, they see this warning:

![Screen Shot 2019-09-19 at 4 16 31 PM](https://user-images.githubusercontent.com/23342476/65287671-df9f1480-daf8-11e9-8370-fb38fc376132.png)

The only way to avoid that warning is to have users install the extension from the Firefox Color product page on AMO (https://addons.mozil

[2019-09-22 19:12] Vishal19111999 commented on #266
Can I solve this as my first issue?

[2019-09-22 19:15] Vishal19111999 commented on #266
@caitmuenster Can I solve it as my first issue?

[2019-09-23 18:00] Rob--W commented on #840
This might be related to: https://github.com/google/material-design-icons/issues/518
Does your system have resource constraints (e.g. low memory)?

Side note, NEVER use `sudo` to install dependencies for a third-party project that doesn't need to run as root. It can cause issues, such as not being able to read files from the installed package, to worse problems such as breaking your local system.

[2019-09-23 18:14] Rob--W commented on #266
Hi @Vishal19111999 Sure. To resolve this issue, you could register a `"keydown"` event listener on the `document` in the dialog's `componentDidMount` (and unregister it from `componentWillUnmount`), which closes the dialog when the Esc key is hit.

Let me know if you have more questions.

[2019-09-23 18:28] gaby2300 commented on #763
Hello @caitmuenster, I'm so sorry for my delay!
It seems I didn't receive this last update, that's why I didn't answer before. I just happened to check this issue and noticed the update!
Yes, it's working fine now, thanks!

[2019-09-24 08:17] Vishal19111999 commented on #266
I am facing some errors while installing npm packages...please help @Rob--W
![Screenshot from 2019-09-24 13-43-21](https://user-images.githubusercontent.com/29145212/65494049-b9e78600-ded1-11e9-9416-dc08367cb935.png)

[2019-10-04 21:28] caitmuenster commented on #302
Here's the current plan for moving forward with this issue:

**Plan A**
_Note: this represents the "ideal" path forward and assumes that Color can use the theme that had been active prior to installing Color as the starting point for modifications._

1. User installs Color
2. [Onboarding modal](https://docs.google.com/presentation/d/1didhbY1yUYAXUaj3Vg2unMt-iDgK9FU4Kn7ceS8KHDo/edit#slide=id.g6039a

[2019-10-04 21:57] Errolyn opened #843 "Address bar is transparent when Firefox Color is enabled"
In the recent release of Firefox Nightly introducing the mega bar (71.0a1), when the Firefox Color add on is enabled the address bar search drop down becomes unreadable. The bug in bugzilla can be found: https://bugzilla.mozilla.org/show_bug.cgi?id=1586054

Cross posting for visibility.

[2019-10-04 22:22] caitmuenster commented on #843
Thanks for the heads up, @Errolyn! :) We'll keep our eyes on this in bug 1586054. I don't think the mega bar should be using the value of the URL bar. If the mega bar becomes its own customizable property, we'll see if we can add it to Color.

[2019-10-04 22:22] #843 closed

[2019-10-07 01:08] Shivansh2407 commented on #361
Can I please work on this issue and also please explain me from where should I start?

[2019-10-07 01:13] rebmullin commented on #302
@caitmuenster, thanks for the above:)

I have a few follow up questions:

1. Do you have the image for the paint brush icon - the center image in the last slide?

2. Regarding the "revert all" placement -
[](https://monosnap.com/image/ArnxnoqNugSZDXv2eHn3lbVzfepOzQ.png) - is this where we want to add this?

[2019-10-07 22:46] caitmuenster commented on #302
Yes! I grabbed it from [src / images / logo-white.svg](https://github.com/mozilla/FirefoxColor/blob/master/src/images/logo-white.svg). :)

Yeah, I think it makes sense to put it there! We can also use the Forget button from the [Photon style guide ](https://design.firefox.com/icons/viewer/#) for the button.

[2019-10-08 02:21] rebmullin commented on #302
🤦‍♀

thank you:) 👍

[2019-10-09 13:48] ankiiitraj commented on #266
Hi @Rob--W, I was working on this issue. Can you guide me. Where(Directory) can I find `componentDidMount` ?

[2019-10-09 13:51] ankiiitraj commented on #266
I have tried adding `document.addEventListener` on `/src/web/lib/components/Modal/index.js` and it is working fine.

[2019-10-09 13:57] Rob--W commented on #266
The "Terms & Privacy" UI is here: https://github.com/mozilla/FirefoxColor/blob/17a2fdacd04eefb45c27dc6910de0d089bcd6669/src/web/lib/components/TermsPrivacyModal/index.js

It uses the Modal class from: https://github.com/mozilla/FirefoxColor/blob/17a2fdacd04eefb45c27dc6910de0d089bcd6669/src/web/lib/components/Modal/index.js

As you can see in the implementation, it is basically a function that retu

[2019-10-10 17:15] tharun208 commented on #841
I like to work on this

[2019-10-10 17:19] caitmuenster commented on #841
Thanks for your interest, @tharun208! Rebecca is currently working on this issue.

Would you be interested in looking at [good-first-issues](https://codetribute.mozilla.org/) for other Mozilla projects?

[2019-10-10 17:22] tharun208 commented on #841
Yes, I am

[2019-10-10 23:55] rebmullin opened #845 "Create a static page so we can download dev and stage's xpi"
We should create a static page which links out from the "Get Firefox Color" btn on dev and stage only. This page will have links so that we can download the dev and stage xpis.

The I841 [fix](#842) only addressed the url for prod so this is a follow up for that. See more here:

https://github.com/mozilla/FirefoxColor/pull/842#discussion_r332041803

[2019-10-12 08:55] happysurf opened #846 "Dark icon"
In the Firefox addons dark page, the FirefoxColor icon is hard to see, will be great make a medium gray or something like that.

![Dark Icon2](https://user-images.githubusercontent.com/13637587/66698466-af552b00-ecde-11e9-99a2-421b9ceeb3f1.png)

[2019-10-14 04:32] ShivamRawat0l commented on #846
Can i work on this issue ?

[2019-10-14 06:21] happysurf commented on #846
For apply the dark theme set **browser.in-content.dark-mode** to **true** (default in Firefox 70 beta).

[2019-10-14 11:31] Softvision-AndreeaCupsa opened #847 "Images used in saved themes are wrongly removed after they are deleted from the “Custom backgrounds” section"
**[Affected versions]:**
- Firefox Nightly 71.0a1, Build ID: 20191013213650
- Firefox Beta 70.0b14, Build ID:20191013213650
- Firefox Release 69.0.3, Build ID: 20191009172106

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox Color add-on zip modified in order to link to the [stage](https://color.stage.mozaws.net/) website.
- Have the previous Fir

[2019-10-14 12:27] ShivamRawat0l commented on #846
Does this fix the issue ?

[2019-10-14 14:35] Softvision-AndreeaCupsa opened #849 "Images not used in saved/set themes are not cleared from the local storage space after closing a tab session"
**[Affected versions]:**
- Firefox Nightly 71.0a1, Build ID: 20191013213650
- Firefox Beta 70.0b14, Build ID:20191013213650
- Firefox Release 69.0.3, Build ID: 20191009172106

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox Color add-on zip modified in order to link to the [stage](https://color.stage.mozaws.net/) website.
- Have the previous Fir

[2019-10-14 14:38] Softvision-AndreeaCupsa opened #850 "Images used in saved/set themes are wrongly deleted when going over the maximum limit"
**[Affected versions]:**
- Firefox Nightly 71.0a1, Build ID: 20191013213650
- Firefox Beta 70.0b14, Build ID:20191013213650
- Firefox Release 69.0.3, Build ID: 20191009172106

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox Color add-on zip modified in order to link to the [stage](https://color.stage.mozaws.net/) website.
- Have the previous Fir

[2019-10-14 16:06] happysurf commented on #846
I think so if the color is #686868.

[2019-10-15 00:24] rebmullin commented on #847
hi @Softvision-AndreeaCupsa, thanks for the feedback:) So when the image is removed as you show above, it is known that it will no longer be available to the theme. @caitmuenster can confirm this but I think the hope is that the user will export their theme before deleting the image (also there is an upcoming feature which will hopefully address some of this I believe).
Also, removing the image al

[2019-10-15 00:29] rebmullin commented on #849
hmm @Softvision-AndreeaCupsa, yes typically you can remove the image from local storage if its saved to a theme but I see in this case that's not done so just thinking @caitmuenster, maybe we can remove any images from local storage is there is no theme.?

[2019-10-15 00:31] rebmullin commented on #850
thanks so much for the feedback. I will investigate..

[2019-10-15 10:11] Softvision-AndreeaCupsa opened #852 "The user is not informed that deleting an image used in a saved theme will also be deleted from the saved theme"
**[Notes]:**
- As this issue is not reproducible on the [production website](https://color.firefox.com) and existing users are already used that deleting an image used in saved themes from the “Custom backgrounds” section will not delete the image from the saved themes, this new behavior might seem like data loss.
- By informing the users that there is a new behavior when deleting an image used in

[2019-10-15 10:12] Softvision-AndreeaCupsa commented on #847
Thanks, @rebmullin , that seems understandable. However, as this behavior is not reproducible on the current production website, for a user that was used with deleting an image and it not being also deleted from a saved theme, it might seem like data loss.
In this case, we would recommend to at least notify the users that the image will also be removed from saved themes and ask if they want to pro

[2019-10-15 10:12] #847 closed

[2019-10-15 11:32] Rob--W commented on #846
I wonder whether we should add a contrasting color (i.e. a light color) around the black Firefox Color logo to make the icon dark theme-friendly.

[2019-10-15 12:40] Softvision-AndreeaCupsa opened #853 "A blank custom background item is wrongly displayed after pressing the “Undo” button if an image was previously deleted"
**[Affected versions]:**
- Firefox Nightly 71.0a1, Build ID: 20191013213650
- Firefox Beta 70.0b14, Build ID:20191013213650
- Firefox Release 69.0.3, Build ID: 20191009172106

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox Color add-on zip modified in order to link to the [stage](https://color.stage.mozaws.net/) website.
- Have the previous Fir

[2019-10-16 06:34] happysurf commented on #846
Same problem with other Mozilla add-on Side View, i think the best choice is follow the plugin page icon colors for activated / disactivated state.

![Icons](https://user-images.githubusercontent.com/13637587/66893983-a2427f80-efef-11e9-92bd-ec954e7f29cf.png)

[2019-10-17 02:52] ShivamRawat0l commented on #846
@Rob--W  @happysurf  Yes we could change the logo. Or we can also add support for theme icons in the firefox addon section.

[2019-10-18 20:08] caitmuenster commented on #849
@rebmullin That makes sense to me!

[2019-10-18 20:34] caitmuenster commented on #853
Thanks, @Softvision-AndreeaCupsa! @rebmullin, is it ok if I ask you to take a look at this?

[2019-10-18 23:22] caitmuenster commented on #852
One option would be to open a little dialogue box the first time a user clicks the "X" for delete. The dialogue would say, "Deleting this image will remove it from any saved themes you have. Do you want to proceed? [OK (in a blue box)]"

Or maybe we could add a little [notification button](https://design.firefox.com/icons/viewer/#s) (from the Photon style guide) next to the "X" and have the text s

[2019-10-20 01:10] rebmullin commented on #852
hey @caitmuenster :) So if you did want to go the notification icon route, would you want it to look like something like either of these:

<img src="https://monosnap.com/image/d4vylMZ6kZsc14kCIw1hgSqrZ2t5al.png" width="200"/>

OR

<img src="https://monosnap.com/image/sf9NEUEKnvPIPV7VnRh6nASNI4IrRC.png" width="200" />

I think the notification might be a little easier to implement but I'm thinking

[2019-10-20 18:34] caitmuenster commented on #852
Just chatted with @rebmullin -- we're dropping the notification icon. The first time a user clicks the "X", they'll get the notification. Once they accept, they will need to click the "X" again to delete the image. They won't get the notification for following "X"s.

[2019-10-27 07:54] ankiiitraj commented on #266
Hi, @Rob--W I was trying addEventListener and it worked fine. But on clicking key there is an increasing lag(freeze) of page after every key down.
I can't get why it is happening. Help me out. Thanks

[2019-10-28 19:45] Rob--W commented on #266
@ankiiitraj Could you show your current code that causes the issue that you're describing? You could create a branch, commit your code and submit a pull request. You will be able to update the pull request later (e.g. to process review feedback) by pushing more commits to the branch. Github will then automatically update the pull request if the branch has been updated.

[2019-10-28 19:52] ankiiitraj commented on #266
@Rob--W, I tried using `componentDidMount` but on doing this and then `npm start`, it says `compile failed`.

[2019-10-28 19:56] ankiiitraj commented on #266
@Rob--W I have made a PR. Can you please assign yourself as the Reviewer. Thanks

[2019-10-28 19:58] Rob--W commented on #266
It has probably failed due to a syntax error. Read the guides that I linked very carefully and try again. If you still see a failure, push your code to the branch and I'll review it.

Let's continue this conversation at your pull request, at https://github.com/mozilla/FirefoxColor/pull/859

[2019-10-30 17:38] #853 closed

[2019-10-30 21:31] #849 closed

[2019-10-30 23:08] caitmuenster commented on #302
This is currently blocked by https://bugzilla.mozilla.org/show_bug.cgi?id=1592831.

[2019-10-30 23:35] rebmullin commented on #302
hey @caitmuenster, do you still want me to update the onboarding slides or should we keep that update with this work?

[2019-10-31 00:10] caitmuenster commented on #302
@rebmullin Let's still update the onboarding slides and push them when they are ready. Once the Firefox bug is fixed, we can come back to the bits about reverting themes. :)

(Sidenote for anyone who is interested in contributing code to Firefox: bug [1592831](https://bugzilla.mozilla.org/show_bug.cgi?id=1592831) is a good first bug and @Rob--W is onboard to mentor it! Check out the bug for detail

[2019-11-01 02:32] rebmullin opened #860 "Update onboarding slides"
initially this was part of #302 but since resetting the theme is currently blocked, we've extracted out this piece.

REF: https://docs.google.com/presentation/d/1didhbY1yUYAXUaj3Vg2unMt-iDgK9FU4Kn7ceS8KHDo/edit#slide=id.g6039a93c3e_0_56

[2019-11-01 22:05] #860 closed

[2019-11-03 21:47] rebmullin commented on #146
hey @caitmuenster, I see a few places that I would consider "preview" so I wanted to verify that I am looking at the correct one. Can you please let me know if this is right:

![](https://monosnap.com/image/mC7VJT5Ovqi6apmdxxWNgAnbMIb4No.png)

[2019-11-03 22:07] rebmullin commented on #852
adding some extra notes here:

- this is the "sketch" that I got approval on:
https://monosnap.com/file/hFXIlr3y227xDKSVGYmWH5kiTHSjmg

- clicking either "okay" or "cancel" will prevent this modal from being seen again in the session

[2019-11-04 10:54] #266 closed

[2019-11-04 12:42] ankiiitraj commented on #780
Hi can I have this issue in my bucket. Can you please assign me this issue. Thanks

[2019-11-04 20:45] caitmuenster commented on #146
@rebmullin Yes, let's definitely start there!

I'm not sure if the power users had any other feedback about this; I'm going to reach out and ask them. I'll add another comment when I've heard back from them.

[2019-11-04 23:18] #850 closed

[2019-11-04 23:41] caitmuenster commented on #780
Hi @aniketkudale! We're not prioritizing compatibility with Safari at the moment. If you'd like to open a PR to fix it, we'll try to give it a look (we might be a little slow -- we have tight scope and limited resources for this project). Once the PR is in good shape and ready to be merged, we'll assign you to the issue. :)

[2019-11-06 23:18] raymondpittman commented on #780
How do I assign it  @ankiiitraj

[2019-11-07 11:44] abarisain opened #863 "Light/Dark Palette"
Hello,

There is one feature I really like with Firefox's default them, is that it changes based on my system's light/dark mode.

Unfortunately the browser doesn't let you specify separate light and dark themes when using third party ones.

I think Firefox Color could come in handy here: I'd like to tweak some colors, and use a different palette when going in dark mode, with toned down variants. T

[2019-11-08 22:58] caitmuenster commented on #146
I didn't hear any additional feedback from the power theme users, so we can focus on scaling the image in the preview bar mentioned in the [comment above](https://github.com/mozilla/FirefoxColor/issues/146#issuecomment-549182370). :)

[2019-11-11 18:02] #852 closed

[2019-11-12 08:47] ankiiitraj commented on #780
Report : I have tested the same on Firefox and Chrome and it works fine. As I was not able to find Safari for Ubuntu I am not able to check what is causing the problem.

[2019-11-12 16:34] ankiiitraj opened #866 "Shared Theme Link overrides present theme by default theme."
If you open link of shared theme which you are already using, the present theme is replaced by some other default theme.

Steps to reproduce:
- Open color.firefox.com and click on share then copy the link.
- Open the copied link

![Peek 2019-11-12 21-32](https://user-images.githubusercontent.com/48787278/68690516-26a90380-0598-11ea-9fea-88e9f38b3071.gif)

[2019-11-12 17:02] ankiiitraj commented on #866
I want to solve this issue, Can anyone please provide me some hints.

[2019-11-12 22:39] caitmuenster commented on #866
Thanks @ankiiitraj, this one is interesting. @Rob--W, is this issue appropriate for a `good-first-bug` label?

[2019-11-25 19:44] LarnuUK opened #869 "Firefox 70 Breaks Firefox Color Custom backgrounds"
This is a post I made on [bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1590646), but was closed as a duplicate, saying that Firefox 70 deprecated Firefox color. This seems very unlikely, considering that if it was, then the add on should no longer be shipped with Firefox 70 (which it is).

On Windows (1903 when I made the post, but now 1910), the top area is white, missing the background

[2019-11-25 20:59] nt1m commented on #869
@LarnuUK Have you tried updating Firefox Color? (Add-ons manager -> menu -> "Check for updates")

[2019-11-25 21:00] Rob--W commented on #869
Is Firefox Color at the latest version? It sounds like you're using an old version. The current version is [2.1.5](https://addons.mozilla.org/en-US/firefox/addon/firefox-color/versions/2.1.5/), which is designed to be compatible with old and new versions of Firefox, including support for previously saved themes.

[2019-11-25 21:05] LarnuUK commented on #869
It should be up to date as I have automatic updates on, however, I will verify when I'm at the office tomorrow.

[2019-11-26 15:21] LarnuUK commented on #869
Oddly, no, it's not up to date and when clicking update it says there are no updates available. explains why it's not working, but odd that it isn't updating. I'll have a look, but if anyone know where I can manually download the files for the extention, that'll be great.

Thanks.

[2019-11-26 15:25] Rob--W commented on #869
@LarnuUK Could you open your profile directory and attach the extension here (or mail it to me)? Then I can tell what's happened. Please don't update yet, I want to know if there is a bug that we need to fix.

You can find the profile directory at `about:profiles` . There should be a directory called "extensions", and inside there should be something like `FirefoxColor@mozilla.com.xpi`

[2019-11-26 15:33] LarnuUK commented on #869
Think I might have homed in on it here, actually, @Rob--W . Looks like that Firefox has "recently" been classified as "freeware" by our firewall vendor, and so http://firefox.com and it's respective subdomains are being blocked. After a little testing, I've also noticed that Firefox itself is failing to check for updates (and is stuck at 70.0.0). There's quite a few of us that use Firefox in the o

[2019-11-26 15:38] Rob--W commented on #869
That sounds quite likely the cause of the problem. And it is indeed a big security risk at the part of your office.

I'll close this bug since there is probably not anything actionable for us, but if you have any more information, do feel free to add a comment and I'll see it.

[2019-11-26 15:38] #869 closed

[2019-11-26 15:39] LarnuUK commented on #869
Thanks Rob, I'll confirm either way.

[2019-11-26 15:41] Rob--W commented on #869
Could you also send the details (maybe by mail) of the firewall that causes the issue? If this affects more people than just your office, I think that the knowledge may be useful to other people at Mozilla.

[2019-11-26 19:14] LarnuUK commented on #869
Brand we use is SonicWall, @Rob--W . I can get try to get more details and email them across at a later date, if that helps.

[2019-12-02 14:59] dcormier commented on #740
I think this is no longer the case. With the built-in dark theme active, the default tab page has a black background.

[2019-12-02 15:15] harogaston commented on #740
Only as long as you don't enable Firefox Color. Exactly the reason why this is still an issue.

[2019-12-05 20:55] zynexiz commented on #740
This is still the case. I have both dark theme and this plugin active. Front page is still white.

[2019-12-05 21:06] zynexiz commented on #863
Not sure if this is doable. Firefox ships on multiple OS, that use different methods regarding coloring theme. You have Windows, Mac, and a number of diffrent Linux distros which use primarily GTK or QT-framwork. I don't think the addons have access to the OS directly either (huge security risk).

[2019-12-05 21:14] zynexiz commented on #837
Isn't this behavior expected when using this kind of addons while it's enabled? If the addon is disables, the original theme will be used. Manually having to apply the colors I want every time I start Firefox is not very user friendly.

[2019-12-05 21:15] AT2025 opened #871 "Firefox Color broken on Firefox 72.0b1"
Firefox Color is broken on Firefox Developer 72.0b1 and newer, including beta and nightly channels. The background color is missing regardless of whichever color you choose for your theme. Instead, it's clear (on W7) and causes non-active tabs to be clear as well, with only their text color coming through. Firefox Color was patched this past summer to address a similar issue that affected Firefox

[2019-12-05 21:20] abarisain commented on #863
You'd just need to swap defined colorsets based on light dark

The open web already has an API for this: https://developer.mozilla.org/fr/docs/Web/CSS/@media/prefers-color-scheme

[2019-12-05 21:24] harogaston commented on #863
He just said Firefox DOES IT ALREADY for the deafult theme, so it is doable.

[2019-12-05 21:33] zynexiz commented on #863
And, as he stated, third part ones doesn't. The built in themes are a part on Firefox itself. Firefox Color isn't a theme, it's a addon, hence not the same thing. What addon's can and can't do isn't up to the developer, it depends on the API. If there is a API for detecting light/dark mode it's doable, otherwise it's not.

[2019-12-05 21:33] caitmuenster commented on #871
Thanks @AT2025. I was able to replicate this using a non-default profile on Beta 72.0b2, but after adding and removing the extension a couple of times it started working again. I'm not sure what happened. :/ Do you want to try that and see if the issue persists?

It did work as expected for me on Nightly 73.0a1 and on my default profile for Beta 72.0b2.

[2019-12-05 21:44] caitmuenster commented on #863
Hey ya'll, no need for all caps. :) We do want to give people the ability to tweak their current themes using Firefox Color (#302). This is currently blocked by https://bugzilla.mozilla.org/show_bug.cgi?id=1592831. If any of ya'll are interested in contributing code to Firefox, the blocker is considered a good-first-bug and we'd be able to mentor submitted patches.

[2019-12-05 21:50] abarisain commented on #863
Hi!
Thanks for your reply.

I do see the point of that bug, but I'm not sure it's actually what this needs.

Please allow me to rephrase my issue: I would be interested in tweaking the default light/dark theme, so I guess this issue being fixed would allow me to override some colors. But, what I'd actually like is to be able to have two sets of overrides: one for light mode, one for dark mode.

My

[2019-12-05 21:58] zynexiz commented on #863
I'm not sure if this affect all systems, but it seems that FF don't detect that I use dark theme in KDE. But I found a setting that manually forced FF to "go dark". I added ui.systemUsesDarkTheme in about:config, and set the value to 1. Probably not the issue here, but might be god to know :)

[2019-12-05 22:51] AT2025 commented on #871
Great. Just to be clear, do I go to the extension page and remove/install or must I restart my browser after each install/removal?

[2019-12-05 22:54] caitmuenster commented on #871
It worked for me by removing it from `about:addons` without restarting the browser.

@Rob--W, would you be able to help investigate this? I know there are some outstanding issues with colors in Dev Edition but I'm not sure if those are related.

[2019-12-05 23:04] AT2025 commented on #871
Sorry, I can't replicate your fix on the latest versions of Developer, Beta or Nightly. All it does is apply a pattern atop the aero glass. Beta and Nightly were working correctly before they did their autoupdate yesterday. After that, more aero than color.

[2019-12-05 23:10] caitmuenster commented on #871
@AT2025 Good to know! We'll try to figure out what's going on and hopefully we'll have a fix soon.

[2019-12-05 23:22] AT2025 commented on #871
Thanks. Looking forward to that. Kind of surprise no one else has piped up about it but I suspect people aren't totally aware of the extension.

[2019-12-06 10:48] Rob--W commented on #871
Could you describe more precisely how I can reproduce this bug?

In case I'm unable to reproduce, could you also attach screenshots of the expected and actual result?

[2019-12-06 19:54] AT2025 commented on #871
It's quite simple. If you load up the configuration tool for Firefox Color, and refer to the second tab at the bottom, you've given custom color slots. Correct? Yes.

The third slot which is for "Background Color" refers to the area above the tabs. This goes above/behind the "Toolbar Color." Ever since this was released, this being the extension, this is how it worked. It works in 71.0 Stable, it

[2019-12-15 23:58] erayerdin opened #873 "Color by Domain"
It would be nice to have Firefox change color specific to particular domains. For instance, blue dominant color scheme for Facebook, purple dominant color scheme for Instagram etc.

[2019-12-16 08:50] AT2025 commented on #871
Any updates?

[2019-12-16 22:29] caitmuenster commented on #873
Hey @erayerdin, that sounds like it would be really useful! That's a little outside of the scope of Firefox Color but you may be able to find an extension solves that issue on addons.mozilla.org or by asking the community on our [forums](https://discourse.mozilla.org/c/add-ons).

[2019-12-16 22:29] #873 closed

[2019-12-21 20:18] VanessaMeier opened #874 "Firefox 71.0 (64-Bit)"
Hi,
I installed FirefoxColor and created a new theme.
Now I wanted to make a change to this theme, which unfortunately is not possible because I can no longer access Firefox Color - not via the (Firefox-) Icon of FirefoxColor or the Add-on page, and even the website is no longer displayed to me - everything I see (for all!) ia a blank white page.

[2020-01-06 08:45] JanviMahajan14 commented on #505
hey @caitmuenster i would like to work on this issue. Could you please guide me how to implement this.

[2020-01-09 12:55] Softvision-AndreeaCupsa opened #876 "The “Deleting this image...” notification is no longer displayed after being dismissed by clicking the “Ok” or “Cancel” button"
**[Affected versions]:**
- Firefox Nightly 72.0.1, Build ID:  20200107212822
- Firefox Beta 73.0b2, Build ID:  20200107212705
- Firefox Nightly 74.0a1, Build ID: 20200108215606

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Affected versions]:**
- Firefox Nightly 72.0.1, Build ID:  20200107212822
- Firefox Beta 73.0b2, Build ID:  20200107212705
- Firefox Nightly 74.0a1, Build I

[2020-01-09 13:10] Softvision-AndreeaCupsa commented on #853
I have verified this issue and is no longer reproducible using the production xpi (version 2.1.5) linked to the stage server on Firefox Release 72.0.1 (Build ID:20200107212822), Firefox Beta 73.0b2 (Build ID: 	20200107212705) and Firefox Nightly (Build ID: on Windows 10 x64, Mac 10.14.6 and Ubuntu 18.

[2020-01-09 13:12] Softvision-AndreeaCupsa commented on #850
I have verified this issue and is no longer reproducible using the production xpi (version 2.1.5) linked to the stage server on Firefox Release 72.0.1 on Windows 10 x64, Mac 10.14.6 and Ubuntu 18.

[2020-01-09 13:12] Softvision-AndreeaCupsa commented on #849
I have verified this issue and is no longer reproducible using the production xpi (version 2.1.5) linked to the stage server on Firefox Release 72.0.1 on Windows 10 x64, Mac 10.14.6 and Ubuntu 18.

[2020-01-09 13:21] Softvision-AndreeaCupsa commented on #876
Closing this issue as I missed some [comments](https://github.com/mozilla/FirefoxColor/issues/852#issuecomment-544279235) from issue #852 and it seems intended.

[2020-01-09 13:21] #876 closed

[2020-01-09 13:26] Softvision-AndreeaCupsa commented on #852
I have verified this issue and is no longer reproducible using the production xpi (version 2.1.5) linked to the stage server on Firefox Release 72.0.1 on Windows 10 x64, Mac 10.14.6 and Ubuntu 18.

[2020-01-09 13:33] Softvision-AndreeaCupsa opened #877 "First image added after randomizing a theme is not added to the theme and local storage"
**[Affected versions]:**
- Firefox Nightly 72.0.1, Build ID:  20200107212822
- Firefox Beta 73.0b2, Build ID:  20200107212705
- Firefox Nightly 74.0a1, Build ID: 20200108215606

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox Color add-on zip modified in order to link to the stage website.
- Have the previous Firefox Color add-on installed throu

[2020-01-09 14:03] ValentinaPC opened #878 "Notification message does not point to “Share” button at click"
[Affected versions]:
Firefox Nightly 74.0a1

[Affected Platforms]:
All Windows
All Mac
All Linux

[Prerequisites]:
Have a new Firefox profile with the latest version of the "Firefox Color" add-on

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Navigate to color.firefox.com   and install Firefox Color add-on
3. Click on “Share” button from top right side of the pa

[2020-01-09 14:39] Softvision-MariusComan opened #879 "A previously deleted image is no longer applied to the browser theme after pressing the "Undo" button"
**[Affected versions]:**
- Firefox Release 72.0.1 - Build ID: 20200107212822
- Firefox Beta 73.0b2 - Build ID: 20200107212705
- Firefox Nightly 73.0a1 - Build ID: 20200108215606

**[Affected Platforms]:**
- Windows 10 x64
- Mac 10.15.2
- Ubuntu 18.04 x64

**[Prerequisites]:**
- Have a Firefox Color add-on zip modified in order to link to the [stage](https://color.stage.mozaws.net/) website.
- Have

[2020-01-09 14:42] Softvision-MariusComan opened #880 "A blank custom background item is wrongly displayed after pressing the “Undo” button if an image was previously deleted and another theme applied"
**[Affected versions]:**
- Firefox Release 72.0.1 - Build ID: 20200107212822
- Firefox Beta 73.0b2 - Build ID: 20200107212705
- Firefox Nightly 73.0a1 - Build ID: 20200108215606

**[Affected Platforms]:**
- Windows 10 x64
- Mac 10.15.2
- Ubuntu 18.04 x64

**[Prerequisites]:**
- Have a Firefox Color add-on zip modified in order to link to the [stage](https://color.stage.mozaws.net/) website.
- Have

[2020-01-10 12:39] ValentinaPC opened #881 "Last page of "Saved themes" tab is not removed after you delete all listed themes"
**Affected versions:**
Firefox Nightly 74.0a1 - Build ID 20200109213942

**Affected Platforms:**
All Windows
All Mac
All Linux

**Steps to reproduce:**
1. Navigate to color.firefox.com
3. Have in "Saved themes" tab, more than 3 pages. (an easy way to do this is to randomly generate and save themes)
4. Navigate to last page and delete all themes from that page.

**Expected results:**
User is redire

[2020-01-10 17:57] caitmuenster commented on #505
Hi @JanviMahajan14, sorry for the late response! This just got taken care of. :)

We have limited resources for this project and unfortunately aren't in a good position to mentor good-first-bugs. Would you be interested in any good-first-bugs for one of Mozilla's [other projects](https://codetribute.mozilla.org/)? You can also find some good-first-bugs for our add-ons platform projects [here](http

[2020-01-10 17:57] #505 closed

[2020-01-14 15:30] ValentinaPC commented on #505
I have verified this issue and is no longer reproducible using the production .xpi (version 2.1.5) linked to the Stage server on Firefox Nightly (Build ID: 20200114094410), Firefox Beta 73.0b4 (Build ID: 20200112220634) and Firefox Release 72.0.1 (Build ID: 20200107212822) for Windows 10 x64, Mac 10.14.6 and Ubuntu 16.

[2020-01-21 23:10] #841 closed

[2020-01-21 23:11] #586 closed

[2020-01-27 01:10] #820 closed

[2020-01-29 04:44] co16353sidak opened #883 "Style: the pop-up styling ui looks too intrusive"
I love this new tool with which I can customise my firefox instance using my colour preferences and et al.
A certain issue that I came across is that the popup UI looks too intrusive to me, the way it is designed it appears intrusive and the user ends up clicking on the pop-up button thinking it will pop back in.
This could cause problems for people (like me) who have OCD or issues with a pop-up o

[2020-02-04 22:27] jtagcat commented on #740
Related: https://support.mozilla.org/en-US/questions/1279034

[2020-02-13 07:27] happysurf opened #885 "New Megabar is not themed"
The new Megabar active by default from Firefox 74beta+ is independent from FirefoxColor theme system, this is a very a bad news.
At moment I have solved this problem with this code in userchrome.css:

[code]

Any plans to embed megabar on FirefoxColor?

[2020-02-13 15:32] Softvision-MariusComan opened #886 "The "Save" button is wrongly active and actionable if a previously saved theme is clicked"
**[Affected versions]:**
- Firefox Release 73.0 - Build ID: 20200207195153
- Firefox Beta 74.0b2 - Build ID: 20200211200559
- Firefox Nightly 75.0a1 - Build ID: 20200213035745

**[Affected Platforms]:**
- Windows 10 x64
- Mac 10.15.2
- Ubuntu 18.04 x64

**[Prerequisites]:**
- Have the latest version of the Firefox Color add-on modified in order to link to the [stage](https://color.stage.mozaws.net

[2020-02-17 08:52] ValentinaPC opened #887 "[Intermittent] “Back” action from any page loaded in the same tab generates an “apply theme” popup"
**[Affected versions]:**
- Firefox Release 73.0 Build ID 20200207195153
- Firefox Beta 74.0b4 Build ID 20200216164042
- Firefox Nightly 75.0a1 Build ID 20200216210001

**[Affected Platforms]:**
- Windows 10
- Mac 10.14
- Linux Ubuntu 16.04

**[Prerequisites]:**
- Have the Firefox Color extension installed

**[Steps to reproduce]:**
1. Load firefox.color.com page.
2. Go to “Preset themes” and pick

[2020-02-17 17:10] ManishAradwad commented on #334
Just tried reproducing this issue but falied to do so. Looks like it has been resolved. Can somebody confirm...

[2020-02-17 17:14] Rob--W commented on #885
What theme are you using? When I change "Search Bar Color" at https://color.firefox.com/ , then the (expanded) megabar has the expected color.

[2020-02-17 17:15] ManishAradwad commented on #275
Hey! I'd love taking this up. Could you plz point me in some direction to begin??

[2020-02-17 17:17] Rob--W commented on #883
Hi @co16353sidak, thanks for your report. I think that it we should either shrink the panel or increase the minimum size of the gap between the "location bar" and the theme generator below.

If you're interested, I'm willing to mentor you on the implementation of the fix.

[2020-02-17 17:30] Rob--W commented on #334
I can still reproduce the bug.

[2020-02-17 17:48] Rob--W commented on #275
This has already been implemented.

The UX of the other suggestions (re-ordering themes) does not look that friendly to me. I think that adding a border around the active theme (or other form of visual emphasis) looks better, and it's also easier to implement.

The React component that is responsible for rendering these theme blocks is implemented at https://github.com/mozilla/FirefoxColor/blob/21

[2020-02-18 13:06] happysurf commented on #885
With my theme Solarize Fox (exported by FirefoxColor addon) https://addons.mozilla.org/en-US/firefox/addon/solarize-fox/ the drop down menu is black.

[2020-02-18 13:08] co16353sidak commented on #883
@Rob--W thank you for the response,
Would love to work on this, please advise on which files to start working on so that i can send a PR with the changes asap. :tada: :100:

[2020-02-18 16:30] Rob--W commented on #885
Your theme has the following "Search Bar Color" declaration:
[code]

That is... black with 66% transparency. It is rendered as expected - in Firefox Nightly 74.0a1 buildID 20200206093813 (see `about:support`) the megabar has a dark background with your theme.

[2020-02-18 16:39] Rob--W commented on #883
To find what you need to change, use the browser's devtools to inspect the document. Then you can find elements (and their class names) of interest.

The popup is only visible when the extension is installed: https://github.com/mozilla/FirefoxColor/blob/31019674c050dd46ccaf6889108a408e1fa55328/src/web/lib/components/App/index.js#L129

When the extension is installed, the installation banner is not

[2020-02-19 13:03] SoftVision-CarmenFat opened #888 "The tooltips of the Warning icon next to the uploaded image are incorrect after trying to upload incompatible files"
[Affected Platforms]:
- Windows 10 x64
- Ubuntu 16.04 x64
- macOS 10.14

[Affected Versions]:
- Firefox Nightly 75.0a1 (2020-02-19) Build ID 20200219095352
- Firefox Beta 74.0b5 , Build ID 20200218224219
- Firefox Release 73.0.1 Build ID 20200207195153

[Prerequisites]:
- Have the latest version of the Firefox Color add-on modified in order to link to the stage website.
- Have the previous Firefox

[2020-02-19 13:38] SoftVision-CarmenFat commented on #881
- After investigating this issue more, we noticed that if the user has only 2 pages containing saved themes and deletes the themes from the second page, the navigation buttons are no longer displayed.
- Just switching between the Color tabs and focusing the "Saved themes" back doesn't bring back the navigation buttons, nor the first page with the remaining saved themes.
- The remaining page with t

[2020-02-21 11:19] happysurf commented on #885
OK, I have rewrite my theme for fix the problem.
Thanks.

[2020-02-21 11:19] #885 closed

[2020-02-27 13:59] #361 closed

[2020-03-05 23:37] Je-ni commented on #335
Hi, I would like to work on this issue if it's not been resolved. I'm from Outreachy.

[2020-03-06 21:29] caitmuenster commented on #335
Hi @Je-ni, welcome! @Rob--W can help mentor this bug.

[2020-03-08 18:44] Rob--W commented on #335
Although I cannot reproduce the original issue, there are still bugs with the "Privacy" link.

When I follow the steps to reproduce, the Firefox Color page is opened in a new tab (because opening a link in a new tab is the default behavior for mouse-wheel-clicking on a link), but there is no information about the privacy policy. This should be fixed by treating middle-mouse click as a left-click (

[2020-03-09 20:55] Je-ni commented on #335
Hi, I keep getting this error on npm start:
`ERROR in ./src/images/onboarding.png
    Module build failed (from ./node_modules/image-webpack-loader/index.js):
    Error: 'C:\Users\CHIDERA\Desktop\FirefoxColor\node_modules\pngquant-bin\vendor\pngquant.exe' is not recognized as an internal or external command,
    operable program or batch file.`

I'm using Windows 10.

[2020-03-10 18:47] Rob--W commented on #335
How did you set up your local development environment? Simply `npm install` ?

[2020-03-10 20:34] Je-ni commented on #335
Yes. I did npm install then npm start. Then I kept getting errors about several commands not being a recognized command. I had to start installing each of those modules individually. Till I got to the one above.

[2020-03-10 21:45] Rob--W commented on #335
It sounds like your local setup went wrong. What are the versions of `node` and `npm` that you are using? What shell are you using?

If you are stuck, could you try removing the `node_modules/` directory, run `npm install` again, and share the full output? Either by attaching it as a file here, or by mailing it to me.

[2020-03-11 17:32] Je-ni commented on #335
Hello @Rob--W I sent a PR for this issue here #897

[2020-03-15 20:29] rebmullin commented on #277
hey @caitmuenster, I could no replicate this issue. would you or QA like to confirm this before closing this?

[2020-03-15 20:32] rebmullin commented on #636
I *believe* we can close this one too. I believe #842 helps address this issue.

// cc @caitmuenster

[2020-03-15 20:36] rebmullin commented on #281
it seems the ui has changed a bit since this issue was opened. IMO this is okay currently and we can close this.

// cc @caitmuenster

[2020-03-16 13:10] #636 closed

[2020-03-16 17:13] #335 closed

[2020-03-16 21:11] #879 closed

[2020-03-17 07:07] Je-ni commented on #878
Helo, I want to work on this issue but I noticed that the version I pulled from master is not the same as that on the website [Here](https://color.firefox.com). My local copy doesn't have the export button. Please help.

[2020-03-17 13:04] Rob--W commented on #878
The Export button is only visible when the extension is installed:
https://github.com/mozilla/FirefoxColor/blob/31019674c050dd46ccaf6889108a408e1fa55328/src/web/lib/components/AppHeader/index.js#L149-L155

The `hasExtension` flag is set here, in response to messages from the extension: https://github.com/mozilla/FirefoxColor/blob/a43d5c66c7dc6f644f4e42e6a53ed1df9e19f099/src/web/index.js#L180

To s

[2020-03-17 14:21] Je-ni commented on #878
It seems the content of the tree you referenced is different from that of the master branch.
https://github.com/mozilla/FirefoxColor/blob/41ef6ef3a25897c347e1912800ac7275c6a98c65/package.json#L21

[2020-03-17 14:52] Rob--W commented on #878
The contents of the line that I referenced is still on the master branch: https://github.com/mozilla/FirefoxColor/blob/a43d5c66c7dc6f644f4e42e6a53ed1df9e19f099/package.json#L48

I'm intentionally including the specific revision, so that even if the file changes, the intended content is still shown.

PS. In case you're wondering about which branch is used for the production website, see https://git

[2020-03-17 21:47] Je-ni commented on #878
Hello @Rob--W, please assign this task to me. I've gotten it setup.

[2020-03-17 21:59] caitmuenster commented on #878
Hey @Je-ni! Once you submit a PR we'll assign this issue to you. :)

[2020-03-17 22:19] Je-ni commented on #878
Please review the PR.

[2020-03-17 22:49] Je-ni commented on #883
hello, @co16353sidak are you still working on this? I'd love to work on it if you're not.

[2020-03-19 22:02] caitmuenster commented on #281
@rebmullin I wasn't able to reproduce this. I'm ok with closing it.

[2020-03-19 23:10] caitmuenster commented on #277
Thanks @rebmullin! I also wasn't able to reproduce this. I think it's ok to close.

[2020-03-19 23:38] #281 closed

[2020-03-20 02:08] #277 closed

[2020-03-21 09:52] GeekBoySupreme commented on #883
Would love to help out with this if you need any help @co16353sidak

[2020-03-21 09:54] GeekBoySupreme commented on #804
To implement this, we would have to go through and change the fundamentals in which the theme colors are ingested.
Is anyone working on this?
I would love to help out here.

[2020-03-21 11:18] Rob--W commented on #883
Hi @co16353sidak There has been interest from others in this bug. Could you let us know if you still intend to work on this?

If not, then I'd like to give the bug to either @Je-ni or @GeekBoySupreme .
If you don't reply by Monday, this bug will be open for others again.

[2020-03-21 11:20] Rob--W commented on #804
There is already an export button to export as extension. There is also a Share button to generate a link to share themes.

Because the requested features are already available, I'll close this issue.
If you still feel that something is missing, let me know and I'll reconsider.

[2020-03-21 11:20] #804 closed

[2020-03-22 18:39] rebmullin commented on #302
looks like bug [1592831](https://bugzilla.mozilla.org/show_bug.cgi?id=1592831) is fixed. I am unblocking this :)

[2020-03-22 19:38] rebmullin commented on #285
Seems like this is an older version of FF color. @caitmuenster ,ok to close this one?

[2020-03-22 23:32] #877 closed

[2020-03-22 23:32] #886 closed

[2020-03-23 22:53] caitmuenster commented on #285
@rebmullin Yeah, this one is good to close!

[2020-03-23 22:53] #285 closed

[2020-03-24 05:39] GeekBoySupreme commented on #883
Hey @Rob--W, any update on this issue here?

[2020-03-24 11:17] anuragakella commented on #866
Hey, I'd like to contribute to this. Can someone guide through?

[2020-03-25 03:32] ankiiitraj commented on #866
Hi I'm not current working on this you can take on. Thanks

[2020-03-25 07:47] anuragakella commented on #866
Hey, cool I'd love to work on it, but can someone guide me? @Rob--W, @caitmuenster ..

[2020-03-25 09:38] Je-ni commented on #880
I have noticed that the `componentDidUpdate` function https://github.com/mozilla/FirefoxColor/blob/cb5a6437739569629b315b895e6c0f2f1d612a3c/src/web/lib/components/ThemeCustomBackgroundPicker/index.js#L39 is not run when the undo button is clicked outside focus on the Custom Background tab. Thus, the image is not added back to the Local Storage.

Now, I'm confused as to where to approach this resol

[2020-03-25 19:11] Rob--W opened #907 "Incorrect SITE_URL value is used when the website is built"
STR:

1. View the source of https://color.firefox.com/ or https://color.stage.mozaws.net/

Expected:
- Any reference to external resources should point to the site itself, i.e. color.firefox.com or color.stage.mozaws.net.

Actual:
- `localhost:8080` is used instead:

[code]

The site is built via the `npm run build` call at https://github.com/mozilla/FirefoxColor/blob/cb5a6437739569629b315b895e6c0

[2020-03-25 19:18] Rob--W commented on #845
Were you planning to work on this @rebmullin ? To test the current master, I wanted to push it to the `development` branch to update gh-pages, but that did not work because in the current build process, there is an attempt to sign the add-on: https://github.com/mozilla/FirefoxColor/blob/cb5a6437739569629b315b895e6c0f2f1d612a3c/package.json#L60

The fix is to not sign the add-on, but to build an un

[2020-03-25 21:31] Rob--W commented on #866
This was not marked as good first bug, but if you're willing to debug the issue I'm willing to mentor it. The first step is to set up a development environment (the README shows how to do that). After that you can dive into this bug.

The web page is designed to work with and without extension. To communicate between the web page and the extension, the `window.postMessage` API is used. When the ex

[2020-03-26 00:48] narFnarF opened #909 "Exported themes cannot be re-imported"
After making a theme with Firefox Color and exporting it to zip or xpi, the exported file cannot be re-imported in Firefox (for example: to bring it to another computer or share with friend)

Steps to reproduce
1. Install the Firefox Color extension
1. Use the Random button to make a new theme
1. Click export
1. Name the theme
1. Click to download both the zip and the xpi files
1. In Firefox, go t

[2020-03-26 04:30] anuragakella commented on #866
Hey, thanks for the response!

Yes, I already built the code when I first saw this bug, and I was able to get it to run locally.
My first idea was to fetch the current theme and re-set it, every time the front end is loaded.
But your idea sounds better!

I managed to consistently reproduce the bug, [10/10 times], using these steps:
1. Set a theme from the theme presets
2. Copy the share link for t

[2020-03-26 17:17] anuragakella commented on #866
Hey, @Rob--W I think I fixed the bug!

For the code here:
https://github.com/mozilla/FirefoxColor/blob/a43d5c66c7dc6f644f4e42e6a53ed1df9e19f099/src/web/index.js#L153-L157

First, I followed your suggestion and after a few changes I added an if condition:
Now the same lines look like:
[code]
Since the bug occurs only when a shared link is opened, I decided to add a flag and check if the current pag

[2020-03-26 22:13] Rob--W commented on #909
Does it work if you load it as an unpacked extension from `about:debugging`? If so, then the package is fine, but it's just that Firefox does not allow unsigned add-ons to be installed, for security reasons.

To fix that, you need to submit the theme to https://addons.mozilla.org . see the "Developer Hub" to learn more - https://addons.mozilla.org/en-US/developers/ .

If you want to share the them

[2020-03-26 22:18] Rob--W commented on #883
@GeekBoySupreme Sidak hasn't responded yet, so feel free to take over the bug. I think that Je-ni wouldn't mind since she has other bugs to work on :)

[2020-03-26 22:22] GeekBoySupreme commented on #883
Sure thing.

[2020-03-27 01:34] rebmullin commented on #845
hey @Rob--W,

yes I still plan to work on this :) Sorry for the delay and that this is blocking the dev deploy. I posted a PR - #912 - which I am hoping can be an interim fix 🤞

Regarding this static page. I have a few questions:

1. you suggested linking out to the build urls but I am not sure - what would be the URLS for each env. I guess that's not too clear to me.
2. where would this page live

[2020-03-27 12:41] Rob--W commented on #845
For stage and prod, the URLs are here: https://github.com/mozilla/FirefoxColor#build-test-and-publish-add-on
These names are defined here:
https://github.com/mozilla/FirefoxColor/blob/c55fc2cad3ebe8591433082a2a255141f21c170c/package.json#L45-L46

There is no development name yet, but I was thinking of "firefox-color-dev-unsigned.xpi"

Something like `build/web/testing.html` (from `src/web/`?). It

[2020-04-01 00:28] narFnarF commented on #909
Ah yes, I see now.

I tried using `about:debugging` and it did work.

So I guess I just misunderstood.

[2020-04-02 11:48] Softvision-MariusComan commented on #335
I have verified that this issue is no longer reproducible with the latest version of the "Firefox Color" add-on (2.1.5) installed. Verified on Windows 10 x64, Ubuntu 18.04.1 x64 and Mac 10.15.4 with the latest Firefox Release (74.0 Build ID: 20200309095159) and Firefox Nightly (76.0a1 - Build ID 20200401212659) installed.

[2020-04-02 13:31] Softvision-MariusComan commented on #879
I have verified that this issue is no longer reproducible on the "https://mozilla.github.io/FirefoxColor/" website using the latest version of the "Firefox Color" add-on (2.1.5). Verified on Windows 10 x64, Ubuntu 18.04.1 x64 and Mac 10.15.4 with the latest Firefox Release (74.0 Build ID: 20200309095159) and Firefox Nightly (76.0a1 - Build ID 20200401212659) installed.

[2020-04-02 13:32] Softvision-MariusComan commented on #886
I have verified that this issue is no longer reproducible on the "https://mozilla.github.io/FirefoxColor/" website using the latest version of the "Firefox Color" add-on (2.1.5). Verified on Windows 10 x64, Ubuntu 18.04.1 x64 and Mac 10.15.4 with the latest Firefox Release (74.0 Build ID: 20200309095159) and Firefox Nightly (76.0a1 - Build ID 20200401212659) installed.

[2020-04-02 13:34] Softvision-MariusComan commented on #281
I can confirm that this issue is no longer reproducible since the UI has been changed. Considering this I am marking this issue as VERIFIED.

[2020-04-02 14:25] SoftVision-CarmenFat commented on #888
- This issue is still reproducible with the latest version of the "Firefox Color" add-on (v.2.1.5) installed, on the latest Firefox Nightly 76.0a1 (2020-04-02) using both Dev and Stage servers.
- Considering this I am reopening the issue.

[2020-04-03 06:15] ValentinaPC commented on #878
I have verified the issue, and it is **still reproducible**, using Firefox Nightly 76.0a1 ( Build ID20200402095145) on -stage (https://color.stage.mozaws.net/) and -dev (https://mozilla.github.io/FirefoxColor/) by updating the add-on to point to these environments in Windows, Mac and Linux.

The Share notification message, still points to “Random” button.

![share](https://user-images.githubuserco

[2020-04-03 06:16] ValentinaPC commented on #881
I have verified the issue, and it is still reproducible, using Firefox Nightly 76.0a1 ( Build ID20200402095145) on -stage (https://color.stage.mozaws.net/) and -dev (https://mozilla.github.io/FirefoxColor/) by updating the add-on to point to these environments in Windows, Mac and Linux.

[2020-04-03 06:16] ValentinaPC commented on #881
I have verified the issue, and it is still reproducible, using Firefox Nightly 76.0a1 ( Build ID20200402095145) on -stage (https://color.stage.mozaws.net/) and -dev (https://mozilla.github.io/FirefoxColor/) by updating the add-on to point to these environments in Windows, Mac and Linux.

[2020-04-03 06:27] ValentinaPC commented on #881
I have verified the issue, and it is still reproducible, using Firefox Nightly 76.0a1 ( Build ID20200402095145) on -stage (https://color.stage.mozaws.net/) and -dev (https://mozilla.github.io/FirefoxColor/) by updating the add-on to point to these environments in Windows, Mac and Linux.

- if we have saved themes on 2 pages, deleting all themes from the last page will not redirect the user to firs

[2020-04-03 13:12] #909 closed

[2020-04-03 13:14] Rob--W commented on #888
Neither the stage nor the dev branches have been updated yet.

stage was last updated in February, 29th.
dev was last updated a year ago (april 2019).

[2020-04-03 13:55] Rob--W commented on #907
CircleCI does not seem to support branch-specific environment variables, according to the resources that I have consulted:

- https://ideas.circleci.com/ideas/CCI-I-302
- https://stackoverflow.com/questions/44749061/circleci-different-value-to-environment-variable-according-to-the-branch
- (and a few others)

I think that we have to add some inline shell scripting (or a shell script to be sourced)

[2020-04-05 21:58] #845 closed

[2020-04-05 21:58] #907 closed

[2020-04-07 00:38] rebmullin commented on #878
This fix has not been pushed to stage yet. I am going to close this and I can reassign it to you when it's ready. What is the best way to do that?

[2020-04-07 00:38] #878 closed

[2020-04-09 02:50] rebmullin commented on #361
hey @ValentinaPC, is it possible to QA this? It should be on stage to be reviewed?

[2020-04-14 01:12] rebmullin commented on #888
can you please check again? We just did a release to stage..

thank you!

[2020-04-14 01:12] #888 closed

[2020-04-14 01:15] rebmullin commented on #881
Hi @ValentinaPC, can you please check this again? This was not deployed to stage before today..

thank you!

[2020-04-14 01:15] #881 closed

[2020-04-14 01:19] rebmullin commented on #146
We got feedback from the community and this - #864 - was deployed to production on 4/13

[2020-04-14 01:19] #146 closed

[2020-04-14 01:22] rebmullin commented on #878
#899 has been deployed to stage so okay to recheck this when you can. thanks!

[2020-04-15 20:08] ladymacintosh opened #922 "background lacks theme - bookmarking via toolbar"
when using the 'star' icon in the toolbar to bookmark a page, the custom colors are only applied to the text, which, depending on the colors used, can make it very difficult or impossible to add bookmarks this way. use the background color for the popup window?
using firefox v 75.0 (64-bit) on mac
<img width="355" alt="bookmarkwindow" src="https://user-images.githubusercontent.com/5327132/79382989

[2020-04-21 23:10] andreicristianpetcu opened #923 "Support other properties from the URL even if the UI does not like ntp_ ones"
If I visit this URL

https://color.firefox.com/?theme=XQAAAAKEAwAAAAAAAABBqYhm849SCicxcUV5wYurLpubfikoJrYDaXef7eDwUAjshNvI2R1-qq64xJcRb6iFRYLtb_2uPCIluCEjcsDFhxGAKMrYS8NozTghHsnboe7DXFl_DJxNDhj3ISa2-Y1jhjzCKx_Owt6rCmfzvQKMUtPQkskDCwjepZb-j1ucSfa4-ID1aN-qQ9aiRpUq20b8egfX-XhyZAujr68cTFrCEODOce4x7AncvKoiLElwJNJ1pSIqMo1khLnCPZsqsa5CrfWMdOsQsor0B4Mw5i36fNepTl44I-ZelGkPO7gtegjdtF44Ezr96Tv4rktLrQS4Pjr1q2

[2020-04-22 08:14] JAYNE307 commented on #342
Latest

[2020-04-22 12:49] kinduff commented on #923
I see a lot of potential in FirefoxColor and the attributes that @andreicristianpetcu is listing would make it a more usable tool for creators and power users.

I've seen Andrei's work and he's remarkable, would love to see a PR from him in this project.

[2020-04-22 13:05] mjswensen commented on #923
Agreed. For example, currently [themer](https://github.com/mjswensen/themer) supports both Color and a full add-on, simply because Color is relatively limited. Would love to see better support for full themes since Color is so convenient to use.

Also, +1 on @andreicristianpetcu , if he has the time to work on this — gets the job done and gets it done quick.

[2020-04-22 14:00] Rob--W commented on #923
We are willing to accept pull requests to provide support for properties beyond the currently supported ones, provided that the proposal has a reasonable UI and UX.

Every supported property must explicitly be listed in the code (unrecognized properties should not be supported). The user should clearly be able to see that a theme has more properties besides the default ones, and they should be abl

[2020-04-25 09:11] andreicristianpetcu commented on #923
How about this:
- toolbar_field_separator = toolbar_field
- toolbar_bottom_separator = toolbar
- ntp_background = new item in the UI
- ntp_text = new item in the UI

Here is a mockup
![image](https://user-images.githubusercontent.com/922368/80275981-ebd1fc80-86ed-11ea-8e77-eedf50d0493e.png)

[2020-04-25 19:48] rebmullin commented on #223
I could not replicate this issue. Please reopen again if you can replicate.

[2020-04-25 19:48] #223 closed

[2020-04-25 19:51] rebmullin commented on #244
the ui has changed here so seems like this can be changed. please reopen with updates if needed. thanks!

[2020-04-25 19:51] #244 closed

[2020-04-25 19:55] rebmullin commented on #279
I could not replicate this issue and this is with the older UI so seems like okay to close. Please reopen if necessary.

[2020-04-25 19:55] #279 closed

[2020-04-25 20:06] rebmullin commented on #311
The ui has changed but there was a similar issue with the new UI (see #886). This  should be fixed on stage. Please reopen if you see something different.

[2020-04-25 20:06] #311 closed

[2020-04-25 20:13] rebmullin commented on #312
Since the ui has changed, I will close for now but please reopen if this is the expectation.

[2020-04-25 20:13] #312 closed

[2020-04-25 20:16] rebmullin commented on #313
note: it seems this still exists even with the new ui.

[2020-04-25 21:27] Rob--W commented on #923
What about the other properties from your first comment?

They can be set independently, so I would prefer to have them as separate options, possibly with an option to default to the other theme if not set, e.g. like this:

[code]

When [icon] is clicked, the color picker is shown, but there is also an option to select an existing color definition. There should be a reset button to reset it to the

[2020-04-26 14:25] andreicristianpetcu commented on #923
I'm trying to get here the simplest thing that could possibly work. The goal is not to break old behavior. Here's my proposal based on your comments:

![image](https://user-images.githubusercontent.com/922368/80310338-c07d0980-87e2-11ea-9672-57431fbd3f8d.png)

I can add the full list in the UI, even if the values are not previewed.

I think reset to default is a nice improvement idea but maybe out

[2020-04-26 18:17] andreicristianpetcu commented on #923
I added the 4 I mentioned above since these are the ones I care about most. Here is the diff https://github.com/mozilla/FirefoxColor/compare/development...andreicristianpetcu:advanced_colors?expand=1

Here is how it looks. Is this a good direction? Should I add the rest?
I need to work on the default colors so that I don't break existing themes.  ntp_text and ntp_background work as expected but th

[2020-04-26 20:12] Rob--W commented on #866
FYI the presence of this bug was blocking work in PR #844, so this bug is going to be resolved by #844 . For those who are curious, the issue and the proposed fix are described in https://github.com/mozilla/FirefoxColor/pull/844#pullrequestreview-400425546

[2020-04-26 20:29] Rob--W commented on #923
Old behavior is "broken" (i.e. changed) when anything is added to `default.json`. This is what I wrote in paragraph 3 in my initial reply: https://github.com/mozilla/FirefoxColor/issues/923#issuecomment-617797335

To support new properties without adding them to default.json, the [`normalizeThemeColors`](https://github.com/mozilla/FirefoxColor/blob/cb5a6437739569629b315b895e6c0f2f1d612a3c/src/lib/

[2020-04-27 05:22] andreicristianpetcu commented on #923
Will look into normalizeThemeColors.
Raw theme data only runs on localhost. I did not add it.

[2020-04-28 23:57] #302 closed

[2020-05-04 15:08] SoftVision-SimonaRosu commented on #881
I have verified this issue on the stage server of the Firefox Color website and is no longer reproducible. Tested using the latest Nightly 77.0a1 (Build ID: ), Firefox RC 76 (Build ID: 20200427162639), Firefox Release 75 (Build ID:) on Windows 10 x64, Ubuntu 18.04 x64, Mac 10.14.6.
- After all the themes are deleted from the last page, you are correctly redirected to the previous one.
- The themes

[2020-05-04 15:11] Rob--W commented on #881
I can confirm - this has not been deployed to prod yet:

- The prod branch is still at Feb 29 - https://github.com/mozilla/FirefoxColor/tree/production
- The stage branch is up to date, Apr 29 - https://github.com/mozilla/FirefoxColor/tree/stage

[2020-05-04 15:16] SoftVision-SimonaRosu commented on #878
I have verified this issue on the stage server of the Firefox Color website and is no longer reproducible. Tested using the latest Nightly 77.0a1 (Build ID: ), Firefox RC 76 (Build ID: 20200427162639), Firefox Release 75 (Build ID:) on Windows 10 x64, Ubuntu 18.04 x64, Mac 10.14.6.
- The Share notification message points to the “Share” button.

However, the issue is still reproducible with the pro

[2020-05-04 15:18] SoftVision-SimonaRosu commented on #311
I have verified this issue on the stage server of the Firefox Color website and is no longer reproducible. Tested using the latest Nightly 77.0a1 (Build ID: 20200504093644 ), Firefox RC 76 (Build ID: 20200427162639), Firefox Release 75 (Build ID:) on Windows 10 x64, Ubuntu 18.04 x64, Mac 10.14.6.
- The ”Save” button is changed to “Saved!” grayed out button when a theme is saved.

However, the issu

[2020-05-04 15:46] heres-maria commented on #312
I have verified that this issue is not reproducible on the new UI version of the stage website. Deleting a theme will re-enable the Save button. Using the undo button to return to the deleted theme will also not disable the button. As such, I am marking this as verified fixed.
Tested using Nightly 77.0a1 (Build ID: 20200504093644 ), Firefox Beta 76.0 (Build ID: 20200427162639), Firefox Release 75

[2020-05-04 15:52] heres-maria commented on #888
I have verified this issue is no longer reproducible on the stage server of the Firefox Color website. The tooltips now display the correct messages.
Tested using Nightly 77.0a1 (Build ID: 20200504093644 ), Firefox RC 76 (Build ID: 20200429185419), Firefox Release 75 (Build ID: 20200403170909) on Windows 10 x64, Mint 19.2, Mac 10.14.6.

[2020-05-04 22:34] caitmuenster commented on #888
Thank you @heres-maria!

[2020-05-04 22:35] caitmuenster commented on #311
Thanks @SoftVision-SimonaRosu! Correct, this hasn't been deployed to prod yet. Glad to know it's fixed on stage.

[2020-05-09 18:24] andreicristianpetcu commented on #923
How is this for you, @Rob--W ? Is this going in the direction you mentioned?
I removed the colors from default.json and used normalizeThemeColors here is the diff https://github.com/mozilla/FirefoxColor/compare/master...andreicristianpetcu:advanced_colors

TODO:
 - The [x] for not color present is ugly, I'll find some nice SVG
 - I'll use the same SVG as above in the preset color section to offer

[2020-05-09 19:29] Rob--W commented on #923
Looks like the right direction.

Do you intend to add more colors beyond those four? The reason for the advanced colors tab is to have the ability to customize potentially anything that Firefox supports. Possibly with a search box to filter by color description if needed, and of course a notice that previewing the theme requires Firefox color to be installed.

[2020-05-09 20:02] andreicristianpetcu commented on #923
Yes, I want to add more colors. Search box seems like an extra feature, not part of this. It's an improvement. I can add a notice.

[2020-05-10 03:54] andreicristianpetcu commented on #923
@Rob--W This is what I have until now. You said you wanted an option to reset or delete the color. Where do you want me to put this icon? Currently once you set an advanced color, you cannot unset it.

![color2](https://user-images.githubusercontent.com/922368/81490426-eac2d280-928a-11ea-98a0-983d30dcb06c.gif)

[2020-05-10 03:56] andreicristianpetcu commented on #923
this is the icon. https://fontawesome.com/icons/paint-brush?style=solid I did not find how to add attribution to it since it's CC BY 4.0. Will look into that before I merge.

[2020-05-10 04:13] andreicristianpetcu commented on #923
something like this for the delete/undo?
![image](https://user-images.githubusercontent.com/922368/81490677-bac8fe80-928d-11ea-888f-b688bd1866a8.png)

[2020-05-10 04:15] andreicristianpetcu commented on #923
Or maybe this since the undo icon might create confusion with the one at the top right.
![image](https://user-images.githubusercontent.com/922368/81490709-05e31180-928e-11ea-9402-8601bcaa46ab.png)

[2020-05-10 07:29] andreicristianpetcu commented on #923
I implemented the revert. It only works for advanced colors.
![color3](https://user-images.githubusercontent.com/922368/81493433-04731280-92a9-11ea-9ac3-41165cf362ec.gif)

[2020-05-11 16:10] andreicristianpetcu commented on #740
Will be fixed by this https://github.com/mozilla/FirefoxColor/issues/923#issuecomment-626269298

[2020-05-11 16:19] andreicristianpetcu commented on #325
the advanced tab will have more properties but without preview https://github.com/mozilla/FirefoxColor/issues/923#issuecomment-626269298

[2020-05-11 16:21] andreicristianpetcu commented on #470
the border will be editable once this lands https://github.com/mozilla/FirefoxColor/issues/923#issuecomment-626269298

[2020-05-11 16:24] andreicristianpetcu commented on #616
will be editable once this lands https://github.com/mozilla/FirefoxColor/issues/923#issuecomment-626269298

[2020-05-11 18:34] andreicristianpetcu commented on #923
@Rob--W I added the test that you asked. The CI is passing. Here is the PR https://github.com/mozilla/FirefoxColor/pull/929

[2020-05-29 09:56] esteiner44 opened #930 "Toolbar bottom separator"
Good Morning,

When I select a background color, the toolbar bottom separator also gets that color and creates an unsightly effect. I would like, if possible, for more elements to be added for customization or for the separator to not get the background color.

Best regards

[2020-05-29 13:36] mitchell-frost commented on #930
I would like to work on this but can I have a little more details?

[2020-05-29 13:43] mitchell-frost commented on #533
If it is open, I would like to work on this!

[2020-05-29 13:44] mitchell-frost commented on #367
Can I work on this issue if it's open?

[2020-05-29 13:47] mitchell-frost commented on #334
Hey! Can I work on this issue if it's still open?

[2020-05-29 14:32] esteiner44 commented on #930
When you change the "Background Color" property (image 1, arrow 1) you also change the color of the tool separator (image 1, arrow 2).

![1](https://user-images.githubusercontent.com/66116964/83271152-bd9e7b80-a1c9-11ea-834b-6a141806421c.jpg)
At first I thought it was part of the program's interface but it is not because it happens on all pages (image 2, arrow 1). I have noticed that in other topi

[2020-05-29 17:13] mitchell-frost commented on #930
I will take a look at this and see if I can reproduce the issue.

[2020-05-29 21:33] esteiner44 commented on #930
I have not done anything special, changing the "Background color" property also changes that line.

For help, this is a screenshot of a downloaded theme and it doesn't have the line.

![3](https://user-images.githubusercontent.com/66116964/83307214-800b1400-a204-11ea-984c-a73c7414c321.jpg)
And this is a theme created with the program and as you can see if the line is there.

![4](https://user-imag

[2020-05-29 21:43] caitmuenster commented on #334
Hey @mitchell-frost! I saw you're interested in working on a few issues for this repo. 😁 This is a good one to start with! Once you've gotten a feel for the code base, we can take a look at the other issues.

[2020-05-31 12:53] mitchell-frost commented on #334
@caitmuenster  I will work on this one first then. Thanks for the heads up. :)

[2020-05-31 13:07] mitchell-frost commented on #334
I am unable to reproduce the issue. I will take a look at the codebase though and try to find out why it might be occurring.

[2020-06-09 21:22] #923 closed

[2020-06-30 10:47] acornestean opened #933 "“Button Background Active” and “Button background Hover” are reversed for Back Button"
Preconditions:
1. Go to about:config and change the “xpinstall.signatures.required” pref to “false”
2. Access https://color.stage.mozaws.net/
3. Click on the “Advanced colors” tab
4. Click on “Firefox Color Extension” link from the right side panel
5. On the newly opened page, click on “Unsigned add-on for color.stage.mozaws.net “
6. Follow the instructions on the doorhangers and install the Firef

[2020-06-30 11:33] acornestean opened #934 "Color picker section spills out of designated space when too many custom colors are added"
Preconditions:
1. Go to about:config and change the “xpinstall.signatures.required” pref to “false”
2. Access https://color.stage.mozaws.net/
3. Click on the “Advanced colors” tab
4. Click on “Firefox Color Extension” link from the right side panel
5. On the newly opened page, click on “Unsigned add-on for color.stage.mozaws.net “
6. Follow the instructions on the doorhangers and install the Firef

[2020-07-01 10:13] acornestean commented on #934
The issue also occurs on Unbranded Release (77.0.1/20200602222727).

[2020-07-01 10:14] acornestean commented on #933
The issue also occurs on Unbranded Release (77.0.1/20200602222727).

[2020-07-01 11:14] acornestean opened #935 "“Revert All” button reverts to default theme even if another theme was previously installed and enabled"
Preconditions:
1. Go to about:config and change the “xpinstall.signatures.required” pref to “false”
2. Access https://color.stage.mozaws.net/
3. Click on the “Advanced colors” tab
4. Click on “Firefox Color Extension” link from the right side panel
5. On the newly opened page, click on “Unsigned add-on for color.stage.mozaws.net “
6. Follow the instructions on the doorhangers and install the Firef

[2020-07-01 12:56] acornestean opened #936 "“Tab Loading” property is not functional"
Preconditions:
1. Go to about:config and change the “xpinstall.signatures.required” pref to “false”
2. Access https://color.stage.mozaws.net/
3. Click on the “Advanced colors” tab
4. Click on “Firefox Color Extension” link from the right side panel
5. On the newly opened page, click on “Unsigned add-on for color.stage.mozaws.net “
6. Follow the instructions on the doorhangers and install the Firef

[2020-07-02 12:06] acornestean opened #937 "“Terms & Privacy” popup links do not turn purple after being accessed"
Preconditions:
1. Go to about:config and change the “xpinstall.signatures.required” pref to “false”
2. Access https://color.stage.mozaws.net/
3. Click on the “Advanced colors” tab
4. Click on “Firefox Color Extension” link from the right side panel
5. On the newly opened page, click on “Unsigned add-on for color.stage.mozaws.net “
6. Follow the instructions on the doorhangers and install the Firef

[2020-07-03 07:27] acornestean opened #938 "Saving a custom theme will focus the “Custom backgrounds” tab instead of the “Saved themes”"
Preconditions:
1. Go to about:config and change the “xpinstall.signatures.required” pref to “false”
2. Access https://color.stage.mozaws.net/
3. Click on the “Advanced colors” tab
4. Click on “Firefox Color Extension” link from the right side panel
5. On the newly opened page, click on “Unsigned add-on for color.stage.mozaws.net “
6. Follow the instructions on the doorhangers and install the Firef

[2020-07-03 07:29] acornestean commented on #933
The issue also occurs on macOS Catalina 10.15 as well.

[2020-07-03 07:29] acornestean commented on #934
The issue also occurs on macOS Catalina 10.15 as well.

[2020-07-03 07:29] acornestean commented on #935
The issue also occurs on macOS Catalina 10.15 as well.

[2020-07-03 07:30] acornestean commented on #936
The issue also occurs on macOS Catalina 10.15 as well.

[2020-07-03 07:30] acornestean commented on #937
The issue also occurs on macOS Catalina 10.15 as well.

[2020-07-03 10:41] acornestean opened #939 "“Retry” button remains on the position is was triggered on and not on the image it was triggered on"
Preconditions:
1. Go to about:config and change the “xpinstall.signatures.required” pref to “false”
2. Access https://color.stage.mozaws.net/
3. Click on the “Advanced colors” tab
4. Click on “Firefox Color Extension” link from the right side panel
5. On the newly opened page, click on “Unsigned add-on for color.stage.mozaws.net “
6. Follow the instructions on the doorhangers and install the Firef

[2020-07-07 02:39] Rob--W commented on #935
This is a limitation of Firefox. Firefox Color overrides the global default theme. At that point, Firefox doesn't know about the previous default theme any more, so when the theme is reset, the default (non-custom) theme is used instead.

There is some relevant discussion upstream at https://bugzilla.mozilla.org/show_bug.cgi?id=1415267

[2020-07-07 02:39] #935 closed

[2020-07-07 19:30] andreicristianpetcu commented on #933
I can reproduce it without Firefox Color. I propose to close this and track it here https://bugzilla.mozilla.org/show_bug.cgi?id=1651182

[2020-07-07 19:52] andreicristianpetcu commented on #934
@Rob--W should I increase the height of the container?

[2020-07-07 20:41] Rob--W commented on #934
I didn't look at the code, but I wouldn't be surprised that the color picker has a flexible maximum height, but that it doesn't account for the vertical space used by the radio buttons + labels above it.

If that is the case, the correct fix would be to update the stylesheet to account for it.

Have you tried to look into the reason for the overflowing color picker?

[2020-07-07 20:55] andreicristianpetcu commented on #934
I only debugged the other one https://github.com/mozilla/FirefoxColor/issues/933
Will debug this in the following days.

[2020-07-08 19:18] andreicristianpetcu commented on #936
I found the problem. Would this fix be enough + a unit test? @Rob--W https://github.com/mozilla/FirefoxColor/pull/940/files

[2020-07-08 20:41] andreicristianpetcu commented on #936
Nice find! @acornestean

[2020-07-08 20:50] andreicristianpetcu commented on #934
Here is a URL to test http://localhost:8080/?theme=XQAAAAJkBAAAAAAAAABBKYhm849SCicxcUhA3DJozHnOMuprjJvk-_nNDqSKHtgQaNQFl-kzjFk5azS5uYzbkxY5IUgg66HUg57HiM-NZ7wq2LhoN8zuKpmn9s9r5gjodn8vAo5JpaGEGeCaVkqBjA06ppfhtPbW8Tu9xx65L74OzIifZD80wrQQ4iv6IPy6t32uDBODpL0QRh_Q4CNLKqkxuzock9gUoLVszpI0UjSH5W9Pg9XK0vW76a72jLCMlQMBxTGyyfi-j7SwSDHhfY5m1xn05h9C2n32sxU0i1St8NydnX11RG15lgrQ3UtBEqCqTlU5Y3K9XMy6orSkHen4Z5tLV

[2020-07-08 20:54] andreicristianpetcu commented on #934
.theme-builder__content is the one that sets the height to a fixed one. It's 400px. It looks better with 445px but I'm trying a better fix.

![image](https://user-images.githubusercontent.com/922368/86969338-4bc93280-c176-11ea-8d37-83fbcb34427d.png)

[2020-07-08 20:56] andreicristianpetcu commented on #934
Also the picker has all the style inline.
![image](https://user-images.githubusercontent.com/922368/86969504-93e85500-c176-11ea-98b9-f95bc8ca0c16.png)

[2020-07-08 21:21] andreicristianpetcu commented on #934
This is my best fix
![image](https://user-images.githubusercontent.com/922368/86971574-132b5800-c17a-11ea-9216-f0bbac167076.png)

[2020-07-08 22:30] Rob--W commented on #934
This looks bad on the standard "Custom colors" tab, because of the unbalanced spacing around the `.storage-space-information` element.

Could you limit the height change to `#theme-builder-tab-content-advanced-colors` only? And while you are at it, please add some spacing above the storage-space-information, so that it doesn't look like it's sticked to the list of advanced colors.

And let's short

[2020-07-09 00:07] andreicristianpetcu commented on #934
I'm not sure I understand what you want. I set the CSS to this (no other changes):
[code]
And this is how they look
![image](https://user-images.githubusercontent.com/922368/86981945-a8d1e200-c190-11ea-8e06-414f2fab366c.png)
![image](https://user-images.githubusercontent.com/922368/86981951-aec7c300-c190-11ea-8ecb-f4227b966ade.png)

The tabs bar jumps up and down.

[2020-07-09 00:10] andreicristianpetcu commented on #934
I only changed the .storage-space-information spacing and the text since I don't understand the request about #theme-builder-tab-content-advanced-colors.
You can edit this yourself if it's faster.
This is how they look now.
![image](https://user-images.githubusercontent.com/922368/86982287-8f7d6580-c191-11ea-839c-8ffd2bc47ba8.png)
![image](https://user-images.githubusercontent.com/922368/86982322-

[2020-07-15 16:19] #934 closed

[2020-07-15 16:19] #936 closed

[2020-07-15 16:19] #938 closed

[2020-07-16 13:56] acornestean commented on #934
Verified the fix on the latest Nightly (80.0a1/20200716094032), Beta Dev Edition (79.0b8/20200714212005) and Unbranded Release (78.0.2/20200708170202) under Windows 10 Pro 64-bit and Ubuntu 16.04 LTS.

The Color picker section no longer spills out when adding custom colors to all the properties of the “Advanced color” tab, confirming the fix.

[2020-07-16 14:01] acornestean commented on #936
Verified the fix on the latest Nightly (80.0a1/20200716094032), Beta Dev Edition (79.0b8/20200714212005) and Unbranded Release (78.0.2/20200708170202) under Windows 10 Pro 64-bit and Ubuntu 16.04 LTS.

The loading burst color is now properly set through the “Tab Loading” property from the “Advanced color” tab, HOWEVER, there is an issue with the loading indicator color, which manifests in 2 ways,

[2020-07-16 14:08] acornestean commented on #938
Verified the fix on the latest Nightly (80.0a1/20200716094032), Beta Dev Edition (79.0b8/20200714212005) and Unbranded Release (78.0.2/20200708170202) under Windows 10 Pro 64-bit and Ubuntu 16.04 LTS.

As soon as a custom theme is saved, the “Saved themes” tab will be focused, confirming the fix.

[2020-07-16 19:38] andreicristianpetcu commented on #936
no clue how this color change happens. 100% sure it's not from ff color

[2020-07-22 14:35] chutten opened #941 "Awesomebar autocomplete text missing background colour"
Without Firefox Color, my awesome bar autocompletes like so:

![image](https://user-images.githubusercontent.com/1123376/88188520-f5dc9c00-cc05-11ea-9dee-3d70aff7de5e.png)

With Firefox Color, my awesome bar autocompletes like so:

![image](https://user-images.githubusercontent.com/1123376/88188581-0ee54d00-cc06-11ea-9f77-82183831a622.png)

It's not so visually distinct and I'm not sure when exact

[2020-07-22 14:39] Rob--W commented on #941
Could you export and share the theme?

Has it always happened, or did it only start to happen recently? The new version of Firefox Color, 2.1.6 was released only a couple hours ago.

[2020-07-22 14:41] Rob--W commented on #922
Can you share the theme that causes this issue? I tried a few standard themes but don't see the issue (on Linux).

[2020-07-22 14:42] Rob--W commented on #930
This is now possible as of Firefox Color 2.1.6. You can customize all colors that Firefox supports through FirefoxColor. Can you confirm that this works as desired?

[2020-07-22 15:03] chutten commented on #941
This has been happening for some weeks, I've just been ignoring it until now : |

[theme.zip](https://github.com/mozilla/FirefoxColor/files/4960726/theme.zip)

Here's the theme with the added "Toolbar Field Highlight" colour

[2020-07-22 15:04] esteiner44 commented on #930
Yes now you can change the color of the bar! Thank you very much, I think that now it is the best extension that exists to create themes in Firefox, it has a clear interface and allows you to customize everything, it is incredible. Although the other extensions that I have seen are also very good, I keep this one.

Best regards

[2020-07-22 15:04] #930 closed

[2020-07-22 15:37] chutten commented on #941
Go to color.firefox.com with the theme, under "Advanced Colours" set "Toolbar Field Highlight" to "Use Firefox's default style"

I... _think_ this one has the bug, but I'm not sure if I have to "Save" it before Export:
[theme(1).zip](https://github.com/mozilla/FirefoxColor/files/4960907/theme.1.zip)

[2020-07-22 17:14] Rob--W commented on #941
Works for me, in Firefox 78.0.2 and Nightly on Linux and macOS. In all cases I see the default (blue) background when I choose "use Firefox's default style".

In Firefox Color 2.1.5 and earlier, or 2.1.6 + "Use Firefox's default style", the browser is not passed an explicit value for the `toolbar_field_highlight` theme property, and Firefox's default is used, whatever that may be.

[2020-07-22 18:09] chutten commented on #941
This was specifically on Windows 10, not sure if that made a difference (it shouldn't). "use default" reliably gets me to a transparent highlight. I wonder if maybe something's borked on my Beta somewhere else.

[2020-07-23 08:31] andreicristianpetcu commented on #740
Check out the new tab color in the advanced tab.

[2020-07-23 09:42] Rob--W commented on #740
This has been resolved by #940 thanks to @andreicristianpetcu .

[2020-07-23 09:42] #740 closed

[2020-07-23 10:19] andreicristianpetcu opened #942 "Can't set alpha for some colors"
I have a theme where I set these colors with an alpha.

popup_highlight
sidebar_highlight_text
sidebar_text
toolbar_field_separator
toolbar_field_text_focus
toolbar_top_separator

I can't replicate it with Firefox Color. More context here: https://github.com/mozilla/FirefoxColor/pull/940#issuecomment-662641273

[2020-07-23 10:29] Rob--W opened #943 "Add option to import theme from zip file"
The "Share" button only supports themes without images, but as soon as an image is included, it is no longer possible to share a linlk.
The next button, "Export", does offer the ability to export the theme, but once exported it cannot be imported in Firefox Color again.

Since we now support all theme properties (#940), it should be possible to offer an Import button that is an accurate representa

[2020-07-23 11:08] andreicristianpetcu commented on #942
I tested all of them and these are the colors that support alpha:

[code]

tab_background_separator simply does not work at all on my machine. Not sure if I should add it in the alpha or not.

[2020-07-23 11:32] Rob--W commented on #942
What does it mean to not support an alpha?

[2020-07-23 11:38] Rob--W commented on #941
I managed to reproduce with the same extension. For the lack of theme importing functionality, I tried to manually create your theme but probably made a mistake. I created a script to convert the theme to a format that Firefox Color recognizes and managed to reproduce the issue. Then I did some trial and error,and found that the following theme (independently of Firefox Color) reproduces the issue

[2020-07-23 11:57] andreicristianpetcu commented on #942
I added all the colors to colorsWithAlpha. I took all of them one by one and made them fully transparent. The ones above took the transparency value. The missing ones stayed opaque regardless of what I did.

[2020-07-23 12:01] andreicristianpetcu commented on #942
Also, some if them had a transparency minimum. I could make them transparent but not fully transparent. The popup in the burger menu can be invisible, the megabar can be just partially transparent.

[2020-07-23 12:06] Rob--W commented on #942
The Color extension accepted the values though, so I suggest to support alpha for all colors.

[2020-07-23 12:28] andreicristianpetcu commented on #942
so shoul I remove colorsWithAlpha?

[2020-07-23 14:30] chutten commented on #941
So by setting the "Search Bar Color" I was also setting the "Toolbar Field Highlight" unknowingly? Interesting.

If this is operating as designed and expected I'm happy to have this closed out if you want.

[2020-07-23 21:59] Rob--W commented on #941
"Toolbar Color", apparently.

Looks like it works as intended from Firefox Color's side.

[2020-07-23 21:59] #941 closed

[2020-07-23 22:03] Rob--W commented on #942
It was introduced in #55 (referring to #30), for some reason. I don't know why.

Rather than listing colors that support alpha, are there any colors where it is not supported? To start with, I'd be interested in the set of non-advanced colors.

What happens when alpha isn't supported?

[2020-07-24 09:09] andreicristianpetcu commented on #942
I tested both standard and advanced colors. Alpha either works, partially works until a limit or is ignored with no visible side effects. The ones in my list is where it gets ignored, I tested all of them.

[2020-07-24 10:28] Rob--W commented on #942
There are currently 38 colors (9 custom colors, 29 advanced colors).
Your list of colors with supported alpha contains 34 colors (1 unknown, 3 "alpha not supported").

* `tab_background_text` ([internally maps to `textcolor`](https://searchfox.org/mozilla-central/rev/227f22acef5c4865503bde9f835452bf38332c8e/toolkit/components/extensions/parent/ext-theme.js#183-184)), for which [alpha is stripped](

[2020-07-26 09:52] andreicristianpetcu commented on #942
@Rob--W some preset theme colors have `"a": 1` and some don't in the same theme. Either I always add the alpha and the `should not change preset themes` fails since I add it to some colors that don't have it, or I only add it when `a!==1` and then it fails when I remove it. What should I do?

I propose to remove it when alpha===1 and change the preset themes to match.

[2020-07-26 10:09] andreicristianpetcu commented on #942
Let's move the conversation on the PR directly https://github.com/mozilla/FirefoxColor/pull/944

[2020-07-27 23:54] #942 closed

[2020-07-27 23:56] Rob--W commented on #943
@andreicristianpetcu Is this something that you'd be interested in working on? Fixing this would allow FirefoxColor to more easily import themes with images inside.

[2020-07-28 00:07] andreicristianpetcu commented on #943
Sorry but I cannot. I'll focus my free time on about:logins.

[2020-07-28 00:08] andreicristianpetcu commented on #942
when should I expect to see this live? @Rob--W

[2020-07-31 01:05] Rob--W commented on #942
I just did some quick testing, and noticed that the preview in the page doesn't look like the real theme (e.g. the search bar color and the popup background).

The mismatch in previewed theme and actual is not user-friendly. I'd like to have that fixed before publishing a new release.

[2020-07-31 20:43] andreicristianpetcu commented on #942
Search bar with max blue http://localhost:8080/?theme=XQAAAAIGAQAAAAAAAABBKYhm849SCia2CaaEGccwS-xNKliFuyof_iFY4LTdRm0zbNXRVAF7ZvkTn5QQ2-t9nzLQFTpifiMl8GKPfmsqgwdA8IDH2jdY3mS1cmtKqrn0E3OxKHP1EBfWMpiDW0bSNdouHorYHNE_c-m7ImQodaDwmr6_BdGAxTbcUL_I8fEjqF-7PzRHC_LIcWxDDk3NaPPqdPBCid3B5c2UwXas8yDi1kbTH_92HyMA
![image](https://user-images.githubusercontent.com/922368/89075660-62ceff00-d387-11ea-88dd-e8d9ef

[2020-07-31 20:51] andreicristianpetcu commented on #942
Full red popup http://localhost:8080/?theme=XQAAAAIBAQAAAAAAAABBKYhm849SCia2CaaEGccwS-xMDPsqufDOWr6IhCp9RnjnsdP9GNu2SjSQBIXJelHlUb_p3iV0Tk_tp5WixtO7xQnun54TM0zzonAd6w0T64epRIX-MPh_WdfCiLMsTpHEXGfCIspKwaqBlVwgKloTziUxUNFaBxlHf93roKpsyb3_RSU6pROBa9KGdq7F4GlkWH_-mroPnQuOhmu1w3WoEXTtRWEyn__pXnig
![image](https://user-images.githubusercontent.com/922368/89076183-7b8be480-d388-11ea-9541-f1f92f88850f.png

[2020-07-31 21:27] andreicristianpetcu commented on #942
I guess a clip path with a triangle should do the trick

[2020-07-31 23:31] andreicristianpetcu commented on #942
Here is the fix for the popup
![image](https://user-images.githubusercontent.com/922368/89087972-cca6d300-d39e-11ea-83c3-1afb73ebe994.png)
![image](https://user-images.githubusercontent.com/922368/89087976-d29cb400-d39e-11ea-8aeb-ebf37583aeab.png)
![image](https://user-images.githubusercontent.com/922368/89087979-d7616800-d39e-11ea-8079-32d26c3bc241.png)
![image](https://user-images.githubusercont

[2020-07-31 23:35] andreicristianpetcu commented on #942
![image](https://user-images.githubusercontent.com/922368/89088168-9b7ad280-d39f-11ea-8333-2b889b2e66d5.png)
![image](https://user-images.githubusercontent.com/922368/89088173-9f0e5980-d39f-11ea-9c68-ce5ffde97a33.png)
![image](https://user-images.githubusercontent.com/922368/89088175-a33a7700-d39f-11ea-87b5-2cdb8f7edb2d.png)

[2020-08-01 20:37] Rob--W commented on #942
Previously, I tested with add-on version 2.1.6 + the new website (with your change), and although the preview showed transparency, the browser did not. That's what I considered inconsistent and why I referred to it as a bad UX.

But apparently there is nothing wrong with the code itself: When I tested again, but with the add-on built from the source instead of 2.1.6, the feature works as intended.

[2020-08-01 22:14] andreicristianpetcu commented on #942
A new version will fully adress my needs. See this comment. https://github.com/mozilla/FirefoxColor/pull/944#issuecomment-663970460

[2020-08-02 09:27] #705 closed

[2020-08-02 09:28] #616 closed

[2020-08-02 14:28] andreicristianpetcu commented on #349
Currently FF Color supports all colors an AMO theme would support.

[2020-08-06 19:03] himanshujaidka commented on #883
Now, I am working on this issue :)

[2020-08-07 08:23] himanshujaidka commented on #883
@Rob--W please guide me

[2020-08-07 08:52] himanshujaidka commented on #883
Insertion of close button to pop-up will work? @Rob--W

[2020-08-11 08:08] himanshujaidka commented on #943
I would like to do work on this issue

[2020-08-12 22:56] Rob--W commented on #943
To resolve this bug, the following needs to be implemented:

1. Logic that reads a zip file (given by the user), reads the containing manifest.json and convert it to a theme object (its format is specified by https://github.com/mozilla/FirefoxColor/blob/master/docs/theme-schema.json, and examples of valid theme objects can be found at https://github.com/mozilla/FirefoxColor/tree/master/src/preset-

[2020-08-13 06:46] himanshujaidka commented on #943
when I am trying to do npm ci then my system consumes a lot of time

[2020-08-13 13:39] Rob--W commented on #943
`npm ci` installs all (dev)Dependencies. It can take several minutes, longer if your internet connection is slow. Just start `npm ci`, take a break and get back.

[2020-08-13 14:20] himanshujaidka commented on #943
ok thanks

[2020-08-13 15:47] himanshujaidka commented on #943
visual studio is mandatory for local installation? @Rob--W

[2020-08-13 15:49] himanshujaidka commented on #943
![Screenshot (47)](https://user-images.githubusercontent.com/58654018/90156822-8f810e80-ddaa-11ea-8466-720237484844.png)

[2020-08-13 15:50] himanshujaidka commented on #943
![Screenshot (48)](https://user-images.githubusercontent.com/58654018/90156910-b17a9100-ddaa-11ea-9074-beda503225c9.png)

[2020-08-13 15:51] himanshujaidka commented on #943
I am getting this error while installing dependencies 😥😓

[2020-08-13 17:34] Rob--W commented on #943
I have updated the node-sass dependency, because [its README](https://github.com/sass/node-sass#node-sass) claimed that Node 14+ is only supported as of node-sass version 4.14+. Could you retry?

[2020-08-13 17:44] himanshujaidka commented on #943
yeah yeah why not sir

[2020-08-13 19:11] himanshujaidka commented on #943
![Uploading Screenshot (50).png…]()

[2020-08-13 19:12] himanshujaidka commented on #943
![Screenshot (50)](https://user-images.githubusercontent.com/58654018/90176711-01675100-ddc7-11ea-824a-2ee2dd6e24ed.png)

[2020-08-13 19:13] himanshujaidka commented on #943
Another error while installing dependencies (ELIFECYCLE) @Rob--W

[2020-08-14 11:32] Rob--W commented on #943
`npm ci` installs the dependencies as specified in package-lock.json. It seems that those packages (e.g. fsevents) are not compatible with your shell / platform. To have a compatible platform, [enable WSL](https://docs.microsoft.com/en-us/windows/wsl/install-win10) (or maybe just install git bash to have a compatible shell).

Alternatively, you could try to simply run `npm i` instead of `npm ci`.

[2020-08-14 11:42] himanshujaidka commented on #943
okay

[2020-08-17 11:00] himanshujaidka commented on #943
@Rob--W it is now working

[2020-08-17 11:25] himanshujaidka commented on #943
please review #947

[2020-08-17 11:25] himanshujaidka commented on #943
@Rob--W

[2020-08-17 12:55] Rob--W commented on #866
Fixed by #844.

[2020-08-17 12:55] #866 closed

[2020-08-19 15:59] himanshujaidka commented on #943
how to convert manifest to theme object @Rob--W, I am new to this

[2020-08-19 18:38] andreicristianpetcu commented on #943
Change the format of the colors to be {r: 1, g: 2, b: 4 } and remove unused properties.

Here is the same theme in [manifest.json](https://github.com/andreicristianpetcu/firefox_themes/blob/master/dark_fenix/manifest.json) and [theme object](https://github.com/andreicristianpetcu/firefox_themes/blob/master/dark_fenix/ff_color.json).

Hope this helps. I'm no expert :smile:

[2020-08-19 18:39] andreicristianpetcu commented on #943
Make sure you don't remote manifest fields that are used in theme objects https://github.com/mozilla/FirefoxColor/tree/master/src/preset-themes

[2020-08-19 20:39] Rob--W commented on #943
@andreicristianpetcu 's example above (https://github.com/mozilla/FirefoxColor/issues/943#issuecomment-676593439) looks good.

A more precise definition of the format is available in the form of JSON schemas. I linked to the schema for the Theme object in https://github.com/mozilla/FirefoxColor/issues/943#issuecomment-673149723 .
The schema for the theme in the manifest in Firefox is here: https:/

[2020-08-20 03:37] himanshujaidka commented on #943
@andreicristianpetcu @Rob--W ok please give me some time to understand the things

[2020-08-24 04:25] himanshujaidka commented on #943
https://stackoverflow.com/questions/32267930/get-name-of-files-of-zip-file-in-javascript
@Rob--W will this logic help to read the zip file imported by the user?

[2020-08-25 05:24] himanshujaidka commented on #943
@Rob--W Please take a look!

[2020-08-25 15:03] Rob--W commented on #943
This project has an existing library for working with zip files. For example, [this logic in src/web/lib/export.js](https://github.com/mozilla/FirefoxColor/blob/d781645d68381d24712d668fe09043c5803ddebb/src/web/lib/export.js#L9-L52) is responsible for exporting the theme as a zip file. To read from a zip file, read [the documentation of JSZip](https://stuk.github.io/jszip/).

PS. Please give me som

[2020-08-25 15:14] himanshujaidka commented on #943
sorry @Rob--W

[2020-08-26 16:04] himanshujaidka commented on #943
Is there any other platform for discussions? @Rob--W

[2020-08-26 16:19] Rob--W commented on #943
Specific questions about this issue can be asked here.

I'm also on https://chat.mozilla.org/ with the nick `robwu`.

[2020-08-26 16:35] #937 closed

[2020-08-26 18:00] himanshujaidka commented on #943
Actually it is difficult for me  to understand how to work with zip files and for this issue I have created a new import.js file and imported JSZip and further steps are quite difficult, but I want to work and also want to solve this issue 😅😅 @Rob--W and sorry that I am disturbing you very much but as a beginner, it's my duty to learn new things 😅

[2020-08-27 14:24] himanshujaidka commented on #497
but after refreshing the page it becomes normal

[2020-08-27 14:26] himanshujaidka commented on #497
and the retry button is fixed to top image only

[2020-08-27 15:38] Rob--W commented on #939
Root cause is likely identical to #497.

[2020-09-05 19:54] sinky opened #952 "Saved themes not accessible"
The fake menu is overlaying the "Saved themes" Tab

![Screenshot_2020-09-05 Firefox Color](https://user-images.githubusercontent.com/822246/92312558-2c0d8980-efc2-11ea-9e0c-ee7ded5eb54d.png)

![Screenshot_2020-09-05 Firefox Color(1)](https://user-images.githubusercontent.com/822246/92312560-2f087a00-efc2-11ea-9665-cec81a585466.png)

[2020-09-05 19:57] sinky commented on #952
i just noticed i was on 110% page zoom

[2020-09-07 17:52] dannycolin opened #953 "Random function should generate themes with enough contrast"
** Step to reproduce**

0. Go to Firefox Color theme generator
0. Click on random

**Actual Behavior**

Most of the time the generated theme has a foreground and background color with a contrast so low that you can't even read the text. This is problematic in term of accessibility but also in term of UX because it forces the user to manually change on almost every generated theme.

**Expected Beha

[2020-09-09 09:48] Rob--W commented on #953
This looks like a reasonable request. It does seem that there is already some form of support for accessible themes, but it runs only 50% of the times:
- https://github.com/mozilla/FirefoxColor/blob/e5f198cf524fc570cf3c9b763a3f03465b000fba/src/web/lib/components/AppHeader/index.js#L35-L39
- https://github.com/mozilla/FirefoxColor/blob/d781645d68381d24712d668fe09043c5803ddebb/src/lib/generators.js

[2020-09-10 16:06] dannycolin commented on #953
When I tried it felt like more than 50%. Maybe it was due to the fact that even if I don't have any visual impairment the contrast was still too low for my use case -> on a laptop with low brightness.

[2020-09-11 12:17] carlesba opened #954 "[feature request] Missing Sidebar background color customization"
I can't find the sidebar background color, ie: bookmarks sidebar background. According to the [documentation](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/theme#colors) this is customizable.
Is there any plan to add this?

Thanks for the extension, it's pretty cool!

[2020-09-11 12:46] Rob--W commented on #954
Have you looked at the Advanced colors tab?

[2020-09-11 22:54] naoliv opened #957 "New tab background color"
Unless I am misunderstanding something here, it's not possible to customize the new tab background color? (which is white, by default)

For example, when trying to create a darker theme I couldn't get rid of this white background (on the `about:blank` tabs):

![](https://user-images.githubusercontent.com/982338/92979255-74b4bf00-f468-11ea-9e1f-2f00b909e47e.png)

[2020-09-13 14:03] Rob--W commented on #957
The background color of the `about:blank` page is not controlled by themes, but by whether your system is using a dark theme.

If you have not or cannot changed your system's "dark theme" setting, then you can force the dark theme to be enabled as follows:

1. Visit `about:config`.
2. Put `ui.systemUsesDarkTheme` in the input box, and set it to 1.

This preference does not only change the appearan

[2020-09-13 16:42] naoliv commented on #957
Interesting! I didn't know this.
Probably this issue could be closed then?
Thank you a lot!

[2020-09-13 21:50] #957 closed

[2020-09-17 08:10] himanshujaidka commented on #943
I have made a logic to read all the files inside the zip but unable to do filter manifest.json file from the files, so how could I achieve this ? I want to read only manifest file which is present inside the zip and further I will be change it to theme object @Rob--W

[2020-09-17 10:40] Rob--W commented on #943
See https://github.com/mozilla/FirefoxColor/issues/943#issuecomment-680081286, where I referred to documentation where this is explained.

[2020-09-18 05:03] himanshujaidka commented on #943
okay

[2020-09-30 08:05] carlesba commented on #954
yes, you can set some of the panel colors like the border but the background is not defined as option

[2020-09-30 11:50] Rob--W commented on #954
I am able to change the sidebar's background by choosing a color for the "Sidebar" option (scroll down at the "Advanced colors" tab if you can't see it). If it doesn't work for you, could you describe which sidebar you're trying to paint?

[2020-09-30 16:19] carlesba commented on #954
I cannot find it:

<img width="1602" alt="Screenshot 2020-09-30 at 18 17 50" src="https://user-images.githubusercontent.com/1178459/94712233-7d066880-0349-11eb-9736-97d5bb739ae9.png">

[2020-09-30 16:59] Rob--W commented on #954
Although the scrollbar isn't visible (are you using Firefox on macOS?), there is a scrollable area containing those colors. The scrollbar is at the left of the grey panel.

[2020-10-01 06:58] carlesba commented on #954
🤦 sorry…
thanks @Rob--W

[2020-10-01 06:58] #954 closed

[2020-10-11 11:33] Filip62 commented on #349
I installed Firefox Color to modify the default dark theme. That would not be a problem if I had a default ff dark theme preset. So I just wanted to ask what is the current state of this and if there is a way for me to do this.

[2020-10-11 11:45] Rob--W commented on #349
There are three independent ways to solve this:
- Add the default themes as templates.
- Resolve #943 and allow one to manually import the manifest.json of a theme.
- Manually copy the theme colors to color.firefox.com

You can already do the last option, the colors of the built-in dark theme are at https://searchfox.org/mozilla-central/rev/dafb74eec8028248324018e8cd32b93808e3fd5c/browser/themes/a

[2020-10-11 11:54] nt1m commented on #349
FWIW, there are lots of bugs to resolve with `browser.theme.getCurrent()` & `browser.theme.reset()` which need fixing:

* https://bugzilla.mozilla.org/show_bug.cgi?id=1542044
* https://bugzilla.mozilla.org/show_bug.cgi?id=1542026
* Not filed (I think) but: `getCurrent()` needs to return something useful (`null` or actual theme values rather than `{}`)

[2020-10-11 14:04] Filip62 commented on #349
Okay, so I copied the theme colors manually from the built-in dark theme to Firefox Color.
Here is the link [Firefox Color Dark](https://color.firefox.com/?theme=XQAAAAIuAgAAAAAAAABBKYhm849SCicxcUCyhXcGHf3p79EhVPa0joWysPTQYGBfkWXFlAIMwvf6J3ozAyux9GaHVQJQ5DrI0ZnOdjE5po965-bwU0H2y4yf6rz2_JmB7vEtmgxE1e23XxDhVtpKJq_cviMUEOpKKUXciBMITrlfoCqIkxz1GidzK1WeQRU-YujWMsvY8_bdNxoe48b2eFvXFmU2bg8WlmIeZ0eoevAFx_

[2020-10-11 19:37] Rob--W commented on #349
Click on the Share button and export the link (to color.firefox.com). If you only set colors and no images, then it can be exported.
Your friend can then install Firefox Color and enable the theme.

[2020-10-21 08:21] reinhart1010 opened #958 "The “Learn More” button on Unsupported Website page incorrectly redirects to FPN"
When clicking the "Learn More" button in an "Unsupported Browser" page (e.g. when visiting on iOS Safari), the user inadvertently was redirected to the Firefox Private Network (FPN) website.

![image](https://user-images.githubusercontent.com/17312341/96692723-9468cc80-13b0-11eb-8408-c026dd85a63c.png)

This is likely because the entire Test Pilot website has been redirected to FPN. (Original Link

[2020-10-21 18:14] Rob--W commented on #958
Thanks @reinhart1010 for reporting this issue. I am going to fix that in #959 .

[2020-10-21 18:22] #958 closed

[2020-12-08 20:52] Peilonrayz opened #960 "Unable to change the sidebar's border colour"
Firefox Color doesn't change the colour of the border which you use to resize the sidebar. This is causing my theme to have an annoying discolouring that stands out.

![firefox](https://user-images.githubusercontent.com/5623093/101539441-740fc400-3996-11eb-8fad-41787b10c781.png)

I'm unsure if this is a problem with Firefox, not Firefox Color, as the sidebar's search box is also similarly discolou

[2020-12-09 00:51] Rob--W commented on #960
I don't see anything super obviously wrong in your screenshot, so I'll need a bit more information.
Could you provide more details?

1. Link to the theme.
2. An explanation of what you're expecting, and what happens instead.

[2020-12-09 14:44] Peilonrayz commented on #960
1.  Sure, here is a [link](https://color.firefox.com/?theme=XQAAAAJlBAAAAAAAAABBKYhm849SCicxcUhA3DJozHnOMuotJJDHi8ajvY2nrbwtWf53IW6FuNS6kABmHjQtYV0LyoDuxGGbkPNrE1DlVUWcgNiQMycZIeefh-FT7iUiTx8i8fwxQF9iTG6KYplTBFfm-7A_NHKF_sZ9Vjv7pOYGlqfDHJpXBBcorB91Gh7s_6mQoueRBvxyUanSDm7jM8iNcFtiiLEFX9Rvcy80JFXxHnYzqbs0JktGEWKHcmTT1e9pNa3xqg_AwnjOh1wSDjASx4hT2wLmaGpeg-FAJpfWmqReNZEXw50YNu1G2ViHPcs5kjc0pPTZsVumt6tH

[2020-12-09 15:58] Rob--W commented on #960
I see, but only after zooming in and putting the images next to each other.

Are you using Linux? I used the browser toolbox to inspect that bar, its class name is "sidebar-splitter", which is transparent on most platforms, except on Linux:
- All platforms: `background-color: transparent;` @ https://searchfox.org/mozilla-central/rev/ffdb6a4d934b3f5294f18cf0e1df618109ccb36b/browser/themes/shared/si

[2020-12-09 16:30] Peilonrayz commented on #960
Sorry I couldn't have been more clear. Yes, I'm using Linux. I've got that to work by fiddling with my `userChrome.css`. Thank you Rob--W you've been a great help.

`chrome/userChrome.css`
[code]

This seems like it's not an issue with Firefox Colour so I'll close the issue. Again thank you Rob--W.

[2020-12-09 16:30] #960 closed

[2020-12-30 05:47] himanshujaidka commented on #883
![Screenshot (115)](https://user-images.githubusercontent.com/58654018/103332593-89a57480-4a90-11eb-83ce-5bd706e780ff.png)
Is it ok sir?

[2020-12-30 06:02] himanshujaidka commented on #883
![Screenshot (116)](https://user-images.githubusercontent.com/58654018/103333077-9925bd00-4a92-11eb-82e7-223dbd671acc.png)
or I think it will work

[2020-12-30 06:23] himanshujaidka opened #961 "While scrolling bug arises"
https://user-images.githubusercontent.com/58654018/103333791-1f430300-4a95-11eb-9fe8-11bec560b05e.mp4

While working on issue no 883 I found that while scrolling there is a bug arise with .theme-colors-editor__picker

[2020-12-30 06:39] himanshujaidka commented on #883
In this, I have made changes in ThemesColorEditor

[2021-01-04 08:52] Rob--W commented on #883
@himanshujaidka Please submit a pull request with a meaningful title, and attach the screenshots there. Then it will be easier to check your patch.

[2021-01-04 09:46] Rob--W commented on #961
I watched the video a couple of times, but can't see anything wrong with it. Could you explain what you believe to be wrong?

[2021-01-04 15:30] himanshujaidka commented on #961
sir, open this web extension, then go to advanced color and select any of its options, then after selection, scroll down the screen then you will see that after scrolling the option will disappear and according to me it will not disappear while the user scrolling down the screen.

[2021-01-04 15:34] himanshujaidka commented on #961
![Screenshot (119)_LI](https://user-images.githubusercontent.com/58654018/103551506-70595980-4ed0-11eb-9756-4e98b7d2a3b6.jpg)
Before scrolling

[2021-01-04 15:35] himanshujaidka commented on #961
![Uploading Screenshot (120)_LI.jpg…]()
after scrolling

[2021-01-04 15:35] himanshujaidka commented on #961
![Screenshot (120)_LI](https://user-images.githubusercontent.com/58654018/103551604-9121af00-4ed0-11eb-9996-92de778fac98.jpg)
after scrolling

[2021-01-04 15:36] himanshujaidka commented on #883
okay

[2021-01-04 16:06] Rob--W commented on #961
This doesn't happen due to scrolling, but due to unfocusing the selected color.

This is working as intended.

[2021-01-04 16:06] #961 closed

[2021-01-04 16:08] himanshujaidka commented on #961
okay

[2021-01-04 16:16] himanshujaidka commented on #961
![Screenshot (121)](https://user-images.githubusercontent.com/58654018/103555376-2bd0bc80-4ed6-11eb-9c56-17f210a16cd1.png)
 if the user want to scroll down to see more options or to see anything else then after scrolling or while touching the scrollbar the whole panel will disappear

[2021-01-04 18:40] himanshujaidka commented on #961
https://user-images.githubusercontent.com/58654018/103567668-37c67980-4eea-11eb-8d07-5a82ffa1f3c5.mp4

and @Rob--W one more thing sir, when user small the tab size then after scrolling it will look like this and user unable to create their fav theme

[2021-01-11 22:52] renancleyson-dev commented on #334
Can I pick up this one as my first issue since there was no recent activity?

[2021-01-11 23:29] caitmuenster commented on #334
Go for it, @renancleyson-dev!

[2021-01-29 21:02] nullbasis opened #964 "Not possible to set color of background tabs?"
There's an option for background color, and an option for background tab _text_ color, but I don't see an option anywhere to set the color of background tabs, not even under Advanced Colors. This is a little frustrating when using a busy background image (as that overrides the Background Color property), since tab titles can be hard to read sometimes. Also, having separate options for background t

[2021-01-29 21:07] nullbasis commented on #952
This is an issue for me at 100% zoom. I have to go down to 80% to fix it.

[2021-01-31 11:16] medhefgo opened #965 "Add ability to change color for inactive windows"
There currently is no way to tell the active from inactive windows if the menu bar is disabled in firefox. Colors for "inactive window tab" and "inactive window tab text" would be nice to have.

[2021-02-01 12:37] Saffafatima12 commented on #883
Hi, I am new to Firefox color. I picked up this issue because no one seemed to be assigned to it and there seems to be no activity here in the last 28 days.

I have tried to fix the problem of overlapping popup by changing the '.browser' min-height property from 600px to 700px. The results are in the images attached below.  I have also made a PR with these changes named 'Fixes:#883 set .browser mi

[2021-02-08 21:18] #883 closed

[2021-02-08 21:18] #952 closed

[2021-02-08 21:18] #334 closed

[2021-02-28 15:46] spphinslove opened #967 "Firefox didn't get notify of switch theme on linux OS"
![图片](https://user-images.githubusercontent.com/11383988/109424392-65c5c700-7a1e-11eb-8c71-2ec3d640212f.png)
![图片](https://user-images.githubusercontent.com/11383988/109424427-89890d00-7a1e-11eb-9eee-c0ee831047ef.png)
**other application (GTK3) can switch normally**
I must restart firefox so it can switch to dark or light theme

PS:I have installed Dark Reader plugin for firefox,and set it follow